/*-----------------------------------------------------------------------------
>>> «HEADER» COMPONENT
-----------------------------------------------------------------------------*/

.satus-header
{
    position: relative;
    z-index: 1;

    display: flex;

    box-sizing: border-box;
    width: 100%;
    min-height: 58px;
    padding: 0 8px;

    color: var(--text-2);
    background: var(--background-2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);

    fill: var(--text-1);
}
