/*-----------------------------------------------------------------------------
>>> «HEADER» COMPONENT
-----------------------------------------------------------------------------*/

.satus-header
{
    display: flex;

    box-sizing: border-box;
    width: 100%;
    min-height: 58px;
    padding: 0 8px;

    color: var(--text-z-index-1);
    background: var(--background-z-index-1);

    fill: var(--text-z-index-1);
}
