/*--------------------------------------------------------------
>>> FOOTER:
----------------------------------------------------------------
# Hide
--------------------------------------------------------------*/

html[it-hide-footer='true'] ytd-guide-renderer #footer,
html[it-hide-footer='true'] yt-mealbar-promo-renderer  {
	display: none !important;	
}


