/*-----------------------------------------------------------------------------
>>> «SELECT» COMPONENT
-------------------------------------------------------------------------------
1.0 Item
2.0 Options
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.0 Item
-----------------------------------------------------------------------------*/

.satus-select
{
    position: relative;

    display: flex;

    box-sizing: border-box;
    width: 100%;
    height: 48px;
    min-height: 48px;
    padding: 0 16px;

    cursor: pointer;

    justify-content: space-between;
    align-items: center;
}

.satus-select svg
{
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;

    fill: #fff;
}

.satus-select > .label
{
    display: flex;

    margin: 0 8px 0 0;

    align-items: center;
}

.satus-select > .value
{
    font-size: 13px;

    text-align: right;

    opacity: .5;
}


/*-----------------------------------------------------------------------------
2.0 Options
-----------------------------------------------------------------------------*/

.satus-select__scrim
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: default;

    background: var(--main-item-hover--background);
}

.satus-select__options
{
    position: absolute;
    z-index: 999999999;
    left: 16px;

    overflow-y: auto;

    width: calc(100% - 32px);
    max-height: 300px;

    transform: translateY(-32px);
    animation: fadeInDown 90ms linear forwards;

    color: var(--text-z-index-2);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: var(--background-z-index-2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    fill: var(--text-z-index-2);
}

.satus-select__options > div
{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    height: 48px;
    padding: 0 16px;

    cursor: pointer;

    justify-content: center;
}

.satus-select__options > div:hover
{
    background: var(--main-item-hover--background);
}

@keyframes fadeInDown
{
    from
    {
        transform: translateY(-32px);

        opacity: 0;
    }
    to
    {
        transform: translateY(0);

        opacity: 1;
    }
}
