html[theme=desert]
{
    --it-primary-color: #f96754;

    --it-header-background: #bee3db;
    --it-header-title-color: #666;
    --it-header-button-color: rgba(0, 0, 0, .059);
    --it-header-icon-color: #666;

    --it-body-section-label-color: #666;
    --it-body-section-background: #bee3db;
    --it-body-background-color: #faf9f9;
    --it-item-hover-color: rgba(0, 0, 0, .04);
    --it-item-text-color: rgba(0, 0, 0, .87);
    --it-item-label-color: #666;
    --it-item-radio-color: rgba(0,0,0,.54);

    --it-body-appearance-shadow: #a4c5be;
}

.list__item_desert-theme > ul
{
    position: relative;

    overflow: hidden;

    background-image: radial-gradient(#ffe498 50%, transparent 50%),
    linear-gradient(#9dc2ee, #f5fdff);
    background-repeat: no-repeat;
    background-position: -120px 36px, 0;
    background-size: 240%, 100%;
}

@keyframes desert-sun
{
    0%
    {
        background: radial-gradient(#fefefe 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }

    50%
    {
        background: radial-gradient(#fefefe 20%,
        rgba(255, 255, 231, .30) 20%,
        rgba(255, 255, 231, .30) 35%,
        rgba(255, 255, 231, .20) 35%,
        rgba(255, 255, 231, .20) 55%,
        rgba(255, 255, 231, .10) 55%,
        rgba(255, 255, 231, .1) 75%, transparent 75%);
    }

    100%
    {
        background: radial-gradient(#fefefe 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }
}

.list__item_desert-theme > ul::before
{
    position: absolute;
    top: -100%;
    left: 40%;

    width: 10rem;
    height: 10rem;

    content: '';
    animation-name: desert-sun;
    animation-duration: .75s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    pointer-events: none;

    border-radius: 50%;
    background: radial-gradient(#fefefe 20%, rgba(255, 255, 231, .25) 20%, rgba(255, 255, 231, .25) 35%, rgba(255, 255, 231, .15) 35%, rgba(255, 255, 231, .15) 55%, rgba(255, 255, 231, .05) 55%, rgba(255, 255, 231, .05) 75%, transparent 75%);
}

.list__item_desert-theme .list__item_toggle .list__item__label
{
    color: #fafafa;
}

.list__item_desert-theme .list__item_toggle .list__item_toggle__status
{
    border-color: #fafafa;
}
