.header
{
    position: relative;
    z-index: 999;

    display: flex;

    box-sizing: border-box;
    height: 3.5rem;
    padding: 0 .5rem;

    background: var(--it-header-background);
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);

    justify-content: space-between;
    align-items: center;
}

.header__section
{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.header__form
{
    display: flex;
}

.header__button_back
{
    visibility: hidden;

    pointer-events: none;

    opacity: 0;
}

.header__title
{
    font-size: 16px;
    font-weight: 500;

    position: absolute;
    left: 16px;

    transition: left .1s;
    letter-spacing: .5px;

    color: var(--it-header-title-color);
}

body:not([data-path='/']) .header__button_back
{
    visibility: visible;

    pointer-events: all;

    opacity: 1;
}

body:not([data-path='/']) .header__title
{
    left: 4rem;
}

.header__button
{
    position: relative;

    display: block;

    width: 1.5rem;
    height: 1.5rem;
    padding: .75rem;

    cursor: pointer;
}

.header__button
{
    fill: var(--it-header-icon-color);
}

.header__button::before
{
    position: absolute;
    top: .25rem;
    left: .25rem;

    display: block;

    box-sizing: border-box;
    width: 2.5rem;
    height: 2.5rem;

    content: '';
    transition-timing-function: cubic-bezier(.4, .0, .2, 1);
    transition-duration: .15s;
    transition-property: transform, opacity;
    transform: scale(0);

    opacity: 0;
    border-radius: 50%;
    background: var(--it-header-button-color);
}

.header__button:hover::before
{
    transform: scale(1);

    opacity: 1;
}

.header__input
{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

    display: none;

    box-sizing: border-box;
    width: calc(100% - 3.5rem);
    height: 3rem;
    margin: 0;
    padding: 0;

    border: none;
    outline: none;
    background: transparent;
}

body:not([data-path='/']) #header__button-menu
{
    display: none;
}

body[data-path='/search'] .header__title,
body[data-path='/search'] #header__button-menu,
body[data-path='/search'] #header__button-search
{
    display: none;
}

body[data-path='/search'] .header__input
{
    display: block;

    color: var(--it-header-title-color);
}

#header__button-search-clear
{
    display: none;
}

body[data-path='/search'] #header__button-search-clear
{
    display: block;
}

body[data-path='/active'] #header__button-search
{
    display: none;
}

#header__input-search:not(:valid) + #header__button-search-clear
{
    visibility: hidden;

    pointer-events: none;
}
