/*-----------------------------------------------------------------------------
# ANALYZER CATEGORY
-----------------------------------------------------------------------------*/

.analyzer-top-text
{
    font-size: 13px;

    display: flex;

    box-sizing: border-box;
    margin: 16px 0 0;
    padding: 0 16px;

    background: transparent !important;

    justify-content: space-between;
}

.analyzer-watch-time
{
    text-transform: uppercase;
}

.analyzer-today-at
{
    box-sizing: border-box;
}

.analyzer-container
{
    box-sizing: border-box;
    margin: 8px 0 16px;
    padding: 16px;

    background: var(--background-0) !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.analyzer-all-time
{
    font-size: 24px;
    font-weight: 400;

    margin-bottom: 8px;

    color: #4c4c4c;
}

.analyzer-chart
{
    position: relative;

    display: flex;
    overflow: hidden;

    box-sizing: border-box;
    height: 140px;
    margin: 8px 0;

    border-bottom: 1px solid #ccc;

    justify-content: space-between;
}

.analyzer-chart::before
{
    position: absolute;
    top: -78%;
    left: -15%;

    width: 125%;
    height: 250%;

    content: '';
    transform: rotate(-45deg);

    background: linear-gradient(transparent 50%, rgba(0, 0, 0, .05) 50%);
    background-size: 4px 4px;
}

.analyzer-column
{
    z-index: 1;

    display: flex;

    border-right: 1px solid #ccc;

    flex: 1;
}

.analyzer-column:first-child
{
    border-left: 1px solid #ccc;
}

.analyzer-data-column
{
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    flex: 1;
}

.analyzer-data
{
    height: 20px;
    margin: 0 1px;

    background-color: #c5c5c5;
}

.analyzer-data.first
{
    background-color: #1c00db;

    order: 3;
}

.analyzer-data.second
{
    background-color: #4dd0e1;

    order: 2;
}

.analyzer-data.third
{
    background-color: #ff9800;

    order: 1;
}

/*.analyzer-data:first-child
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}*/
.analyzer-bottom
{
    display: flex;

    margin: 14px 0 0;

    justify-content: space-between;
}

.analyzer-bottom > div .label
{
    margin: 0 0 2px;
}

.analyzer-bottom > div:first-child .label
{
    color: #1c00db;
}

.analyzer-bottom > div:nth-child(2) .label
{
    color: #4dd0e1;
}

.analyzer-bottom > div:nth-child(3) .label
{
    color: #ff9800;
}
