/*---------------------------------------------------------------
>>> APPEARANCE
---------------------------------------------------------------*/

.satus-main__container[data-appearance='appearance'] .satus-folder
{
    position: absolute;

    box-sizing: border-box;
    padding: 0;

    transition-duration: .5s;
    transition-property: transform, box-shadow;
    transform: scale(1);
    text-align: center;

    border: 1px solid var(--main-appearance-shadow, #dfdfdf);
    border-radius: 6px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0);
    
    background: var(--satus-theme-section);

    justify-content: center;
    align-items: center;
}

.satus-main__container[data-appearance='appearance'] .satus-folder:hover
{
    z-index: 9;

    transition-duration: .25s;
    transform: scale(1.03) translate(-8px, -4px);

    box-shadow: 1px 1px 0 0 var(--main-appearance-shadow, #dfdfdf), 2px 2px 0 0 var(--main-appearance-shadow, #dfdfdf), 3px 3px 0 0 var(--main-appearance-shadow, #dfdfdf), 4px 4px 0 0 var(--main-appearance-shadow, #dfdfdf), 5px 6px 4px 0 rgba(0, 0, 0, .1);
}

.satus-main__container[data-appearance='appearance'] .satus-folder--header
{
    top: 16px;
    left: 16px;

    width: calc(100% - 32px);
    height: 40px;
    min-height: auto;
}

.satus-main__container[data-appearance='appearance'] .satus-folder--header:hover
{
    transform: scale(1.03) translate(-9px, -4px);
}

.satus-main__container[data-appearance='appearance'] .satus-folder--player
{
    top: 64px;
    left: 16px;

    width: calc(70% - 32px);
    height: 96px;
    min-height: auto;

    color: #eee;
    border-color: #333;
    background-color: #444;
}

.satus-main__container[data-appearance='appearance'] .satus-folder--player .label
{
    color: #fff;
}

.satus-main__container[data-appearance='appearance'] .satus-folder--player:hover
{
    transform: scale(1.03) translate(-7px, -4px);

    box-shadow: 1px 1px 0 0 #333, 2px 2px 0 0 #333, 3px 3px 0 0 #333, 4px 4px 0 0 #333, 5px 6px 4px 0 rgba(0, 0, 0, .1);
}

.satus-main__container[data-appearance='appearance'] .satus-folder--details
{
    top: 168px;
    left: 16px;

    width: calc(70% - 32px);
    height: 56px;
    min-height: auto;
}

.satus-main__container[data-appearance='appearance'] .satus-folder--description
{
    top: 13.5rem;
    left: 1rem;

    width: calc(70% - 2rem);
    height: 3.5rem;
    min-height: 3.5rem;
}

.satus-main__container[data-appearance='appearance'] .satus-folder--comments
{
    top: 232px;
    left: 16px;

    width: calc(70% - 32px);
    height: 80px;
    min-height: auto;

    background: var(--satus-theme-section)
}

.satus-main__container[data-appearance='appearance'] .satus-folder--footer
{
    top: 320px;
    left: 16px;

    width: calc(70% - 32px);
    height: 64px;
    min-height: auto;

    background: var(--satus-theme-section)
}

.satus-main__container[data-appearance='appearance'] .satus-folder--sidebar
{
    top: 64px;
    left: calc(70% - 8px);

    width: calc(30% - 8px);
    height: 160px;
}
