/*-----------------------------------------------------------------------------
# BLACKLIST CATEGORY
-----------------------------------------------------------------------------*/

.satus-section.satus-section--blacklist
{
    position: relative;

    overflow: hidden;
    flex-direction: column;

    width: calc(100% - 32px);
    height: 116px;
    margin: 8px 16px 0;

    transition: opacity .25s;

    opacity: 1;
    border-radius: 10px;
    background-color: #000;
    background-position: center;
    background-size: cover;

    flex: unset;
    align-items: flex-start;
}

.satus-section.satus-section--blacklist.removing
{
    opacity: 0;
}

.satus-section.satus-section--blacklist::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;

    content: '';

    background: rgba(0, 0, 0, .5);
}

.satus-section.satus-section--blacklist > .label
{
    font-size: 16px;
    font-weight: 700;

    position: absolute;
    z-index: 1;
    bottom: 28px;

    text-transform: uppercase;

    opacity: 1;
    color: #fff;
}

.satus-section.satus-section--blacklist::after
{
    position: absolute;
    z-index: 1;
    bottom: 16px;
    left: 16px;

    content: attr(data-label);

    color: rgba(255, 255, 255, .5);
}

.satus-section.satus-section--blacklist > .satus-section
{
    position: absolute;
    z-index: 999;
    bottom: 0;

    visibility: hidden;

    width: 100%;
    margin: 0;
    padding: 0;

    transition: .15s;

    opacity: 0;
    border: none;
    border-radius: 0;
    background: rgba(255, 255, 255, .95);

    justify-content: center;
}

.satus-section.satus-section--blacklist:hover > .satus-section
{
    visibility: visible;

    opacity: 1;
}