/*---------------------------------------------------------------
>>> HOME
-----------------------------------------------------------------
1.0 
---------------------------------------------------------------*/

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-section
{
    display: flex;

    width: 100%;
    margin-top: 16px;
    padding: 0;

    border: none;
    border-radius: 0;
    background-color: transparent;

    flex-wrap: wrap;
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button:not(.satus-button--ad)
{
    position: relative;

    flex-direction: column;

    width: 64px;
    height: 86px;
    margin: 0 18px 14px;
    padding: 0;

    cursor: default;
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button:not(.satus-button--ad):focus,
html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button:not(.satus-button--ad):hover
{
    background-color: transparent;
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button__label
{
    margin-left: 0;
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button:not(.satus-button--ad) svg,
html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button--shortcut__icon
{
    display: block;
    overflow: visible;

    width: 28px;
    height: 28px;
    margin: 0 0 5px 0;
    padding: 16px;

    cursor: pointer;
    transition: background 500ms 250ms, transform 500ms, box-shadow 525ms;

    opacity: .95;
    border-radius: 50%;
    background: linear-gradient(135deg, #f8d266, #f17953);
    box-shadow: 0 2px 1px 1px rgba(230, 109, 70, .7), 0 3px 5px rgba(0,0,0,.35);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button:not(.satus-button--ad) svg:focus,
html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button:not(.satus-button--ad) svg:hover
{
    transition: background 250ms 125ms, transform 250ms, box-shadow 275ms;
    transform: translateY(4px) scale(.975);

    box-shadow: 0 1px 1px 0 rgba(230, 109, 70, .7), 0 1px 2px rgba(0,0,0,.35);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button--general svg
{
    width: 26px;
    height: 26px;
    padding: 19px 17px 15px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button--appearance svg
{
    width: 26px;
    height: 26px;
    padding: 19px 17px 15px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button--themes svg
{
    padding: 17px 16px 15px 16px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button--player svg
{
    width: 26px;
    height: 26px;
    padding: 19px 15px 15px 19px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button--playlist svg
{
    padding: 17px 16px 15px 16px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button--channel svg
{
    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button--shortcut svg
{
    width: 26px;
    height: 26px;
    padding: 19px 17px 15px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button--mixer svg
{
    padding: 17px 16px 15px 16px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button--blacklist svg
{
    width: 26px;
    height: 26px;
    padding: 18px 17px 16px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-button--analyzer svg
{
    width: 26px;
    height: 26px;
    padding: 18px 17px 16px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html[it-improvedtube-home='list'] .satus-main__container[data-appearance='home'] .satus-button:not(.satus-button--ad) svg
{
    fill: transparent;
    stroke: var(--satus-theme-primary);
}



html[it-it-general='false'] .satus-button--general,
html[it-it-appearance='false'] .satus-button--appearance,
html[it-it-themes='false'] .satus-button--themes,
html[it-it-player='false'] .satus-button--player,
html[it-it-playlist='false'] .satus-button--playlist,
html[it-it-channel='false'] .satus-button--channel,
html[it-it-shortcuts='false'] .satus-button--shortcut,
html[it-it-blacklist='false'] .satus-button--blacklist,
html[it-it-analyzer='false'] .satus-button--analyzer
{
    display: none;
}
