/*--------------------------------------------------------------
>>> HOME
--------------------------------------------------------------*/

.satus-main__container[data-appearance='home'] .satus-section
{
    width: 100%;
    margin-top: 16px;

    flex-wrap: wrap;
    
    background-color: transparent;
}



.satus-main__container[data-appearance='home'] .satus-folder
{
    position: relative;

    flex-direction: column;

    width: 64px;
    height: 86px;
    margin: 0 18px 14px;
    padding: 0;

    cursor: default;
}

.satus-main__container[data-appearance='home'] .satus-folder::before
{
    background-color: transparent
}

.satus-main__container[data-appearance='home'] .satus-folder__label
{
    position: absolute;
    bottom: 0;

    pointer-events: none;
}

.satus-main__container[data-appearance='home'] .satus-folder:focus,
.satus-main__container[data-appearance='home'] .satus-folder:hover
{
    background-color: transparent;
}

.satus-main__container[data-appearance='home'] .satus-folder svg,
.satus-main__container[data-appearance='home'] .satus-folder--shortcut__icon
{
    display: block;
    overflow: visible;

    width: 28px;
    height: 28px;
    margin: 0 0 5px 0;
    padding: 16px;

    cursor: pointer;
    transition: background 500ms 250ms, transform 500ms, box-shadow 525ms;

    opacity: .95;
    border-radius: 50%;
    background: linear-gradient(135deg, #f8d266, #f17953);
    box-shadow: 0 2px 1px 1px rgba(230, 109, 70, .7), 0 3px 5px rgba(0,0,0,.35);
}

.satus-main__container[data-appearance='home'] .satus-folder svg:focus,
.satus-main__container[data-appearance='home'] .satus-folder svg:hover
{
    transition: background 250ms 125ms, transform 250ms, box-shadow 275ms;
    transform: translateY(4px) scale(.975);

    box-shadow: 0 1px 1px 0 rgba(230, 109, 70, .7), 0 1px 2px rgba(0,0,0,.35);
}

.satus-main__container[data-appearance='home'] .satus-folder--general svg
{
    width: 26px;
    height: 26px;
    padding: 19px 17px 15px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

.satus-main__container[data-appearance='home'] .satus-folder--appearance svg
{
    width: 26px;
    height: 26px;
    padding: 19px 17px 15px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

.satus-main__container[data-appearance='home'] .satus-folder--themes svg
{
    padding: 17px 16px 15px 16px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

.satus-main__container[data-appearance='home'] .satus-folder--player svg
{
    width: 26px;
    height: 26px;
    padding: 19px 15px 15px 19px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

.satus-main__container[data-appearance='home'] .satus-folder--playlist svg
{
    padding: 17px 16px 15px 16px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

.satus-main__container[data-appearance='home'] .satus-folder--channel svg
{
    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

.satus-main__container[data-appearance='home'] .satus-folder--shortcut svg
{
    width: 26px;
    height: 26px;
    padding: 19px 17px 15px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

.satus-main__container[data-appearance='home'] .satus-folder--mixer svg
{
    padding: 17px 16px 15px 16px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

.satus-main__container[data-appearance='home'] .satus-folder--blacklist svg
{
    width: 26px;
    height: 26px;
    padding: 18px 17px 16px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

.satus-main__container[data-appearance='home'] .satus-folder--analyzer svg
{
    width: 26px;
    height: 26px;
    padding: 18px 17px 16px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}



.satus-main .satus-section--footer
{
    position: absolute;
    bottom: 8px;
    left: 0;

    justify-content: center;
}

.satus-main .satus-section--footer .satus-button
{
    box-sizing: unset;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    padding: 4px;
}

.satus-main .satus-section--footer .satus-button:focus:before,
.satus-main .satus-section--footer .satus-button:hover:before
{
    background-color: unset;
}

.satus-main .satus-section--footer .satus-button svg
{
    fill: transparent;
    stroke: var(--satus-theme-on-surface, #777);
}
