/*---------------------------------------------------------------
>>> PLAYER
---------------------------------------------------------------*/

#forced-playback-speed + *,
#forced-volume + *
{
    pointer-events: none;

    opacity: .5;
}

[it-player-forced-playback-speed=true] #forced-playback-speed + *,
[it-player-forced-volume=true] #forced-volume + *
{
    pointer-events: all;

    opacity: 1;
}
