.satus-main__container[data-appearance='about'] .satus-text
{
    display: flex;

    box-sizing: border-box;
    width: 100%;
    min-height: 48px;
    padding: 0 8px;

    justify-content: space-between;
    align-items: center;
}

.satus-main__container[data-appearance='about'] .satus-text__value
{
    text-align: right;

    opacity: .7;
}
