/*-----------------------------------------------------------------------------
>>> STYLES
-------------------------------------------------------------------------------
# Fonts
# Themes
# Header
  # Search
# Main
  # Home
  # Appearance
  # Themes
  # Mixer
  # Analyzer
  # Blacklist
  # Fixes
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
# Fonts
-----------------------------------------------------------------------------*/

.satus
{
    font-family: sans-serif;

    position: relative;

    display: flex;
    flex-direction: column;

    color: var(--color-1);
}

input,
textarea
{
    font-family: sans-serif;
}


/*-----------------------------------------------------------------------------
# Themes
-----------------------------------------------------------------------------*/

.satus[default-dark-theme=true]
{
    --primary: #f96754;
    --appearance-shadow: rgba(0,0,0,.1);
    --hover-0: rgba(255, 255, 255, .08);
    --background-1: #1f1f1f;
    --text-1: #bbb;
    --icon-1: #bbb;
    --background-hover-1: rgba(255, 255, 255, .1);
    --text-hover-1: #111;
    --icon-hover-1: #111;
    --background-2: #282828;
    --text-2: #eee;
    --icon-2: #eee;
    --background-hover-2: rgba(255, 255, 255, .08);
    --text-hover-2: #111;
    --icon-hover-2: #111;
    --background-3: #1f1f1f;
    --text-3: #bbb;
    --icon-3: #bbb;
    --background-hover-3: rgba(0, 0, 0, .5);
    --text-hover-3: #111;
    --icon-hover-3: #111;
}

.satus[night-theme=true]
{
    --primary: #f96754;
    --appearance-shadow: rgba(0,0,0,.1);
    --hover-0: rgba(255, 255, 255, .08);
    --background-1: #3a48b4;
    --text-1: #eee;
    --icon-1: #eee;
    --background-hover-1: rgba(255, 255, 255, .1);
    --text-hover-1: #fafafa;
    --icon-hover-1: #fafafa;
    --background-2: #61a7f5;
    --text-2: #fafafa;
    --icon-2: #fafafa;
    --background-hover-2: rgba(255, 255, 255, .08);
    --text-hover-2: #fafafa;
    --icon-hover-2: #fafafa;
    --background-3: #3a48b4;
    --text-3: #eee;
    --icon-3: #eee;
    --background-hover-3: rgba(255, 255, 255, .1);
    --text-hover-3: #fafafa;
    --icon-hover-3: #fafafa;
}

.satus[dawn-theme=true]
{
    --primary: #f96754;
    --appearance-shadow: rgba(0,0,0,.1);
    --hover-0: rgba(255, 255, 255, .08);
    --background-1: #ed74a9;
    --text-1: #eee;
    --icon-1: #eee;
    --background-hover-1: rgba(255, 255, 255, .1);
    --text-hover-1: #fafafa;
    --icon-hover-1: #fafafa;
    --background-2: #ffba99;
    --text-2: #fafafa;
    --icon-2: #fafafa;
    --background-hover-2: rgba(255, 255, 255, .08);
    --text-hover-2: #fafafa;
    --icon-hover-2: #fafafa;
    --background-3: #ed74a9;
    --text-3: #eee;
    --icon-3: #eee;
    --background-hover-3: rgba(255, 255, 255, .1);
    --text-hover-3: #fafafa;
    --icon-hover-3: #fafafa;
}

.satus[sunset-theme=true]
{
    --primary: #f96754;
    --appearance-shadow: rgba(0,0,0,.1);
    --hover-0: rgba(255, 255, 255, .08);
    --background-1: #2f3364;
    --text-1: #eee;
    --icon-1: #eee;
    --background-hover-1: rgba(255, 255, 255, .1);
    --text-hover-1: #fafafa;
    --icon-hover-1: #fafafa;
    --background-2: #a96165;
    --text-2: #fafafa;
    --icon-2: #fafafa;
    --background-hover-2: rgba(255, 255, 255, .08);
    --text-hover-2: #fafafa;
    --icon-hover-2: #fafafa;
    --background-3: #2f3364;
    --text-3: #eee;
    --icon-3: #eee;
    --background-hover-3: rgba(255, 255, 255, .1);
    --text-hover-3: #fafafa;
    --icon-hover-3: #fafafa;
}

.satus[desert-theme=true]
{
    --primary: #f96754;
    --appearance-shadow: rgba(0,0,0,.1);
    --hover-0: rgba(255, 255, 255, .08);
    --background-1: #ffe498;
    --text-1: #eee;
    --icon-1: #eee;
    --background-hover-1: rgba(255, 255, 255, .1);
    --text-hover-1: #fafafa;
    --icon-hover-1: #fafafa;
    --background-2: #9dc2ee;
    --text-2: #fafafa;
    --icon-2: #fafafa;
    --background-hover-2: rgba(255, 255, 255, .08);
    --text-hover-2: #fafafa;
    --icon-hover-2: #fafafa;
    --background-3: #ffe498;
    --text-3: #eee;
    --icon-3: #eee;
    --background-hover-3: rgba(255, 255, 255, .1);
    --text-hover-3: #fafafa;
    --icon-hover-3: #fafafa;
}

.satus[plain-theme=true]
{
    --primary: #f96754;
    --appearance-shadow: rgba(0,0,0,.1);
    --hover-0: rgba(255, 255, 255, .08);
    --background-1: #dea975;
    --text-1: #eee;
    --icon-1: #eee;
    --background-hover-1: rgba(255, 255, 255, .1);
    --text-hover-1: #fafafa;
    --icon-hover-1: #fafafa;
    --background-2: #abceb8;
    --text-2: #fafafa;
    --icon-2: #fafafa;
    --background-hover-2: rgba(255, 255, 255, .08);
    --text-hover-2: #fafafa;
    --icon-hover-2: #fafafa;
    --background-3: #dea975;
    --text-3: #eee;
    --icon-3: #eee;
    --background-hover-3: rgba(255, 255, 255, .1);
    --text-hover-3: #fafafa;
    --icon-hover-3: #fafafa;
}

.satus[black-theme=true]
{
    --primary: #f96754;
    --appearance-shadow: rgba(0,0,0,.1);
    --hover-0: rgba(255, 255, 255, .08);
    --background-1: #111;
    --text-1: #eee;
    --icon-1: #eee;
    --background-hover-1: rgba(255, 255, 255, .1);
    --text-hover-1: #fafafa;
    --icon-hover-1: #fafafa;
    --background-2: #222;
    --text-2: #fafafa;
    --icon-2: #fafafa;
    --background-hover-2: rgba(255, 255, 255, .08);
    --text-hover-2: #fafafa;
    --icon-hover-2: #fafafa;
    --background-3: #111;
    --text-3: #eee;
    --icon-3: #eee;
    --background-hover-3: rgba(255, 255, 255, .1);
    --text-hover-3: #fafafa;
    --icon-hover-3: #fafafa;
}


/*-----------------------------------------------------------------------------
# Header
-----------------------------------------------------------------------------*/

.satus-header > .satus-section > .satus-text
{
    padding: 0;
}

.satus-button--back
{
    position: absolute;

    visibility: hidden;

    transition: 150ms;
    pointer-events: none;

    opacity: 0;
}

.satus:not([data-path='main']) .satus-button--back
{
    visibility: visible;

    transition: 250ms;
    pointer-events: all;

    opacity: 1;
}

.satus-header__title
{
    font-size: 15px;
    font-weight: 600;

    position: absolute;
    left: 8px;

    margin: 0 0 0 6px;

    transition: 200ms;
    letter-spacing: .25px;
}

.satus:not([data-path='main']) .satus-header__title
{
    left: 56px;
}

.satus-dialog__surface > .satus-button
{
    width: 100%;
}

.satus-dialog--vertical-menu .satus-dialog__surface > *
{
    height: 40px;
    min-height: 40px;
}


/*-----------------------------------------------------------------------------
## Search
-----------------------------------------------------------------------------*/

#search-results
{
    position: absolute;
    top: 64px;
    left: 8px;

    overflow-y: auto;

    width: calc(100% - 16px);
    max-height: calc(100vh - 72px);

    color: var(--text-1);
    border-radius: 4px;
    background: var(--background-1);
    background-color: #fff;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);

    fill: var(--text-1);
}


/*-----------------------------------------------------------------------------
# Main
-----------------------------------------------------------------------------*/


.satus-main .satus-section
{
    width: calc(100% - 16px);
    padding: 4px 0;

    border-radius: 4px;
    background: var(--background-2);
    box-shadow: 0 0 0 1px var(--appearance-shadow), 0 1px 0 1px var(--appearance-shadow), 0 2px 2px 0 var(--appearance-shadow);
}

.satus-main .satus-section:not(.satus-section--has-label)
{
    margin: 16px auto 8px;    
}

/*-----------------------------------------------------------------------------
## Home
-----------------------------------------------------------------------------*/

.satus:not([improvedtube-home=list]) .satus-main__container[data-path='main'] > .satus-section
{
    display: flex;
    flex-direction: unset;

    box-sizing: border-box;
    width: 100%;
    height: unset;
    margin: unset;
    padding: 20px 0 0 0;

    border: unset;
    background: transparent;
    box-shadow: unset;

    flex-wrap: wrap;
    justify-content: space-between;
}

.satus:not([improvedtube-home=list]) .satus-main__container[data-path='main'] > .satus-section > *
{
    flex-direction: column;

    width: calc((100% / 3) - 6px);
    height: auto;
    margin: 0 0 16px 0;
    padding: 0;

    outline: none;

    justify-content: center;
    align-items: center;
}

.satus:not([improvedtube-home=list]) .satus-main__container[data-path='main'] > .satus-section .satus-folder span
{
    text-align: center;
}

.satus:not([improvedtube-home=list]) .satus-main__container[data-path='main'] > .satus-section > *:hover
{
    background: transparent;
}

.satus:not([improvedtube-home=list]) .satus-main__container[data-path='main'] > .satus-section > * .label
{
    text-align: center;
}

.satus:not([improvedtube-home=list]) .satus-main__container[data-path='main'] > .satus-section > * svg
{
    overflow: visible;

    width: 28px;
    height: 28px;
    margin: 0 0 5px 0;
    padding: 16px;

    transition: transform .25s, box-shadow .29s;

    border-radius: 50%;
    background: #f96754;
    box-shadow: 0 1px 2px #de412d, 0 3px 10px rgba(0, 0, 0, .24);

    fill: rgba(255,255,255,.85);
}

.satus:not([improvedtube-home=list]) .satus-main__container[data-path='main'] > .satus-section > *:hover svg
{
    transform: scale(.9);

    box-shadow: 0 2px 3px rgba(0, 0, 0, .24);
}

.satus[it-general=false] .satus-main__container[data-path='main'] .satus-folder:nth-child(1),
.satus[it-appearance=false] .satus-main__container[data-path='main'] .satus-folder:nth-child(2),
.satus[it-themes=false] .satus-main__container[data-path='main'] .satus-folder:nth-child(3),
.satus[it-player=false] .satus-main__container[data-path='main'] .satus-folder:nth-child(4),
.satus[it-playlist=false] .satus-main__container[data-path='main'] .satus-folder:nth-child(5),
.satus[it-channel=false] .satus-main__container[data-path='main'] .satus-folder:nth-child(6),
.satus[it-shortcuts=false] .satus-main__container[data-path='main'] .satus-folder:nth-child(7),
.satus[it-mixer=false] .satus-main__container[data-path='main'] .satus-folder:nth-child(8),
.satus[it-analyzer=false] .satus-main__container[data-path='main'] .satus-folder:nth-child(9),
.satus[it-blacklist=false] .satus-main__container[data-path='main'] .satus-folder:nth-child(10)
{
    display: none;
}


/*-----------------------------------------------------------------------------
## Appearance
-----------------------------------------------------------------------------*/

.satus-main__container[data-path='main/appearance'] > *
{
    position: absolute;

    box-sizing: border-box;
    padding: 0;

    transition-duration: .25s;
    transition-property: transform, box-shadow;
    transform: scale(1);
    text-align: center;

    border: 1px solid var(--appearance-shadow);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0);

    justify-content: center;
    align-items: center;
}

.satus-main__container[data-path='main/appearance'] > *::before,
.satus-main__container[data-path='main/appearance'] > *::after
{
    display: none;
}

.satus-main__container[data-path='main/appearance'] > *:hover
{
    z-index: 9;

    transform: scale(1.03) translate(-8px, -4px);

    box-shadow: 1px 1px 0 0 var(--appearance-shadow), 2px 2px 0 0 var(--appearance-shadow), 3px 3px 0 0 var(--appearance-shadow), 4px 4px 0 0 var(--appearance-shadow), 5px 6px 4px 0 rgba(0, 0, 0, .1);
}

.satus-main__container[data-path='main/appearance'] > .satus-button--header
{
    top: 16px;
    left: 16px;

    width: calc(100% - 32px);
    height: 40px;
    min-height: auto;

    background-color: var(--background-2);
}

.satus-main__container[data-path='main/appearance'] > .satus-button--header:hover
{
    transform: scale(1.03) translate(-9px, -4px);
}

.satus-main__container[data-path='main/appearance'] > .satus-button--player
{
    top: 64px;
    left: 16px;

    width: calc(70% - 32px);
    height: 96px;
    min-height: auto;

    border-color: #333;
    background-color: #444;
}

.satus-main__container[data-path='main/appearance'] > .satus-button--player .label
{
    color: #fff;
}

.satus-main__container[data-path='main/appearance'] > .satus-button--player:hover
{
    transform: scale(1.03) translate(-7px, -4px);

    box-shadow: 1px 1px 0 0 #333, 2px 2px 0 0 #333, 3px 3px 0 0 #333, 4px 4px 0 0 #333, 5px 6px 4px 0 rgba(0, 0, 0, .1);
}

.satus-main__container[data-path='main/appearance'] > .satus-button--details
{
    top: 168px;
    left: 16px;

    width: calc(70% - 32px);
    height: 56px;
    min-height: auto;

    background: var(--background-2);
}

.satus-main__container[data-path='main/appearance'] > .satus-button--description
{
    top: 13.5rem;
    left: 1rem;

    width: calc(70% - 2rem);
    height: 3.5rem;
    min-height: 3.5rem;

    background: var(--background-2);
}

.satus-main__container[data-path='main/appearance'] > .satus-button--comments
{
    top: 232px;
    left: 16px;

    width: calc(70% - 32px);
    height: 80px;
    min-height: auto;

    background: var(--background-2);
}

.satus-main__container[data-path='main/appearance'] > .satus-button--footer
{
    top: 320px;
    left: 16px;

    width: calc(70% - 32px);
    height: 64px;
    min-height: auto;

    background: var(--background-2);
}

.satus-main__container[data-path='main/appearance'] > .satus-button--sidebar
{
    top: 64px;
    left: calc(70% - 8px);

    width: calc(30% - 8px);
    height: 160px;

    background: var(--background-2);
}


/*-----------------------------------------------------------------------------
## Themes
-----------------------------------------------------------------------------*/

.satus-main__container[data-path='main/themes'] > .satus-switch:first-child
{
    margin-top: 16px;
}

.satus-main__container[data-path='main/themes'] > .satus-switch:last-child
{
    margin-bottom: 16px;
}

.satus-main__container[data-path='main/themes'] > .satus-switch
{
    width: calc(100% - 16px);
    min-height: 80px;
    margin: 8px auto;

    border-radius: 8px;
}

.satus-main__container[data-path='main/themes'] > .satus-switch .label
{
    font-size: 15px;
    font-weight: 500;

    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.7);
}

.satus-switch--dark
{
    background: #191919 !important;
}

.satus-switch--night
{
    position: relative;

    overflow: hidden;

    animation-name: satus-switch--night;
    animation-duration: .75s;
    animation-iteration-count: infinite;

    background-image: radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
    linear-gradient(#3a48b4, #61a7f5) !important;
    background-repeat: no-repeat !important;
    background-position: 75% 80%, 35% 65%, 30% 10%, 50% 40%, 10% 80%, 90% 10%, 0 0 !important;
    background-size: 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, auto !important;
}

@keyframes satus-switch--night
{
    0%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    25%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .45) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .3) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    50%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .3) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .9) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    75%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .45) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .3) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    100%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }
}

.satus-switch--dawn
{
    position: relative;

    overflow: hidden;

    background: linear-gradient(#ed74a9, #ffba99) !important;
}

.satus-switch--dawn::before
{
    position: absolute;
    right: 1rem;
    bottom: -5rem;

    width: 10rem;
    height: 10rem;

    content: '';
    animation-name: satus-switch--dawn;
    animation-duration: .75s;
    animation-iteration-count: infinite;
    pointer-events: none;

    border-radius: 50%;
    background: radial-gradient(rgba(255, 255, 231, .85) 20%, rgba(255, 255, 231, .25) 20%, rgba(255, 255, 231, .25) 35%, rgba(255, 255, 231, .15) 35%, rgba(255, 255, 231, .15) 55%, rgba(255, 255, 231, .05) 55%, rgba(255, 255, 231, .05) 75%, transparent 75%) !important;
}

@keyframes satus-switch--dawn
{
    0%
    {
        background: radial-gradient(rgba(255, 255, 231, .85) 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }

    50%
    {
        background: radial-gradient(rgba(255, 255, 231, .85) 20%,
        rgba(255, 255, 231, .30) 20%,
        rgba(255, 255, 231, .30) 35%,
        rgba(255, 255, 231, .20) 35%,
        rgba(255, 255, 231, .20) 55%,
        rgba(255, 255, 231, .10) 55%,
        rgba(255, 255, 231, .10) 75%, transparent 75%);
    }

    100%
    {
        background: radial-gradient(rgba(255, 255, 231, .85) 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }
}

.satus-switch--sunset
{
    position: relative;

    overflow: hidden;

    background: linear-gradient(#2f3364, #a96165) !important;
}

.satus-switch--sunset::before
{
    position: absolute;
    top: -1rem;
    left: 50%;

    overflow: hidden;

    width: 8rem;
    height: 8rem;

    content: '';
    transform: translate(-50%, 0%);
    pointer-events: none;

    border-radius: 50%;
    background: linear-gradient(#fa7965, #f56264, transparent) !important;
}

.satus-switch--desert
{
    position: relative;

    overflow: hidden;

    background-image: radial-gradient(#ffe498 50%, transparent 50%),
    linear-gradient(#9dc2ee, #f5fdff) !important;
    background-repeat: no-repeat !important;
    background-position: -120px 36px, 0 !important;
    background-size: 240%, 100% !important;
}

.satus-switch--desert::before
{
    position: absolute;
    top: -100%;
    left: 40%;

    width: 10rem;
    height: 10rem;

    content: '';
    animation-name: satus-switch--desert;
    animation-duration: .75s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    pointer-events: none;

    border-radius: 50%;
    background: radial-gradient(#fefefe 20%, rgba(255, 255, 231, .25) 20%, rgba(255, 255, 231, .25) 35%, rgba(255, 255, 231, .15) 35%, rgba(255, 255, 231, .15) 55%, rgba(255, 255, 231, .05) 55%, rgba(255, 255, 231, .05) 75%, transparent 75%) !important;
}

@keyframes satus-switch--desert
{
    0%
    {
        background: radial-gradient(#fefefe 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }

    50%
    {
        background: radial-gradient(#fefefe 20%,
        rgba(255, 255, 231, .30) 20%,
        rgba(255, 255, 231, .30) 35%,
        rgba(255, 255, 231, .20) 35%,
        rgba(255, 255, 231, .20) 55%,
        rgba(255, 255, 231, .10) 55%,
        rgba(255, 255, 231, .1) 75%, transparent 75%);
    }

    100%
    {
        background: radial-gradient(#fefefe 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }
}

.satus-switch--plain
{
    position: relative;

    overflow: hidden;

    background-image: radial-gradient(#dea975 50%, transparent 50%),
    radial-gradient(#e8b887 50%, transparent 50%),
    radial-gradient(#f1cc9f 50%, transparent 50%),
    radial-gradient(#f3ddb8 50%, transparent 50%),
    linear-gradient(#abceb8, #e7ede1) !important;
    background-repeat: no-repeat !important;
    background-position: -50px 50px, -370px 40px, 0 36px, -360px 26px, 0 !important;
    background-size: 240%, 240%, 240%, 240%, 100% !important;
}

.satus-switch--plain::before
{
    position: absolute;
    top: -70%;
    left: 10%;

    width: 7rem;
    height: 7rem;

    content: '';
    animation-name: satus-switch--plain;
    animation-duration: .75s;
    animation-delay: .2s;
    animation-iteration-count: infinite;
    pointer-events: none;

    border-radius: 50%;
    background: radial-gradient(#fff 20%, rgba(255, 255, 231, .25) 20%, rgba(255, 255, 231, .25) 35%, rgba(255, 255, 231, .15) 35%, rgba(255, 255, 231, .15) 55%, rgba(255, 255, 231, .05) 55%, rgba(255, 255, 231, .05) 75%, transparent 75%) !important;
}

.satus-switch--black
{
    position: relative;

    overflow: hidden;

    background: linear-gradient(#0d1216, #353d46) !important;
}

.satus-switch--black::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    animation-name: satus-switch--black;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    pointer-events: none;

    background: radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%) !important;
    background-repeat: no-repeat !important;
    background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px !important;
    background-size: 50px 50px, 50px 50px, 100px 100px, 75px 75px !important;

    filter: blur(8px);
}

@keyframes satus-switch--black
{
    0%
    {
        background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px;
    }

    50%
    {
        background-position: 20px 20px, 230px -20px, 0 -40px, 160px 10px;
    }

    100%
    {
        background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px;
    }
}


/*-----------------------------------------------------------------------------
## Mixer
-----------------------------------------------------------------------------*/

.satus-section.satus-section--mixer
{
    position: relative;

    overflow: hidden;
    flex-direction: column;

    width: calc(100% - 32px);
    height: 116px;
    margin: 8px 16px 0;

    border-radius: 10px;

    flex: unset;
    align-items: flex-start;
}

.satus-section.satus-section--mixer::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0,0,0,.5);
}

.satus-section.satus-section--mixer::after
{
    position: absolute;
    z-index: 1;
    bottom: 16px;
    left: 16px;

    content: 'YouTube';

    color: rgba(255,255,255,.5);
}

.satus-section.satus-section--mixer > .label
{
    font-size: 16px;
    font-weight: 700;

    position: absolute;
    z-index: 1;
    bottom: 28px;

    text-transform: uppercase;

    opacity: 1;
    color: #fff;
}

.satus-section.satus-section--mixer > .satus-section
{
    position: absolute;
    z-index: 2;
    bottom: 0;

    visibility: hidden;
    flex-direction: column;

    width: 100%;

    transition: 200ms;
    transform: translateY(32px);
    pointer-events: none;

    opacity: 0;
    background: var(--background-0);

    flex: unset;
}

.satus-section.satus-section--mixer:hover > .satus-section
{
    visibility: visible;

    transform: translateY(0);
    pointer-events: all;

    opacity: 1;
}

.satus-section.satus-section--mixer.noconnection > .satus-section > div
{
    visibility: hidden;

    pointer-events: none;
}

.satus-section.satus-section--mixer.noconnection > .satus-section::after
{
    font-size: 18px;
    font-weight: 500;

    position: absolute;
    top: 50%;

    content: attr(data-no-connection-label);
    transform: translateY(-50%);

    opacity: .8;
}


/*-----------------------------------------------------------------------------
## Analyzer
-----------------------------------------------------------------------------*/

.analyzer-top-text
{
    font-size: 13px;

    display: flex;

    box-sizing: border-box;
    margin: 16px 0 0;
    padding: 0 16px;

    background: transparent!important;

    justify-content: space-between;
}

.analyzer-watch-time
{
    text-transform: uppercase;
}

.analyzer-today-at
{
    box-sizing: border-box;
}

.analyzer-container
{
    box-sizing: border-box;
    margin: 8px 0 16px;
    padding: 16px;

    background: var(--background-0) !important;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}

.analyzer-all-time
{
    font-size: 24px;
    font-weight: 400;

    margin-bottom: 8px;

    color: #4c4c4c;
}

.analyzer-chart
{
    position: relative;

    display: flex;
    overflow: hidden;

    box-sizing: border-box;
    height: 140px;
    margin: 8px 0;

    border-bottom: 1px solid #ccc;

    justify-content: space-between;
}

.analyzer-chart::before
{
    position: absolute;
    top: -78%;
    left: -15%;

    width: 125%;
    height: 250%;

    content: '';
    transform: rotate(-45deg);

    background: linear-gradient(transparent 50%, rgba(0,0,0,.05) 50%);
    background-size: 4px 4px;
}

.analyzer-column
{
    z-index: 1;

    display: flex;

    border-right: 1px solid #ccc;

    flex: 1;
}

.analyzer-column:first-child
{
    border-left: 1px solid #ccc;
}

.analyzer-data-column
{
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    flex: 1;
}

.analyzer-data
{
    height: 20px;
    margin: 0 1px;

    background-color: #c5c5c5;
}

.analyzer-data.first
{
    background-color: #1c00db;

    order: 3;
}

.analyzer-data.second
{
    background-color: #4dd0e1;

    order: 2;
}

.analyzer-data.third
{
    background-color: #ff9800;

    order: 1;
}

/*.analyzer-data:first-child
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}*/

.analyzer-bottom
{
    display: flex;

    margin: 14px 0 0;

    justify-content: space-between;
}

.analyzer-bottom > div .label
{
    margin: 0 0 2px;
}

.analyzer-bottom > div:first-child .label
{
    color: #1c00db;
}

.analyzer-bottom > div:nth-child(2) .label
{
    color: #4dd0e1;
}

.analyzer-bottom > div:nth-child(3) .label
{
    color: #ff9800;
}


/*-----------------------------------------------------------------------------
## Blacklist
-----------------------------------------------------------------------------*/

.satus-section.satus-section--blacklist
{
    position: relative;

    overflow: hidden;
    flex-direction: column;

    width: calc(100% - 32px);
    height: 116px;
    margin: 8px 16px 0;

    transition: opacity .25s;

    opacity: 1;
    border-radius: 10px;
    background-color: #000;
    background-position: center;
    background-size: cover;

    flex: unset;
    align-items: flex-start;
}

.satus-section.satus-section--blacklist.removing
{
    opacity: 0;
}

.satus-section.satus-section--blacklist::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;

    content: '';

    background: rgba(0,0,0,.5);
}

.satus-section.satus-section--blacklist > .label
{
    font-size: 16px;
    font-weight: 700;

    position: absolute;
    z-index: 1;
    bottom: 28px;

    text-transform: uppercase;

    opacity: 1;
    color: #fff;
}

.satus-section.satus-section--blacklist::after
{
    position: absolute;
    z-index: 1;
    bottom: 16px;
    left: 16px;

    content: attr(data-label);

    color: rgba(255,255,255,.5);
}


.satus-section.satus-section--blacklist > .satus-section
{
visibility: hidden;
    width: 100%;
    transition: .15s;
    opacity: 0;
    background: rgba(255,255,255,.95);
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    z-index: 999;
}

.satus-section.satus-section--blacklist:hover > .satus-section
{
    visibility: visible;

    opacity: 1;
}


/*-----------------------------------------------------------------------------
## Fixes
-----------------------------------------------------------------------------*/

#forced-playback-speed:not([data-value=true]) + div,
#forced-volume:not([data-value=true]) + div
{
    pointer-events: none;

    opacity: .25;

    filter: grayscale(1);
}