/*------------------------------------------------------------------------------
>>> "DIALOG" COMPONENT:
--------------------------------------------------------------------------------
1.0 Global
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
1.0 Global
------------------------------------------------------------------------------*/

.satus-dialog
{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;

    display: flex;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    animation: fadeOut 150ms linear forwards;
    animation-delay: 20ms;

    justify-content: center;
    align-items: center;
}

.satus-dialog_open
{
    animation: fadeIn 150ms linear forwards;
}

.satus-dialog__scrim
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,.4);
}

.satus-dialog__scrim_unvisible
{
    opacity: 0;
}

.satus-dialog__surface
{
    font-size: 14px;

    position: relative;

    display: flex;
    flex-direction: column;

    min-width: 240px;
    max-width: 560px;
    max-height: 90%;
    padding: 8px 0;

    animation: zoomIn 150ms linear forwards;
    animation-delay: 20ms;

    color: var(--color-1);
    border-radius: 4px;
    background: var(--background-0);
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);

    justify-content: center;
    align-items: center;
}

.satus-dialog__scrim_no-padding
{
    padding: 0;
}

@media (max-width: 560px)
{
    .satus-dialog__surface
    {
        width: 100%;
        max-width: calc(100% - 16px);
    }
}
