.satus-drawer
{
    position: relative;

    overflow: hidden;

    width: 0;
    height: 100%;

    transition: width 100ms cubic-bezier(.4,0,.2,1);

    background: #353535;

    will-change: width;
}

.satus-drawer__inner
{
    width: 300px;
}
