/*------------------------------------------------------------------------------
>>> "SECTION" COMPONENT:
--------------------------------------------------------------------------------
1.0 Global
2.0 Modifiers
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
1.0 Global
------------------------------------------------------------------------------*/

.satus-section
{
    display: flex;

    flex: 1;
    align-items: center;
}

.satus-section > .label
{
    box-sizing: border-box;
    margin: 16px 0 8px;
    padding: 0 0 0 16px;

    opacity: .5;
}

/*------------------------------------------------------------------------------
2.0 Modifiers
------------------------------------------------------------------------------*/

.satus-section--align-start
{
    justify-content: flex-start;
}

.satus-section--align-end
{
    justify-content: flex-end;
}

.satus-section--controls
{
    width: 100%;
    margin: 8px 0 0;

    justify-content: flex-end;
}
