/*--------------------------------------------------------------
>>> PLAYER_SIZE:
----------------------------------------------------------------
1.0 Variables
  1.1 Both YouTube
  1.2 New YouTube
    1.8.3 Fit to window & Full window (normal header)
    1.2.2 Fit to window & Full window (hidden header)
    1.2.3 Fit to window & Full window (hover header)
  1.3 old YouTube
2.0 New YouTube
  2.1 Fit to window
3.0 Old YouTube
  3.1 Sidebar
  3.2 Fit to window
4.0 Both YouTube
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Variables
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.1 Both YouTube
--------------------------------------------------------------*/

html:not([embed])[it-player-size='240p']
{
    --it-it-player-size: 240px;
}

html:not([embed])[it-player-size='360p']
{
    --it-it-player-size: 360px;
}

html:not([embed])[it-player-size='480p']
{
    --it-it-player-size: 480px;
}

html:not([embed])[it-player-size='576p']
{
    --it-it-player-size: 576px;
}

html:not([embed])[it-player-size='720p']
{
    --it-it-player-size: 720px;
}

html:not([embed])[it-player-size='1080p']
{
    --it-it-player-size: 1080px;
}

html:not([embed])[it-player-size='1440p']
{
    --it-it-player-size: 1440px;
}

html:not([embed])[it-player-size='2160p']
{
    --it-it-player-size: 2160px;
}

/*--------------------------------------------------------------
1.2 New YouTube
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.2.1 Fit to window & Full window (normal header)
--------------------------------------------------------------*/

html:not([embed]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=null]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) .video-ads,
html:not([embed]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=null]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) #player.skeleton .video-ads
{
    position: absolute;
    top: 0;
}

html:not([embed])[it-youtube-version=new][it-player-size='fit_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]):not([theater]),
html:not([embed])[it-youtube-version=new][it-player-size='full_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]):not([theater]),
html:not([embed])[it-youtube-version=new][it-player-size='fit_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-player-size='full_window'] #player.skeleton
{
    --it-it-player-size: calc(100vh - 104px);
}

html:not([embed])[it-youtube-version=new][it-player-size='fit_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater],
html:not([embed])[it-youtube-version=new][it-player-size='full_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater],
html:not([embed])[it-youtube-version=new][it-player-size='fit_window'] #player.skeleton.theater,
html:not([embed])[it-youtube-version=new][it-player-size='full_window'] #player.skeleton.theater
{
    --it-it-player-size: calc(100vh - 56px);
}


/*--------------------------------------------------------------
1.2.2 Fit to window & Full window (hidden header)
--------------------------------------------------------------*/

html:not([embed])[it-youtube-version=new][it-header-position=hidden][it-player-size='full_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]):not([theater]),
html:not([embed])[it-youtube-version=new][it-header-position=hidden_on_video_page][it-player-size='full_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]):not([theater]),
html:not([embed])[it-youtube-version=new][it-header-position=hidden][it-player-size='fit_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]):not([theater]),
html:not([embed])[it-youtube-version=new][it-header-position=hidden_on_video_page][it-player-size='fit_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]):not([theater]),
html:not([embed])[it-youtube-version=new][it-header-position=hidden][it-player-size='full_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-header-position=hidden_on_video_page][it-player-size='full_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-header-position=hidden][it-player-size='fit_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-header-position=hidden_on_video_page][it-player-size='fit_window'] #player.skeleton
{
    --it-it-player-size: calc(100vh - 48px);
}

html:not([embed])[it-youtube-version=new][it-header-position=hidden][it-player-size='full_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater],
html:not([embed])[it-youtube-version=new][it-header-position=hidden_on_video_page][it-player-size='full_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater],
html:not([embed])[it-youtube-version=new][it-header-position=hidden][it-player-size='fit_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater],
html:not([embed])[it-youtube-version=new][it-header-position=hidden_on_video_page][it-player-size='fit_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater],
html:not([embed])[it-youtube-version=new][it-header-position=hidden][it-player-size='full_window'] #player.skeleton.theater,
html:not([embed])[it-youtube-version=new][it-header-position=hidden_on_video_page][it-player-size='full_window'] #player.skeleton.theater,
html:not([embed])[it-youtube-version=new][it-header-position=hidden][it-player-size='fit_window'] #player.skeleton.theater,
html:not([embed])[it-youtube-version=new][it-header-position=hidden_on_video_page][it-player-size='fit_window'] #player.skeleton.theater
{
    --it-it-player-size: 100vh;
}


/*--------------------------------------------------------------
1.2.3 Fit to window & Full window (hover header)
--------------------------------------------------------------*/

html:not([embed])[it-youtube-version=new][it-header-position=hover][it-player-size='full_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]):not([theater]),
html:not([embed])[it-youtube-version=new][it-header-position=hover_on_video_page][it-player-size='full_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]):not([theater]),
html:not([embed])[it-youtube-version=new][it-header-position=hover][it-player-size='fit_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]):not([theater]),
html:not([embed])[it-youtube-version=new][it-header-position=hover_on_video_page][it-player-size='fit_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]):not([theater]),
html:not([embed])[it-youtube-version=new][it-header-position=hover][it-player-size='full_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-header-position=hover_on_video_page][it-player-size='full_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-header-position=hover][it-player-size='fit_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-header-position=hover_on_video_page][it-player-size='fit_window'] #player.skeleton
{
    --it-it-player-size: calc(100vh - 58px);
}

html:not([embed])[it-youtube-version=new][it-header-position=hover][it-player-size='full_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater],
html:not([embed])[it-youtube-version=new][it-header-position=hover_on_video_page][it-player-size='full_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater],
html:not([embed])[it-youtube-version=new][it-header-position=hover][it-player-size='fit_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater],
html:not([embed])[it-youtube-version=new][it-header-position=hover_on_video_page][it-player-size='fit_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater],
html:not([embed])[it-youtube-version=new][it-header-position=hover][it-player-size='full_window'] #player.skeleton.theater,
html:not([embed])[it-youtube-version=new][it-header-position=hover_on_video_page][it-player-size='full_window'] #player.skeleton.theater,
html:not([embed])[it-youtube-version=new][it-header-position=hover][it-player-size='fit_window'] #player.skeleton.theater,
html:not([embed])[it-youtube-version=new][it-header-position=hover_on_video_page][it-player-size='fit_window'] #player.skeleton.theater
{
    --it-it-player-size: calc(100vh - 16px);
}

html:not([embed])[it-youtube-version=new][it-header-position=hover][it-player-size='full_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-header-position=hover_on_video_page][it-player-size='full_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-header-position=hover][it-player-size='fit_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-header-position=hover_on_video_page][it-player-size='fit_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-header-position=hover][it-player-size='full_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-header-position=hover_on_video_page][it-player-size='full_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-header-position=hover][it-player-size='fit_window'] #player.skeleton,
html:not([embed])[it-youtube-version=new][it-header-position=hover_on_video_page][it-player-size='fit_window'] #player.skeleton
{
    margin: 0!important;
}


/*--------------------------------------------------------------
1.3 Old YouTube
--------------------------------------------------------------*/

html:not([embed])[it-youtube-version=old][it-player-size='full_window']
{
    --it-it-player-size: calc(100vh - 50px);
}

html:not([embed])[it-youtube-version=old][it-player-size='fit_window']
{
    --it-it-player-size: calc(100vh - 50px);
}

html:not([embed])[it-youtube-version=old][it-player-size='full_window']:not([it-header-position=normal]):not([it-header-position=static]),
html:not([embed])[it-youtube-version=old][it-player-size='fit_window']:not([it-header-position=normal]):not([it-header-position=static]) #page.watch-wide
{
    --it-it-player-size: calc(100vh - 11px);
}


/*--------------------------------------------------------------
2.0 New YouTube
--------------------------------------------------------------*/

html:not([embed])[it-youtube-version=new][it-player-size='full_window'] ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) .html5-video-player:not(.improvedtube-mini-player) video,
html:not([embed])[it-youtube-version=new][it-player-size='full_window'] #player.skeleton .html5-video-player:not(.improvedtube-mini-player) video
{
    width: 100%!important;
}

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) #player-container-inner
{
    padding-top: var(--it-it-player-size) !important;
}

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) #player.skeleton video
{
    position: static!important;
    top: 0!important;
    left: 0!important;

    margin: auto!important;
}

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater] #player-theater-container,
html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) #player-container,
html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) .html5-video-player:not(.improvedtube-mini-player),
html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) .html5-video-player:not(.improvedtube-mini-player) video,
html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) #player.skeleton,
html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) #player.skeleton #player-api,
html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) #player.skeleton .html5-video-player:not(.improvedtube-mini-player) video
{
    height: var(--it-it-player-size) !important;
    max-height: var(--it-it-player-size) !important;
}

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater] #player-theater-container
{
    min-height: auto!important;
}

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) .html5-video-container
{
    display: flex!important;
    flex-direction: column!important;

    justify-content: center!important;
    align-items: center!important;
}

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) .html5-video-player:not(.improvedtube-mini-player) video
{
    position: static!important;
}

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) .html5-video-player:not(.improvedtube-mini-player) video
{
    top: 0!important;
    left: 0!important;
}


/*--------------------------------------------------------------
2.1 Fit to window
--------------------------------------------------------------*/

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size='fit_window']:not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) #player-theater-container,
html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size='fit_window']:not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) .html5-video-player:not(.improvedtube-mini-player)
{
    height: auto !important;
    max-height: none!important;
}

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size='fit_window']:not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) #player-container-inner
{
    padding-top: 0!important;
}

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size='fit_window']:not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) #player-container
{
    position: static!important;

    height: auto!important;
    padding-top: 0!important;
}

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size='fit_window']:not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) .html5-video-player:not(.improvedtube-mini-player) video
{
    position: static!important;
    top: 0!important;
    left: 0!important;

    width: 100%!important;
    height: auto!important;
}

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size='fit_window']:not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen]) .html5-video-player:not(.improvedtube-mini-player) video
{
    max-height: calc(100vh - 104px) !important;
}

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size='fit_window']:not([embed]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater] .html5-video-player:not(.improvedtube-mini-player) video
{
    max-height: calc(100vh - 56px) !important;
}

html:not([embed])[it-youtube-version=new][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size='fit_window']:not([embed]):not([it-header-position=normal]):not([it-header-position=static]) ytd-app:not([player-fullscreen_]) ytd-watch-flexy:not([fullscreen])[theater] .html5-video-player:not(.improvedtube-mini-player) video
{
    max-height: 100vh !important;
}


/*--------------------------------------------------------------
3.0 Old YouTube
--------------------------------------------------------------*/

html:not([embed])[it-youtube-version=old][it-page-type=video][it-player-size=full_window]:not([embed]) #page:not(.watch-wide)
{
    --it-it-player-size: calc(100vh - 70px);
}

html:not([embed])[it-youtube-version=old][it-page-type=video][it-player-size=full_window][it-header-position=hidden]:not([embed]) #page:not(.watch-wide),
html:not([embed])[it-youtube-version=old][it-page-type=video][it-player-size=full_window][it-header-position=hidden_on_video_page]:not([embed]) #page:not(.watch-wide),
html:not([embed])[it-youtube-version=old][it-page-type=video][it-player-size=full_window][it-header-position=hover]:not([embed]) #page:not(.watch-wide),
html:not([embed])[it-youtube-version=old][it-page-type=video][it-player-size=full_window][it-header-position=hover_on_video_page]:not([embed]) #page:not(.watch-wide)
{
    --it-it-player-size: calc(100vh - 20px);
}

html:not([embed])[it-youtube-version=old][it-page-type=video][it-player-size=full_window][it-header-position=hidden]:not([embed]) #page.watch-wide,
html:not([embed])[it-youtube-version=old][it-page-type=video][it-player-size=full_window][it-header-position=hidden_on_video_page]:not([embed]) #page.watch-wide {
    --it-it-player-size: 100vh;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=fit_window]):not([embed]) #theater-background,
html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=fit_window]):not([embed]) #player-api,
html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=fit_window]):not([embed]) .html5-video-player:not(.improvedtube-mini-player):not(.ytp-fullscreen) video,
html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=fit_window]):not([embed]) #placeholder-player .player-api
{
    height: var(--it-it-player-size) !important;
    max-height: var(--it-it-player-size) !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=fit_window]):not([embed]) .html5-video-player:not(.improvedtube-mini-player):not(.ytp-fullscreen) video
{
    position: static !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) #page.watch-wide #player-api
{
    left: 0!important;

    display: flex!important;

    width: 100% !important;
    margin: 0!important;

    justify-content: center!important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([embed]) #page.watch-wide .html5-video-player:not(.improvedtube-mini-player):not(.ytp-fullscreen)
{
    width: auto!important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=fit_window]):not([embed]) .html5-video-player:not(.improvedtube-mini-player):not(.ytp-fullscreen) video
{
    top: 0!important;
    left: 0!important;

    width: auto!important;
    max-width: 100vw!important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=fit_window]):not([embed]) #page:not(.watch-wide) .html5-video-player:not(.improvedtube-mini-player):not(.ytp-fullscreen) video
{
    max-width: 100%!important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=fit_window]):not([it-player-size=full_window]):not([embed]) #page:not(.watch-wide) .html5-video-player:not(.improvedtube-mini-player):not(.ytp-fullscreen) video
{
    width: 100%!important;
}


/*--------------------------------------------------------------
3.1 Sidebar
--------------------------------------------------------------*/

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=fit_window]):not([embed]) #watch7-sidebar
{
    top: 0 !important;

    margin-top: calc(((var(--it-it-player-size) - var(--it-it-player-size)) - var(--it-it-player-size)) - 10px) !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=fit_window]):not([embed]) #page.watch-wide #watch7-sidebar
{
    margin-top: 0 !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video][it-player-size=full_window]:not([embed]) #page:not(.watch-wide) #watch7-sidebar-contents
{
    margin-top: 0 !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=fit_window]):not([embed]) #page.watch-wide #watch-appbar-playlist
{
    top: calc(var(--it-it-player-size) + 10px);

    transform: none;
}


/*--------------------------------------------------------------
3.2 Fit to window
--------------------------------------------------------------*/

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size=fit_window]:not([embed]) #page.watch-wide #player
{
    position: static !important;

    width: auto !important;
    min-width: auto !important;
    max-width: none !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size=fit_window]:not([embed]) #page.watch-wide #theater-background
{
    display: none !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size=fit_window]:not([embed]) #page.watch-wide #player-mole-container
{
    display: flex !important;

    margin: 10px 0 0 !important;

    justify-content: center !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size=fit_window]:not([embed]) #page.watch-wide #player-api
{
    position: static !important;

    width: auto !important;
    height: auto !important;
    margin: 0 !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size=fit_window]:not([embed]) #page.watch-wide #movie_player:not(.ytp-fullscreen)
{
    width: auto !important;
    height: auto !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size=fit_window]:not([embed]) #page.watch-wide #movie_player:not(.ytp-fullscreen) .html5-video-container
{
    position: static !important;

    width: auto !important;
    height: auto !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size=fit_window]:not([embed]) #page.watch-wide #movie_player:not(.ytp-fullscreen) video
{
    position: static !important;

    width: 100vw !important;
    max-width: 100vw;
    height: 100vh !important;
    max-height: calc(100vh - 50px);
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size=fit_window]:not([embed]) #page.watch-wide #placeholder-player
{
    display: none !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size=fit_window]:not([embed]) #page.watch-wide #player-playlist
{
    position: absolute !important;
    z-index: 1 !important;
    left: 50% !important;

    width: 100% !important;

    transform: translateX(-50%) !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size=fit_window]:not([embed]) #page.watch-wide #watch-appbar-playlist
{
    top: calc(100vh - 40px) !important;

    width: 400px !important;

    transform: none !important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size=fit_window]:not([embed]) #page.watch-wide .ytp-iv-video-content
{
    z-index: -1;
}

html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size=fit_window]:not([embed])
{
    overflow-x: hidden!important;
}


html:not([embed])[it-youtube-version=old][it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal'])[it-player-size=fit_window]:not([embed]) #page.watch-wide #movie_player.ytp-fullscreen video
{
    max-width: none!important;
    max-height: none!important;
}

html:not([embed])[it-youtube-version=old][it-page-type=video][it-player-size=full_window]:not([embed]) #movie_player:not(.ytp-fullscreen) video
{
    margin: auto!important;
}














[it-player-size=full_window] .ytp-cued-thumbnail-overlay-image {
    background-size: contain !important;
}

html:not([embed])[it-page-type=video] ytd-watch-flexy[fullscreen] video,
html:not([embed])[it-page-type=video] .html5-video-player:not(.improvedtube-mini-player).ytp-fullscreen video
{
    max-width: none!important;
    max-height: none!important;
}

html:not([embed])[it-page-type=video]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']) .ytp-cued-thumbnail-overlay-image
{
    z-index: 10!important;
}

html:not([embed]) .ytp-tooltip.ytp-bottom
{
    top: auto !important;
    bottom: 64px !important;
}

html:not([embed]) .ytp-upnext-top,
html:not([embed]) .ytp-upnext-autoplay-icon,
html:not([embed]) .ytp-upnext-bottom
{
    z-index: 999;
}

html:not([embed])[it-youtube-version=old][it-page-type=video][it-header-position=hover]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=fit_window]):not([embed]) #page.watch-wide #player-api,
html:not([embed])[it-youtube-version=old][it-page-type=video][it-header-position=hover_on_video_page]:not([it-player-size=null]):not([it-player-size='do_not_change']):not([it-player-size='normal']):not([it-player-size=fit_window]):not([embed]) #page.watch-wide #player-api
{
    margin-top: 11px !important;
}
