.improvedtube-add-to-blacklist
{
    font-size: 32px;
    line-height: 26px;

    position: absolute;
    z-index: 999;
    top: 4px;
    left: 4px;

    visibility: hidden;
    overflow: hidden;

    width: 32px;
    height: 32px;

    cursor: pointer;
    transition: transform .15s;
    transform: scale(1);
    text-align: center;

    opacity: .7;
    color: #fff;
    border-radius: 2px;
    background: #000;
}

*:hover > .improvedtube-add-to-blacklist
{
    visibility: visible;
}

.improvedtube-add-to-blacklist:hover
{
    transform: scale(1.25);
}
