/*-----------------------------------------------------------------------------
>>> GENERAL
-------------------------------------------------------------------------------
1.0 YouTube Home Page
2.0 Add «Scroll to top»
3.0 Squared user images
4.0 Hide animated thumbnails
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.0 YouTube Home Page
-----------------------------------------------------------------------------*/

html[it-page-type=home][it-youtube-home-page=search],
html[it-page-type=home][it-youtube-home-page=search] app-drawer[opened],
html[it-page-type=home][it-youtube-home-page=search] #appbar-guide-menu
{
    visibility: hidden !important;
    overflow: hidden !important;

    width: 100vw !important;
    height: 100vh !important;

    pointer-events: none !important;
}

html[it-page-type=home][it-youtube-home-page=search] ytd-searchbox#search,
html[it-page-type=home][it-youtube-home-page=search] #yt-masthead-content
{
    position: fixed !important;
    z-index: 99999 !important;
    top: 0 !important;
    left: 0 !important;

    display: flex !important;
    visibility: visible !important;

    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;

    pointer-events: all !important;

    justify-content: center !important;
    align-items: center !important;
}

html[it-page-type=home][it-youtube-home-page=search] #yt-masthead-content > form
{
    width: 100% !important;
}

html[it-page-type=home][it-youtube-home-page=search] .gstl_50.sbdd_a
{
    z-index: 99999 !important;

    visibility: visible !important;

    pointer-events: all !important;
}


/*-----------------------------------------------------------------------------
2.0 Add «Scroll to top»
-----------------------------------------------------------------------------*/

#it-scroll-to-top
{
    position: fixed;
    z-index: 999;
    right: 32px;
    bottom: 32px;

    display: flex;
    visibility: hidden;

    box-sizing: border-box;
    width: 56px;
    height: 56px;

    cursor: pointer;
    transition: .28s cubic-bezier(.4, 0, .2, 1);
    transform: translateY(88px);
    pointer-events: none;

    opacity: 0;
    border-radius: 50%;
    background: #cd3632;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2);

    justify-content: center;
    align-items: center;
}

html[it-show-scroll-to-top=true] #it-scroll-to-top
{
    visibility: visible;

    transform: translateY(0px);
    pointer-events: all;

    opacity: 1;
}

#it-scroll-to-top > svg
{
    width: 24px;

    fill: #fff;
}

#it-scroll-to-top:hover
{
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}


/*-----------------------------------------------------------------------------
3.0 Squared user images
-----------------------------------------------------------------------------*/

html[it-squared-user-images=true] #avatar.ytd-shelf-renderer,
html[it-squared-user-images=true] yt-img-shadow,
html[it-squared-user-images=true] #yt-masthead-user .yt-masthead-user-icon
{
    border-radius: unset !important;
}


/*-----------------------------------------------------------------------------
4.0 Hide animated thumbnails
-----------------------------------------------------------------------------*/

html[it-hide-animated-thumbnails=true] #mouseover-overlay,
html[it-hide-animated-thumbnails=true] .mouseover-play,
html[it-hide-animated-thumbnails=true] .mouseover-img
{
    visibility: hidden !important;
}
