.it-rate-notify
{
    position: fixed;
    z-index: 99999999;
    right: 24px;
    bottom: 24px;

    visibility: hidden;
    overflow: hidden;

    width: 300px;
    padding-left: 96px;

    transition: transform 200ms;
    transform: translate(0, 100%);

    opacity: 0;
    border-radius: 16px;
    background-image: linear-gradient(-20deg, #e9defa 0%, #e9defa 50%, #fbfcdb 100%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
}

html:not([it-page-type='video']) .it-rate-notify.it-rate-notify--show
{
    visibility: visible;

    transform: translate(0,0);
    animation: 1s infinite it-popup-background;
    animation-timing-function: linear;

    opacity: 1;
}

.it-rate-notify__heart
{
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 20px;

    width: 80px;
    height: 80px;

    fill: url(#itHeartGradient);
}

.it-rate-notify.it-rate-notify--show .it-rate-notify__heart
{
    animation: .8s infinite it-heart-beat;
}

.it-rate-notify__title
{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;

    margin: 20px 24px;

    letter-spacing: .03125em;

    color: rgba(51, 38, 25, .8);
}

.it-rate-notify__footer
{
    display: flex;

    padding: 8px;

    align-items: center;
    justify-content: flex-end;
}

.it-rate-notify__footer > button
{
    font: 500 18px Roboto;

    min-width: 64px;
    height: 36px;
    padding: 0 8px;

    cursor: pointer;
    transition: 150ms;

    color: rgba(255, 8, 68,.65);
    border: none;
    outline: none;
    background: none;
}

.it-rate-notify__footer > button:hover
{
    transform: scale(1.05);

    color: rgba(255, 8, 68,.85);
}

.it-rate-notify__footer > button:last-child
{
    color: rgba(51, 38, 25, .25);
}

.it-rate-notify__footer > button:last-child:hover
{
    color: rgba(51, 38, 25, .85);
}

@keyframes it-popup-background
{
    0%
    {
        background-image: linear-gradient(-20deg, #e9defa 0%, #e9defa 50%, #fbfcdb 100%);
    }
    50%
    {
        background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 50%, #e9defa 100%);
    }
    100%
    {
        background-image: linear-gradient(-20deg, #fbfcdb 0%, #e9defa 50%, #e9defa 100%);
    }
}

@keyframes it-heart-beat
{
    0%
    {
        transform: scale(1);
    }
    25%
    {
        transform: scale(1.1);
    }
    40%
    {
        transform: scale(1);
    }
    60%
    {
        transform: scale(1.1);
    }
    100%
    {
        transform: scale(1);
    }
}
