/*-----------------------------------------------------------------------------
>>> PLAYER
-------------------------------------------------------------------------------
1.0 Mini player
    1.1 Position and size
    1.2 Dragging
    1.3 Multipage
2.0 Custom player button
    2.1 Repeat
    2.2 Screenshot
    2.3 Rotate
    2.4 Popup
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.0 Mini player
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.1 Position and size
-----------------------------------------------------------------------------*/

.improvedtube-mini-player
{
    position: fixed !important;
    z-index: 2147483646 !important;
    top: 0 !important;
    left: 0 !important;

    box-shadow: rgba(0, 0, 0, .4) 0 2px 8px !important;

    will-change: transform, width, height !important;
}

.improvedtube-mini-player .html5-video-container,
.improvedtube-mini-player video
{
    top: 0 !important;
    left: 0 !important;

    width: 100% !important;
    height: 100% !important;
}

.improvedtube-mini-player .ytp-chrome-bottom
{
    width: calc(100% - 24px) !important;
}

html[data-mini-player=true] .ytp-contextmenu
{
    z-index: 2147483647 !important;
}


/*-----------------------------------------------------------------------------
1.2 Dragging
-----------------------------------------------------------------------------*/

.improvedtube-mini-player.dragging
{
    pointer-events: none !important;
}

.improvedtube-mini-player.dragging *:not(.html5-video-container):not(video)
{
    visibility: hidden !important;
}

html[data-cursor='w-resize'],
html[data-cursor='w-resize'] *
{
    cursor: w-resize !important;
}

html[data-cursor='e-resize'],
html[data-cursor='e-resize'] *
{
    cursor: e-resize !important;
}

html[data-cursor='n-resize'],
html[data-cursor='n-resize'] *
{
    cursor: n-resize !important;
}

html[data-cursor='s-resize'],
html[data-cursor='s-resize'] *
{
    cursor: s-resize !important;
}

html[data-cursor='nw-resize'],
html[data-cursor='nw-resize'] *
{
    cursor: nw-resize !important;
}

html[data-cursor='ne-resize'],
html[data-cursor='ne-resize'] *
{
    cursor: ne-resize !important;
}

html[data-cursor='se-resize'],
html[data-cursor='se-resize'] *
{
    cursor: se-resize !important;
}

html[data-cursor='sw-resize'],
html[data-cursor='sw-resize'] *
{
    cursor: sw-resize !important;
}


/*-----------------------------------------------------------------------------
1.3 Multipage
-----------------------------------------------------------------------------*/

html[it-mini-player=true] ytd-watch-flexy[hidden]
{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;

    display: block !important;
    visibility: hidden !important;

    max-width: 100% !important;

    pointer-events: none !important;
}

html[it-mini-player=true] ytd-watch-flexy[hidden] .ytd-watch-next-secondary-results-renderer
{
    display: none;
}

html[it-mini-player=true] ytd-watch-flexy[hidden] .improvedtube-mini-player
{
    position: fixed !important;

    visibility: visible !important;

    pointer-events: all !important;
}


/*-----------------------------------------------------------------------------
2.0 Custom player button
-----------------------------------------------------------------------------*/

#it-repeat-button,
#it-screenshot-button,
#it-rotate-button,
#it-popup-player-button
{
    position: relative !important;
}

.html5-video-player.ytp-big-mode #it-repeat-button svg,
.html5-video-player.ytp-big-mode #it-screenshot-button svg,
.html5-video-player.ytp-big-mode #it-rotate-button svg,
.html5-video-player.ytp-big-mode #it-popup-player-button svg
{
    top: 10px !important;
    left: 10px !important;

    width: 34px !important;
}

#it-repeat-button svg,
#it-screenshot-button svg,
#it-rotate-button svg,
#it-popup-player-button svg
{
    position: absolute !important;

    fill: #fff !important;
}


/*-----------------------------------------------------------------------------
2.1 Repeat
-----------------------------------------------------------------------------*/

#it-repeat-button svg
{
    top: 6px !important;
    left: 6px !important;

    width: 24px !important;
}


/*-----------------------------------------------------------------------------
2.2 Screenshot
-----------------------------------------------------------------------------*/

#it-screenshot-button svg
{
    top: 7px !important;
    left: 7px !important;

    width: 22px !important;
}


/*-----------------------------------------------------------------------------
2.3 Rotate
-----------------------------------------------------------------------------*/

#it-rotate-button svg
{
    top: 7px !important;
    left: 7px !important;

    width: 22px !important;
}


/*-----------------------------------------------------------------------------
2.4 Popup
-----------------------------------------------------------------------------*/

#it-popup-player-button svg
{
    top: 7px !important;
    left: 7px !important;

    width: 22px !important;
}
