/*-----------------------------------------------------------------------------
>>> THEMES
-------------------------------------------------------------------------------
1.0 Bluelight
2.0 Dim
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.0 Bluelight
-----------------------------------------------------------------------------*/

html[it-bluelight]
{
    height: auto !important;
}

html[it-bluelight],
html[it-bluelight] .html5-video-player.ytp-fullscreen
{
    filter: url(#it-bluelight-filter) !important;
}

#it-bluelight
{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;

    visibility: hidden !important;

    width: 100% !important;
    height: 100vh !important;

    pointer-events: none !important;
}


/*-----------------------------------------------------------------------------
2.0 Dim
-----------------------------------------------------------------------------*/

#it-dim
{
    position: fixed !important;
    z-index: 2147483645 !important;
    top: 0 !important;
    left: 0 !important;

    width: 100% !important;
    height: 100vh !important;

    pointer-events: none !important;

    background: #000 !important;
}

#it-dim-player
{
    position: fixed !important;
    z-index: 2147483645 !important;
    top: 0 !important;
    left: 0 !important;

    visibility: hidden !important;

    width: 100% !important;
    height: 100vh !important;

    pointer-events: none !important;

    background: #000 !important;
}

.html5-video-player.ytp-fullscreen #it-dim-player
{
    visibility: visible !important;
}
