html {overflow-x: hidden !important; }  
/* Fix to tame Youtube's page-load / make it more calm  -  the player wont annoyingly slide in from the right anymore */
									/* previously also: html[it-transcript='true'] {overflow-x: hidden !important; }  */
									
@-moz-document url-prefix() { overflow-x: visible !important; } /* REMOVE ME SOON https://github.com/code-charity/youtube/issues/1649 */

/*--------------------------------------------------------------
>>> SIDEBAR
----------------------------------------------------------------
# Related videos
# Move sidebar left
# Move thumbnails right
# Hide thumbnails
# Livechat
# Hide playlist
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# SIDEBAR AUTO SIZING
--------------------------------------------------------------*/
ytd-watch-flexy[flexy] #secondary.ytd-watch-flexy {
    width: auto !important;
    min-width: unset !important;
}

ytd-live-chat-frame,
div#secondary div#related,
div#secondary div#panels,
div#secondary div#donation-shelf,
div#secondary #playlist {
    width: var(--ytd-watch-flexy-sidebar-width);
    min-width: var(--ytd-watch-flexy-sidebar-min-width);
}
/*--------------------------------------------------------------
# TRANSCRIPT
--------------------------------------------------------------*/
html[data-page-type=video][it-transcript='true'] *[target-id*='transcript'], 
html[data-page-type=video][it-transcript='true'] *[target-id*='transcript']  ytd-engagement-panel-section-list-renderer #content
{ max-height: 77vh !important;  }
html[data-page-type=video][it-transcript='true'] *[target-id*='transcript'] #title
{ opacity: 0.4; }
html[data-page-type=video][it-transcript='true'][it-sidebar-left='transcript']  ytd-watch-flexy:not([fullscreen]) #columns
 { display:flex !important; max-width:99% !important;   } 
 html[data-page-type=video][it-transcript='true'] *[target-id*='transcript'], 
html[data-page-type=video][it-transcript='true'] *[target-id*='transcript']:not([it-sidebar-left='true']) ytd-engagement-panel-section-list-renderer #content {
min-width: max(445px,17vw) !important; max-width: min(24vw,650px) !important; margin-left: -20px !important;} 
html[data-page-type=video][it-transcript='true']:not([it-player-size='1080p']):not([it-player-size='1440p']):not([it-player-size='2160p']):not([it-player-size='custom']):not([it-player-size='max_width']) ytd-watch-flexy:not([fullscreen]) #player{
max-width: 1280px !important; }

@media screen and  (min-width: 1599px) {	
html[data-page-type=video][it-transcript='true']  ytd-watch-flexy:not([fullscreen]) #secondary
{ display:flex !important; max-width: 99% !important; } 
html[data-page-type=video][it-transcript='true'] ytd-browse > ytd-two-column-browse-results-renderer {
 object-fit: contain !important; max-width: 99% !important; margin: -5px; }
html[data-page-type=video][it-transcript='true'][it-sidebar-left='true'] *[target-id*='transcript'],
html[data-page-type=video][it-transcript='true'][it-sidebar-left='true']:not([it-player-size='max_width']) *[target-id*='transcript'] { min-width: 440px !important; max-width:440px !important;  object-fit: contain !important; overflow-x: hidden !important;  float: right;  /* direction: rtl; */
} html[data-page-type=video][it-transcript='true'][it-sidebar-left='true']:not([it-player-size='max_width']) td-engagement-panel-section-list-renderer
{  /* text-align: right !important;  direction: ltr; */
} html[data-page-type=video][it-transcript='true'][it-sidebar-left='true']:not([it-player-size='max_width']) #player
  {  z-index:1000 !important; left:-10px !important;} 
}

html[data-page-type=video][it-transcript='true'] ytd-transcript-segment-renderer:hover { overflow-x: visible !important; }
html[data-page-type=video][it-transcript='true'] ytd-transcript-segment-renderer:has(+ ytd-transcript-segment-renderer.active) yt-formatted-string 
	{margin-bottom:-5px !important; margin-top:-5px !important; font-size:1.25em !important;} 
html[data-page-type=video][it-transcript='true'] ytd-transcript-segment-renderer.active yt-formatted-string 
	{margin-bottom:-5px !important; margin-top:-5px !important; font-size:1.35em !important;}		
html[data-page-type=video][it-transcript='true'] ytd-transcript-segment-renderer.active + ytd-transcript-segment-renderer yt-formatted-string 
	{margin-bottom:-5px !important; margin-top:-5px !important; font-size:1.3em !important;}
html[data-page-type=video][it-transcript='true'] ytd-transcript-segment-renderer.active + ytd-transcript-segment-renderer + ytd-transcript-segment-renderer yt-formatted-string 
	{margin-bottom:-5px !important; margin-top:-5px !important; font-size:1.25em !important;}

html[data-page-type=video][it-compactSpacing='true'] *[target-id*='transcript'] ytd-transcript-segment-renderer * { max-height: 15px !important; margin-bottom:-5px !important; margin-top:-5px !important; }
html[data-page-type=video][it-compactSpacing='true'] *[target-id*='transcript'], 
html[data-page-type=video][it-compactSpacing='true'] *[target-id*='transcript']  ytd-engagement-panel-section-list-renderer #content
{ max-height: 69vh !important; margin-top:40px !important; }

	
/*--------------------------------------------------------------
# RELATED VIDEOS
--------------------------------------------------------------*/
html[it-related-videos='hidden'] #related > ytd-watch-next-secondary-results-renderer > #items,
html[it-related-videos=hidden] div#secondary div#panels,
html[it-related-videos=hidden] div#secondary div#donation-shelf {
	display: none !important;
}

html[it-related-videos='collapsed'] #related > ytd-watch-next-secondary-results-renderer > #items:not([it-activated])::before {
	content: 'Show more' !important;
}

html[it-related-videos='collapsed'] #related > ytd-watch-next-secondary-results-renderer > #items[it-activated]::before {
	content: 'Show less' !important;
}

html[it-related-videos='collapsed'] #related > ytd-watch-next-secondary-results-renderer > #items::before {
	font-family: inherit !important;
	font-size: 1.6rem !important;
	font-weight: 400 !important;

	display: flex !important;

	width: 100% !important;
	height: 48px !important;
	margin: 0 !important;

	color: var(--yt-spec-text-primary) !important;
	border-bottom: 1px solid var(--yt-spec-10-percent-layer) !important;

	justify-content: center !important;
	align-items: center !important;
}

html[it-related-videos='collapsed'] #related > ytd-watch-next-secondary-results-renderer > #items:not([it-activated]) > *{
	visibility: hidden !important;

	pointer-events: none !important;
}

/*--------------------------------------------------------------
# NO PAGE MARGIN
--------------------------------------------------------------*/
	
html[data-page-type=video][it-no-page-margin='true'] ytd-watch-flexy:not([fullscreen]) #columns.ytd-watch-flexy,
html[data-page-type=video][it-no-page-margin='true'] ytd-watch-flexy:not([fullscreen]) #primary.ytd-watch-flexy,
html[data-page-type=video][it-no-page-margin='true'] ytd-watch-flexy:not([fullscreen]) #secondary.ytd-watch-flexy {
	max-width: 100% !important;  }
html[data-page-type=video][it-no-page-margin='true'] ytd-watch-flexy:not([fullscreen]) #below {
    margin-left: calc(4vh + 3vw - 40px) !important;} 	

@media screen and (max-width: 2300px) and (min-width: 1250px) {	

	html[data-page-type=video][it-no-page-margin='true'] ytd-watch-flexy:not([fullscreen]) #secondary.ytd-watch-flexy {
	margin-right: calc (-12px - 0.4vw - 0.4vh) !important;}
	html[data-page-type=video][it-no-page-margin='true'] ytd-watch-flexy:not([fullscreen]) #below {
		margin-left: max(18px, calc(19vw - 230px)) !important;
	    margin-right:max(18px, calc(13vw - 130px)) !important;
		max-width: 1280px !important;	} 
}
		
@media screen and (min-width: 2301px) {	
	html[data-page-type=video][it-no-page-margin='true'][it-sidebar-left='true'] #secondary
	{left: 15px !important;}
	html[data-page-type=video][it-no-page-margin='true']:not([it-player-size='max_width']) #secondary
	{position:absolute !important;  right: 15px; }
	html[data-page-type=video][it-no-page-margin='true']:not([it-player-size='1080p']):not([it-player-size='1440p']):not([it-player-size='2160p']):not([it-player-size='custom']):not([it-player-size='max_width']) ytd-watch-flexy:not([fullscreen]) #primary.ytd-watch-flexy {
	max-width: 1280px !important; }
	html[data-page-type=video][it-no-page-margin='true']:not([it-player-size='1080p']):not([it-player-size='1440p']):not([it-player-size='2160p']):not([it-player-size='custom']):not([it-player-size='max_width']) ytd-watch-flexy:not([fullscreen]) #below {
	margin-left: 10px !important;}
}	

html[data-page-type=video][it-no-page-margin='true'] ytd-browse > ytd-two-column-browse-results-renderer {
	width: auto !important;
	max-width: auto !important; }


/*--------------------------------------------------------------
# MOVE SIDEBAR LEFT
--------------------------------------------------------------*/
html[it-sidebar-left='true'] #columns>#primary,
html[it-sidebar-left='true'] #head>#upnext{
	order: 5 !important;}
	
html[it-sidebar-left='true'][it-comments-sidebar='true'] #comments{order: 6 !important;}

html[it-sidebar-left='true'] #columns>#secondary>#related {margin-left: calc(0.5vw + 4px); margin-right:1vw !important;}

/*--------------------------------------------------------------
# MOVE THUMBNAILS RIGHT
--------------------------------------------------------------*/
html[it-thumbnails-right='true'] ytd-watch-next-secondary-results-renderer ytd-thumbnail {
	order: 5 !important;
}

/*--------------------------------------------------------------
# HIDE THUMBNAILS
--------------------------------------------------------------*/
html[it-thumbnails-hide='true'] ytd-watch-next-secondary-results-renderer ytd-thumbnail,
html[it-thumbnails-hide='true'] ytd-watch-next-secondary-results-renderer ytd-playlist-thumbnail {
	display: none !important;
}

/*--------------------------------------------------------------
# LIVECHAT
--------------------------------------------------------------*/
html[it-livechat='hidden'] ytd-live-chat-frame#chat {
	display: none !important;
}

/*--------------------------------------------------------------
# HIDE PLAYLIST
--------------------------------------------------------------*/
html[it-hide-playlist='true'] ytd-playlist-panel-renderer#playlist {
	display: none !important;
}
