html[theme=black]
{
    --it-primary-color: #f96754;

    --it-header-background: #111;
    --it-header-title-color: #dcdcdc;
    --it-header-button-color: rgba(255, 255, 255, .059);
    --it-header-icon-color: #dcdcdc;

    --it-body-section-label-color: #bbb;
    --it-body-section-background: #111;
    --it-body-background-color: #000;
    --it-item-hover-color: rgba(255, 255, 255, .04);
    --it-item-text-color: rgba(255, 255, 255, .87);
    --it-item-label-color: #fafafa;
    --it-item-radio-color: rgba(255,255,255,.54);

    --it-body-appearance-shadow: #050505;
}

.list__item_black-theme > ul
{
    position: relative;

    overflow: hidden;

    background: linear-gradient(#0d1216, #353d46);
}

@keyframes black-blur
{
    0%
    {
        background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px;
    }

    50%
    {
        background-position: 20px 20px, 230px -20px, 0 -40px, 160px 10px;
    }

    100%
    {
        background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px;
    }
}

.list__item_black-theme > ul::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    animation-name: black-blur;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    pointer-events: none;

    background: radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%);
    background-repeat: no-repeat;
    background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px;
    background-size: 50px 50px, 50px 50px, 100px 100px, 75px 75px;

    filter: blur(8px);
}

.list__item_black-theme .list__item_toggle .list__item__label
{
    color: #ffffe7;
}

.list__item_black-theme .list__item_toggle .list__item_toggle__status
{
    border-color: #ffffe7;
}
