html[theme=sunset]
{
    --it-primary-color: #f96754;

    --it-header-background: #f56264;
    --it-header-title-color: #dcdcdc;
    --it-header-button-color: rgba(255, 255, 255, .059);
    --it-header-icon-color: #dcdcdc;

    --it-body-section-label-color: #bbb;
    --it-body-section-background: #f56264;
    --it-body-background-color: #2f3364;
    --it-item-hover-color: rgba(255, 255, 255, .04);
    --it-item-text-color: rgba(255, 255, 255, .87);
    --it-item-label-color: #fafafa;
    --it-item-radio-color: rgba(255,255,255,.54);

    --it-body-appearance-shadow: #dc585a;
}

.list__item_sunset-theme > ul
{
    position: relative;

    overflow: hidden;

    background: linear-gradient(#2f3364, #a96165);
}

.list__item_sunset-theme > ul::before
{
    position: absolute;
    top: -1rem;
    left: 50%;

    overflow: hidden;

    width: 8rem;
    height: 8rem;

    content: '';
    transform: translate(-50%, 0%);
    pointer-events: none;

    border-radius: 50%;
    background: linear-gradient(#fa7965, #f56264, transparent);
}

.list__item_sunset-theme .list__item_toggle .list__item__label
{
    color: #ffffe7;
}

.list__item_sunset-theme .list__item_toggle .list__item_toggle__status
{
    border-color: #ffffe7;
}
