/*-----------------------------------------------------------------------------
# THEMES CATEGORY
-----------------------------------------------------------------------------*/

.satus-main__container[data-appearance='themes'] .satus-switch:first-child
{
    margin-top: 16px;
}

.satus-main__container[data-appearance='themes'] .satus-switch:last-child
{
    margin-bottom: 16px;
}

.satus-main__container[data-appearance='themes'] .satus-switch
{
    width: calc(100% - 16px);
    max-width: 900px;
    height: 80px;
    margin: 8px auto;

    border-radius: 8px;
}

.satus-main__container[data-appearance='themes'] .satus-switch__label
{
    font-size: 15px;
    font-weight: 500;

    color: #eee;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .7);
}

.satus-switch--dark
{
    position: relative;

    overflow: hidden;

    background: linear-gradient(#0d1216, #353d46) !important;
}

.satus-switch--dark::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    animation-name: satus-switch--dark;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    pointer-events: none;

    background: radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%) !important;
    background-repeat: no-repeat !important;
    background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px !important;
    background-size: 50px 50px, 50px 50px, 100px 100px, 75px 75px !important;

    filter: blur(8px);
}

@keyframes satus-switch--dark
{
    0%
    {
        background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px;
    }

    50%
    {
        background-position: 20px 20px, 230px -20px, 0 -40px, 160px 10px;
    }

    100%
    {
        background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px;
    }
}

.satus-switch--night
{
    position: relative;

    overflow: hidden;

    animation-name: satus-switch--night;
    animation-duration: .75s;
    animation-iteration-count: infinite;

    background-image: radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
    linear-gradient(#3a48b4, #61a7f5) !important;
    background-repeat: no-repeat !important;
    background-position: 75% 80%, 35% 65%, 30% 10%, 50% 40%, 10% 80%, 90% 10%, 0 0 !important;
    background-size: 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, auto !important;
}

@keyframes satus-switch--night
{
    0%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    25%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .45) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .3) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    50%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .3) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .9) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    75%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .45) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .3) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    100%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }
}

.satus-switch--dawn
{
    position: relative;

    overflow: hidden;

    background: linear-gradient(#ed74a9, #ffba99) !important;
}

.satus-switch--dawn::before
{
    position: absolute;
    right: 1rem;
    bottom: -5rem;

    width: 10rem;
    height: 10rem;

    content: '';
    animation-name: satus-switch--dawn;
    animation-duration: .75s;
    animation-iteration-count: infinite;
    pointer-events: none;

    border-radius: 50%;
    background: radial-gradient(rgba(255, 255, 231, .85) 20%, rgba(255, 255, 231, .25) 20%, rgba(255, 255, 231, .25) 35%, rgba(255, 255, 231, .15) 35%, rgba(255, 255, 231, .15) 55%, rgba(255, 255, 231, .05) 55%, rgba(255, 255, 231, .05) 75%, transparent 75%) !important;
}

@keyframes satus-switch--dawn
{
    0%
    {
        background: radial-gradient(rgba(255, 255, 231, .85) 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }

    50%
    {
        background: radial-gradient(rgba(255, 255, 231, .85) 20%,
        rgba(255, 255, 231, .30) 20%,
        rgba(255, 255, 231, .30) 35%,
        rgba(255, 255, 231, .20) 35%,
        rgba(255, 255, 231, .20) 55%,
        rgba(255, 255, 231, .10) 55%,
        rgba(255, 255, 231, .10) 75%, transparent 75%);
    }

    100%
    {
        background: radial-gradient(rgba(255, 255, 231, .85) 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }
}

.satus-switch--sunset
{
    position: relative;

    overflow: hidden;

    background: linear-gradient(#2f3364, #a96165) !important;
}

.satus-switch--sunset::before
{
    position: absolute;
    top: -1rem;
    left: 50%;

    overflow: hidden;

    width: 8rem;
    height: 8rem;

    content: '';
    transform: translate(-50%, 0%);
    pointer-events: none;

    border-radius: 50%;
    background: linear-gradient(#fa7965, #f56264, transparent) !important;
}

.satus-switch--desert
{
    position: relative;

    overflow: hidden;

    background-image: radial-gradient(#ffe498 50%, transparent 50%),
    linear-gradient(#9dc2ee, #f5fdff) !important;
    background-repeat: no-repeat !important;
    background-position: -120px 36px, 0 !important;
    background-size: 240%, 100% !important;
}

.satus-switch--desert::before
{
    position: absolute;
    top: -100%;
    left: 40%;

    width: 10rem;
    height: 10rem;

    content: '';
    animation-name: satus-switch--desert;
    animation-duration: .75s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    pointer-events: none;

    border-radius: 50%;
    background: radial-gradient(#fefefe 20%, rgba(255, 255, 231, .25) 20%, rgba(255, 255, 231, .25) 35%, rgba(255, 255, 231, .15) 35%, rgba(255, 255, 231, .15) 55%, rgba(255, 255, 231, .05) 55%, rgba(255, 255, 231, .05) 75%, transparent 75%) !important;
}

@keyframes satus-switch--desert
{
    0%
    {
        background: radial-gradient(#fefefe 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }

    50%
    {
        background: radial-gradient(#fefefe 20%,
        rgba(255, 255, 231, .30) 20%,
        rgba(255, 255, 231, .30) 35%,
        rgba(255, 255, 231, .20) 35%,
        rgba(255, 255, 231, .20) 55%,
        rgba(255, 255, 231, .10) 55%,
        rgba(255, 255, 231, .1) 75%, transparent 75%);
    }

    100%
    {
        background: radial-gradient(#fefefe 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }
}

.satus-switch--plain
{
    position: relative;

    overflow: hidden;

    background-image: radial-gradient(#dea975 50%, transparent 50%),
    radial-gradient(#e8b887 50%, transparent 50%),
    radial-gradient(#f1cc9f 50%, transparent 50%),
    radial-gradient(#f3ddb8 50%, transparent 50%),
    linear-gradient(#abceb8, #e7ede1) !important;
    background-repeat: no-repeat !important;
    background-position: -50px 50px, -370px 40px, 0 36px, -360px 26px, 0 !important;
    background-size: 240%, 240%, 240%, 240%, 100% !important;
}

.satus-switch--plain::before
{
    position: absolute;
    top: -70%;
    left: 10%;

    width: 7rem;
    height: 7rem;

    content: '';
    animation-name: satus-switch--plain;
    animation-duration: .75s;
    animation-delay: .2s;
    animation-iteration-count: infinite;
    pointer-events: none;

    border-radius: 50%;
    background: radial-gradient(#fff 20%, rgba(255, 255, 231, .25) 20%, rgba(255, 255, 231, .25) 35%, rgba(255, 255, 231, .15) 35%, rgba(255, 255, 231, .15) 55%, rgba(255, 255, 231, .05) 55%, rgba(255, 255, 231, .05) 75%, transparent 75%) !important;
}

.satus-switch--black
{
    background: #000 !important;
}
