
/*---------------------------------------------------------------
>>> THEMES
-----------------------------------------------------------------
1.0 Dark
2.0 Night
3.0 Dawn
4.0 Sunset
5.0 Desert
6.0 Plain
7.0 Black
---------------------------------------------------------------*/

html {
    --satus-theme-primary: #ff4158;
}


/*---------------------------------------------------------------
1.0 DARK
---------------------------------------------------------------*/

html[theme="dark"]
{
	--satus-theme-primary: #ff4158;

	--satus-theme-dialog: #2c2b2c;
	--satus-theme-dialog-text: #b5b5b5;

	--satus-theme-header: #343334;
	--satus-theme-header-text: #b5b5b5;

	--satus-theme-main: #2c2b2c;
	--satus-theme-main-text: #b5b5b5;

	--satus-theme-section: #343334;

	--satus-theme-button: transparent;

	--satus-theme-scrollbar: rgba(255, 255, 255, .2);
	--satus-theme-scrollbar-focus: rgba(255, 255, 255, .4);

	--satus-theme-tooltip: rgba(10, 10, 10, .7);

	--satus-theme-ripple: rgba(255, 255, 255, .04);
}

/*---------------------------------------------------------------
2.0 NIGHT
---------------------------------------------------------------*/

html[theme="night"]
{
	--satus-theme-primary: #ff4158;

	--satus-theme-dialog: #61a7f5;
	--satus-theme-dialog-text: #fafafa;

	--satus-theme-header: #61a7f5;
	--satus-theme-header-text: #fafafa;

	--satus-theme-main: #3a48b4;
	--satus-theme-main-text: #fafafa;

	--satus-theme-section: #61a7f5;

	--satus-theme-button: transparent;

	--satus-theme-scrollbar: rgba(255, 255, 255, .2);
	--satus-theme-scrollbar-focus: rgba(255, 255, 255, .4);

	--satus-theme-tooltip: rgba(10, 10, 10, .7);

	--satus-theme-ripple: rgba(255, 255, 255, .04);
}


/*---------------------------------------------------------------
3.0 DAWN
---------------------------------------------------------------*/

html[theme="dawn"]
{
	--satus-theme-primary: #ff4158;

	--satus-theme-dialog: #ffba99;
	--satus-theme-dialog-text: #fafafa;

	--satus-theme-header: #ffba99;
	--satus-theme-header-text: #fafafa;

	--satus-theme-main: #ed74a9;
	--satus-theme-main-text: #eee;

	--satus-theme-section: #ffba99;

	--satus-theme-button: transparent;

	--satus-theme-scrollbar: rgba(255, 255, 255, .2);
	--satus-theme-scrollbar-focus: rgba(255, 255, 255, .4);

	--satus-theme-tooltip: rgba(10, 10, 10, .7);

	--satus-theme-ripple: rgba(255, 255, 255, .04);
}


/*---------------------------------------------------------------
4.0 SUNSET
---------------------------------------------------------------*/

html[theme="sunset"]
{
	--satus-theme-primary: #ff4158;

	--satus-theme-dialog: #a96165;
	--satus-theme-dialog-text: #fafafa;

	--satus-theme-header: #a96165;
	--satus-theme-header-text: #fafafa;

	--satus-theme-main: #2f3364;
	--satus-theme-main-text: #eee;

	--satus-theme-section: #a96165;

	--satus-theme-button: transparent;

	--satus-theme-scrollbar: rgba(255, 255, 255, .2);
	--satus-theme-scrollbar-focus: rgba(255, 255, 255, .4);

	--satus-theme-tooltip: rgba(10, 10, 10, .7);

	--satus-theme-ripple: rgba(255, 255, 255, .04);
}


/*---------------------------------------------------------------
5.0 DESERT
---------------------------------------------------------------*/

html[theme="desert"]
{
	--satus-theme-primary: #ff4158;

	--satus-theme-dialog: #9dc2ee;
	--satus-theme-dialog-text: #fafafa;

	--satus-theme-header: #9dc2ee;
	--satus-theme-header-text: #fafafa;

	--satus-theme-main: #ffe498;
	--satus-theme-main-text: #eee;

	--satus-theme-section: #9dc2ee;

	--satus-theme-button: transparent;

	--satus-theme-scrollbar: rgba(255, 255, 255, .2);
	--satus-theme-scrollbar-focus: rgba(255, 255, 255, .4);

	--satus-theme-tooltip: rgba(10, 10, 10, .7);

	--satus-theme-ripple: rgba(255, 255, 255, .04);
}


/*---------------------------------------------------------------
6.0 PLAIN
---------------------------------------------------------------*/

html[theme="plain"]
{
	--satus-theme-primary: #ff4158;

	--satus-theme-dialog: #abceb8;
	--satus-theme-dialog-text: #fafafa;

	--satus-theme-header: #abceb8;
	--satus-theme-header-text: #fafafa;

	--satus-theme-main: #dea975;
	--satus-theme-main-text: #eee;

	--satus-theme-section: #abceb8;

	--satus-theme-button: transparent;

	--satus-theme-scrollbar: rgba(255, 255, 255, .2);
	--satus-theme-scrollbar-focus: rgba(255, 255, 255, .4);

	--satus-theme-tooltip: rgba(10, 10, 10, .7);

	--satus-theme-ripple: rgba(255, 255, 255, .04);
}


/*---------------------------------------------------------------
7.0 BLACK
---------------------------------------------------------------*/

html[theme="black"]
{
	--satus-theme-primary: #ff4158;

	--satus-theme-dialog: #222;
	--satus-theme-dialog-text: #fafafa;

	--satus-theme-header: #222;
	--satus-theme-header-text: #fafafa;

	--satus-theme-main: #111;
	--satus-theme-main-text: #eee;

	--satus-theme-section: #222;

	--satus-theme-button: transparent;

	--satus-theme-scrollbar: rgba(255, 255, 255, .2);
	--satus-theme-scrollbar-focus: rgba(255, 255, 255, .4);

	--satus-theme-tooltip: rgba(10, 10, 10, .7);

	--satus-theme-ripple: rgba(255, 255, 255, .04);
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Basic
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# FONTS
--------------------------------------------------------------*/

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;

    src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 600;

    src: url('assets/fonts/OpenSans-SemiBold.ttf');
}


/*--------------------------------------------------------------
# BASIC
--------------------------------------------------------------*/

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 300px;
    height: 532px;
    margin: 0;

    background-color: #eee;
}

body.improvedtube-page
{
    width: 100vw;
    height: 100vh;
}

button
{
    font-family: 'Open Sans', sans-serif;
}





.satus-dialog--confirm .satus-section
{
    display: flex;
    background-color: transparent;
}

.satus-dialog--confirm .satus-text
{
    display: block;

    box-sizing: border-box;
    padding: 0 16px 8px;
}

.satus-dialog--confirm .satus-button
{
    font-weight: 500;

    overflow: hidden;

    height: 28px;
    min-height: 28px;
    margin-right: 2px;
    padding: 4px 8px;

    text-transform: uppercase;

    color: #f96754;
    border-radius: 4px;
}






















.satus-section--footer
{
    position: fixed;
    z-index: 99;
    bottom: 10px;
    left: 16px;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    width: 268px;
    height: 38px;
    padding: 8px 16px;
    color: var(--satus-theme-main-text);
    border-radius: 4px;
    background: var(--satus-theme-section);
    align-items: center;
    justify-content: space-between;
}

html[it-improvedtube-home='list'] .satus-section--footer
{
    position: relative;
    left: 0;
    top: 0;
    margin: 50px 16px 16px;
}

.satus-main .satus-section--footer .satus-button
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    color: var(--satus-theme-main-text);
    text-align: center;
    height: 32px;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
}

.satus-main .satus-section--footer .satus-button--found-a-bug {
    width: 128px;
    position: absolute;
    bottom: 48px;
    left: 70px;
}

.satus-dialog--setup
{
    animation: unset;
}

.satus-dialog--setup .satus-dialog__scrim
{
    display: none;
}

.satus-dialog--setup .satus-dialog__surface
{
    position: absolute;
    top: 0;
    left: 0;
    
    padding: 0;

    width: 100%;
    height: 100%;
    max-height: unset;

    transform: unset;
    animation: unset;

    opacity: 1;
    border-radius: unset;
}

.satus-dialog--setup-language .satus-button
{
    width: 100%;
    height: 48px;
}

/*---------------------------------------------------------------
>>> HEADER:
-----------------------------------------------------------------
1.0 Buttons
    1.1 Back button
2.0 Title
3.0 Right section
4.0 Search
5.0 Vertical menu
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 BUTTONS
---------------------------------------------------------------*/

.satus-header .satus-button
{
    width: 36px;
    height: 36px;
    padding: 6px;
}

.satus-header .satus-button::before
{
    border-radius: 50%;
}


/*---------------------------------------------------------------
1.1 BACK BUTTON
---------------------------------------------------------------*/

.satus-button--back
{
    position: absolute;
}

.satus-button--back svg
{
    fill: none;
    stroke: currentColor;
}

body[data-appearance='home'] .satus-button--back
{
    visibility: hidden;
}


/*---------------------------------------------------------------
2.0 TITLE
---------------------------------------------------------------*/

.satus-text--title
{
    font-size: 15px;
    font-weight: 400;

    position: absolute;
    left: 56px;

    letter-spacing: .0125em;
}

html[it-title-version='true'] body[data-appearance='home'] .satus-text--title::after
{
    font: 700 10px sans-serif;

    margin: 0 0 0 4px;

    content: attr(data-version);

    opacity: .6;
    color: var(--satus-theme-header-text);
}

body[data-appearance='home'] .satus-text--title
{
    left: 14px;
}


/*---------------------------------------------------------------
3.0 RIGHT SECTION
---------------------------------------------------------------*/

.satus-section--align-end
{
    justify-content: flex-end;
}

.satus-section--align-end .satus-button + .satus-button
{
    margin-left: 8px;
}


/*---------------------------------------------------------------
4.0 SEARCH
---------------------------------------------------------------*/

.satus-dialog--search
{
    pointer-events: none;
}

.satus-dialog--search .satus-dialog__scrim
{
    display: none;
}

.satus-dialog--search .satus-dialog__surface
{
    position: fixed;
    top: 11px;
    right: 8px;

    visibility: unset;

    width: calc(100% - 62px);
    min-width: unset;
    max-width: unset;
    height: 34px;
    padding: 0;

    transform: unset;
    animation: unset;
    pointer-events: all;

    opacity: unset;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: unset;
}

.satus-dialog--search .satus-dialog__surface .satus-text-field
{
    height: 34px;
}

.satus-dialog--search .satus-dialog__surface .satus-button
{
    position: absolute;
    top: 3px;
    right: 3px;

    overflow: hidden;

    width: 32px;
    height: 32px;

    border-radius: 50%;
}

.satus-dialog--search .satus-dialog__surface .satus-button svg
{
    fill: unset;
    stroke: currentColor;
}


body[data-appearance='search'] .satus-switch--red,
body[data-appearance='search'] .satus-switch--dark,
body[data-appearance='search'] .satus-switch--night,
body[data-appearance='search'] .satus-switch--dawn,
body[data-appearance='search'] .satus-switch--sunset,
body[data-appearance='search'] .satus-switch--desert,
body[data-appearance='search'] .satus-switch--plain,
body[data-appearance='search'] .satus-switch--black
{
    width: calc(100% - 16px);
    margin: 4px 8px;

    border-radius: 6px;
}

body[data-appearance='search'] .satus-switch--red .satus-switch__label,
body[data-appearance='search'] .satus-switch--dark .satus-switch__label,
body[data-appearance='search'] .satus-switch--night .satus-switch__label,
body[data-appearance='search'] .satus-switch--dawn .satus-switch__label,
body[data-appearance='search'] .satus-switch--sunset .satus-switch__label,
body[data-appearance='search'] .satus-switch--black .satus-switch__label
{
    color: #fff;
}

body[data-appearance='search'] .satus-switch--plain .satus-switch__label,
body[data-appearance='search'] .satus-switch--desert .satus-switch__label
{
    color: #222;
}


/*---------------------------------------------------------------
5.0 VERTICAL MENU
---------------------------------------------------------------*/

.satus-dialog--vertical-menu .satus-dialog__surface
{
    position: absolute;
    top: 8px;
    right: 8px;
    left: auto;

    min-width: 180px;
    max-width: 180px;

    transform-origin: right top;
}

.satus-dialog--vertical-menu .satus-button,
.satus-dialog--vertical-menu .satus-folder
{
    width: 100%;
    height: 36px;
    padding: 0 16px;

    text-align: left;
}

.satus-dialog--vertical-menu .satus-folder svg,
.satus-dialog--vertical-menu .satus-button svg
{
    width: 20px;
    height: 18px;
    margin: 0 14px 0 0;

    opacity: .75;

    fill: none;
    stroke: var(--satus-theme-primary);
}

.satus-dialog--vertical-menu .satus-folder--mixer svg
{
    height: 20px;
}

.satus-dialog--vertical-menu .satus-button--github svg
{
    width: 18px;
    height: 18px;
}

/*--------------------------------------------------------------
>>> MAIN:
----------------------------------------------------------------
1.0 Basic
2.0 Section
3.0 Folder
4.0 Button
5.0 Custom
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 BASIC
--------------------------------------------------------------*/

.satus-main
{
    flex: 1;
}


/*--------------------------------------------------------------
2.0 SECTION
--------------------------------------------------------------*/

.satus-main .satus-section--label
{
    font-size: 17px;

    display: block;

    width: calc(100% - 16px);
    max-width: 900px;
    margin: 16px auto 8px;
}

html[it-improvedtube-home='list'] .satus-main__container[data-appearance='home'] .satus-section:not(.satus-section--footer),
.satus-main__container:not([data-appearance='home']) .satus-section:not(.satus-section--footer)
{
    display: block;

    width: calc(100% - 16px);
    max-width: 900px;
    margin: 8px auto;
    padding: 8px 0;

    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
}

html[it-improvedtube-home='list'] .satus-main__container[data-appearance='home'] .satus-section--message,
.satus-main__container:not([data-appearance='home']) .satus-section--message
{
    padding-right: 8px;
    padding-left: 8px;
}


/*--------------------------------------------------------------
3.0 FOLDER
--------------------------------------------------------------*/

.satus-main .satus-folder svg
{
    width: 20px;
    height: 20px;
    margin: 0 14px 0 0;

    opacity: .75;

    stroke: none;
    fill: var(--satus-theme-primary);
}


/*--------------------------------------------------------------
4.0 BUTTON
--------------------------------------------------------------*/

.satus-main .satus-button
{
    width: 100%;
    height: 48px;
    padding: 0 16px;
    text-align: left;
}


/*--------------------------------------------------------------
5.0 CUSTOM
--------------------------------------------------------------*/

#forced-playback-speed + *,
#forced-volume + *
{
    pointer-events: none;

    opacity: .5;
}

#forced-playback-speed[data-value=true] + *,
#forced-volume[data-value=true] + *
{
    pointer-events: all;

    opacity: 1;
}

/*--------------------------------------------------------------
>>> HOME
--------------------------------------------------------------*/

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-section:not(.satus-section--footer)
{
    width: 100%;
    margin-top: 16px;

    flex-wrap: wrap;
    
    background-color: transparent;
}



html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder
{
    position: relative;

    flex-direction: column;

    width: 64px;
    height: 86px;
    margin: 0 18px 14px;
    padding: 0;

    cursor: default;
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder::before
{
    background-color: transparent
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder__label
{
    position: absolute;
    bottom: 0;

    pointer-events: none;
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder:focus,
html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder:hover
{
    background-color: transparent;
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder svg,
html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder--shortcut__icon
{
    display: block;
    overflow: visible;

    width: 28px;
    height: 28px;
    margin: 0 0 5px 0;
    padding: 16px;

    cursor: pointer;
    transition: background 500ms 250ms, transform 500ms, box-shadow 525ms;

    opacity: .95;
    border-radius: 50%;
    background: linear-gradient(135deg, #ff4158, #ff001f);
    box-shadow: 0 2px 1px 1px rgb(222, 0, 27, .7), 0 3px 5px rgba(0,0,0,.35);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder svg:focus,
html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder svg:hover
{
    transition: background 250ms 125ms, transform 250ms, box-shadow 275ms;
    transform: translateY(4px) scale(.975);

    box-shadow: 0 1px 1px 0 rgba(222, 0, 27, .7), 0 1px 2px rgba(0,0,0,.35);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder--general svg
{
    width: 26px;
    height: 26px;
    padding: 19px 17px 15px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder--appearance svg
{
    width: 26px;
    height: 26px;
    padding: 19px 17px 15px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder--themes svg
{
    padding: 17px 16px 15px 16px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder--player svg
{
    width: 26px;
    height: 26px;
    padding: 19px 15px 15px 19px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder--playlist svg
{
    padding: 17px 16px 15px 16px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder--channel svg
{
    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder--shortcut svg
{
    width: 26px;
    height: 26px;
    padding: 19px 17px 15px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder--mixer svg
{
    padding: 17px 16px 15px 16px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder--blacklist svg
{
    width: 26px;
    height: 26px;
    padding: 18px 17px 16px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html:not([it-improvedtube-home='list']) .satus-main__container[data-appearance='home'] .satus-folder--analyzer svg
{
    width: 26px;
    height: 26px;
    padding: 18px 17px 16px 17px;

    fill: transparent;
    stroke: rgba(255, 255, 255, .85);
}

html[it-improvedtube-home='list'] .satus-main__container[data-appearance='home'] .satus-folder svg
{
    fill: transparent;
    stroke: var(--satus-theme-primary);
}



html[it-it-general='false'] .satus-folder--general,
html[it-it-appearance='false'] .satus-folder--appearance,
html[it-it-themes='false'] .satus-folder--themes,
html[it-it-player='false'] .satus-folder--player,
html[it-it-playlist='false'] .satus-folder--playlist,
html[it-it-channel='false'] .satus-folder--channel,
html[it-it-shortcuts='false'] .satus-folder--shortcut,
html[it-it-blacklist='false'] .satus-folder--blacklist,
html[it-it-analyzer='false'] .satus-folder--analyzer
{
    display: none;
}

/*--------------------------------------------------------------
# APPEARANCE
--------------------------------------------------------------*/

.satus-main__container[data-appearance='appearance'] .satus-folder
{
    position: absolute;

    box-sizing: border-box;
    padding: 0;

    transition-duration: .5s;
    transition-property: transform, box-shadow;
    transform: scale(1);
    text-align: center;

    border: 1px solid var(--main-appearance-shadow, #dfdfdf);
    border-radius: 6px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0);

    justify-content: center;
    align-items: center;
}

.satus-main__container[data-appearance='appearance'] .satus-folder:hover
{
    z-index: 9;

    transition-duration: .25s;
    transform: scale(1.03) translate(-8px, -4px);

    box-shadow: 1px 1px 0 0 var(--main-appearance-shadow, #dfdfdf), 2px 2px 0 0 var(--main-appearance-shadow, #dfdfdf), 3px 3px 0 0 var(--main-appearance-shadow, #dfdfdf), 4px 4px 0 0 var(--main-appearance-shadow, #dfdfdf), 5px 6px 4px 0 rgba(0, 0, 0, .1);
}

.satus-main__container[data-appearance='appearance'] .satus-folder--header
{
    top: 16px;
    left: 16px;

    width: calc(100% - 32px);
    height: 40px;
    min-height: auto;

    background-color: var(--satus-theme-dialog);
    color: var(--satus-theme-dialog-text);
}

.satus-main__container[data-appearance='appearance'] .satus-folder--header:hover
{
    transform: scale(1.03) translate(-9px, -4px);
}

.satus-main__container[data-appearance='appearance'] .satus-folder--player
{
    top: 64px;
    left: 16px;

    width: calc(70% - 32px);
    height: 96px;
    min-height: auto;

    color: #eee;
    border-color: #333;
    background-color: #444;
}

.satus-main__container[data-appearance='appearance'] .satus-folder--player .label
{
    color: #fff;
}

.satus-main__container[data-appearance='appearance'] .satus-folder--player:hover
{
    transform: scale(1.03) translate(-7px, -4px);

    box-shadow: 1px 1px 0 0 #333, 2px 2px 0 0 #333, 3px 3px 0 0 #333, 4px 4px 0 0 #333, 5px 6px 4px 0 rgba(0, 0, 0, .1);
}

.satus-main__container[data-appearance='appearance'] .satus-folder--details
{
    top: 168px;
    left: 16px;

    width: calc(70% - 32px);
    height: 56px;
    min-height: auto;

    background-color: var(--satus-theme-dialog);
    color: var(--satus-theme-dialog-text);
}

.satus-main__container[data-appearance='appearance'] .satus-folder--description
{
    top: 13.5rem;
    left: 1rem;

    width: calc(70% - 2rem);
    height: 3.5rem;
    min-height: 3.5rem;

    background-color: var(--satus-theme-dialog);
    color: var(--satus-theme-dialog-text);
}

.satus-main__container[data-appearance='appearance'] .satus-folder--comments
{
    top: 232px;
    left: 16px;

    width: calc(70% - 32px);
    height: 80px;
    min-height: auto;

    background-color: var(--satus-theme-dialog);
    color: var(--satus-theme-dialog-text);
}

.satus-main__container[data-appearance='appearance'] .satus-folder--footer
{
    top: 320px;
    left: 16px;

    width: calc(70% - 32px);
    height: 64px;
    min-height: auto;

    background-color: var(--satus-theme-dialog);
    color: var(--satus-theme-dialog-text);
}

.satus-main__container[data-appearance='appearance'] .satus-folder--sidebar
{
    top: 64px;
    left: calc(70% - 8px);

    width: calc(30% - 8px);
    height: 160px;

    background-color: var(--satus-theme-dialog);
    color: var(--satus-theme-dialog-text);
}

/*-----------------------------------------------------------------------------
# THEMES CATEGORY
-----------------------------------------------------------------------------*/

.satus-main__container[data-appearance='themes'] .satus-switch:first-child
{
    margin-top: 16px;
}

.satus-main__container[data-appearance='themes'] .satus-switch:last-child
{
    margin-bottom: 16px;
}

.satus-main__container[data-appearance='themes'] .satus-switch
{
    width: calc(100% - 16px);
    max-width: 900px;
    height: 80px;
    margin: 8px auto;

    border-radius: 8px;
}

.satus-main__container[data-appearance='themes'] .satus-switch__label
{
    font-size: 15px;
    font-weight: 500;

    color: #eee;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .7);
}

.satus-switch--dark
{
    position: relative;

    overflow: hidden;

    background: linear-gradient(#0d1216, #353d46) !important;
}

.satus-switch--dark::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    animation-name: satus-switch--dark;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    pointer-events: none;

    background: radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%) !important;
    background-repeat: no-repeat !important;
    background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px !important;
    background-size: 50px 50px, 50px 50px, 100px 100px, 75px 75px !important;

    filter: blur(8px);
}

@keyframes satus-switch--dark
{
    0%
    {
        background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px;
    }

    50%
    {
        background-position: 20px 20px, 230px -20px, 0 -40px, 160px 10px;
    }

    100%
    {
        background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px;
    }
}

.satus-switch--night
{
    position: relative;

    overflow: hidden;

    animation-name: satus-switch--night;
    animation-duration: .75s;
    animation-iteration-count: infinite;

    background-image: radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
    linear-gradient(#3a48b4, #61a7f5) !important;
    background-repeat: no-repeat !important;
    background-position: 75% 80%, 35% 65%, 30% 10%, 50% 40%, 10% 80%, 90% 10%, 0 0 !important;
    background-size: 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, auto !important;
}

@keyframes satus-switch--night
{
    0%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    25%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .45) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .3) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    50%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .3) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .9) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    75%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .45) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .3) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    100%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }
}

.satus-switch--dawn
{
    position: relative;

    overflow: hidden;

    background: linear-gradient(#ed74a9, #ffba99) !important;
}

.satus-switch--dawn::before
{
    position: absolute;
    right: 1rem;
    bottom: -5rem;

    width: 10rem;
    height: 10rem;

    content: '';
    animation-name: satus-switch--dawn;
    animation-duration: .75s;
    animation-iteration-count: infinite;
    pointer-events: none;

    border-radius: 50%;
    background: radial-gradient(rgba(255, 255, 231, .85) 20%, rgba(255, 255, 231, .25) 20%, rgba(255, 255, 231, .25) 35%, rgba(255, 255, 231, .15) 35%, rgba(255, 255, 231, .15) 55%, rgba(255, 255, 231, .05) 55%, rgba(255, 255, 231, .05) 75%, transparent 75%) !important;
}

@keyframes satus-switch--dawn
{
    0%
    {
        background: radial-gradient(rgba(255, 255, 231, .85) 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }

    50%
    {
        background: radial-gradient(rgba(255, 255, 231, .85) 20%,
        rgba(255, 255, 231, .30) 20%,
        rgba(255, 255, 231, .30) 35%,
        rgba(255, 255, 231, .20) 35%,
        rgba(255, 255, 231, .20) 55%,
        rgba(255, 255, 231, .10) 55%,
        rgba(255, 255, 231, .10) 75%, transparent 75%);
    }

    100%
    {
        background: radial-gradient(rgba(255, 255, 231, .85) 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }
}

.satus-switch--sunset
{
    position: relative;

    overflow: hidden;

    background: linear-gradient(#2f3364, #a96165) !important;
}

.satus-switch--sunset::before
{
    position: absolute;
    top: -1rem;
    left: 50%;

    overflow: hidden;

    width: 8rem;
    height: 8rem;

    content: '';
    transform: translate(-50%, 0%);
    pointer-events: none;

    border-radius: 50%;
    background: linear-gradient(#fa7965, #f56264, transparent) !important;
}

.satus-switch--desert
{
    position: relative;

    overflow: hidden;

    background-image: radial-gradient(#ffe498 50%, transparent 50%),
    linear-gradient(#9dc2ee, #f5fdff) !important;
    background-repeat: no-repeat !important;
    background-position: -120px 36px, 0 !important;
    background-size: 240%, 100% !important;
}

.satus-switch--desert::before
{
    position: absolute;
    top: -100%;
    left: 40%;

    width: 10rem;
    height: 10rem;

    content: '';
    animation-name: satus-switch--desert;
    animation-duration: .75s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    pointer-events: none;

    border-radius: 50%;
    background: radial-gradient(#fefefe 20%, rgba(255, 255, 231, .25) 20%, rgba(255, 255, 231, .25) 35%, rgba(255, 255, 231, .15) 35%, rgba(255, 255, 231, .15) 55%, rgba(255, 255, 231, .05) 55%, rgba(255, 255, 231, .05) 75%, transparent 75%) !important;
}

@keyframes satus-switch--desert
{
    0%
    {
        background: radial-gradient(#fefefe 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }

    50%
    {
        background: radial-gradient(#fefefe 20%,
        rgba(255, 255, 231, .30) 20%,
        rgba(255, 255, 231, .30) 35%,
        rgba(255, 255, 231, .20) 35%,
        rgba(255, 255, 231, .20) 55%,
        rgba(255, 255, 231, .10) 55%,
        rgba(255, 255, 231, .1) 75%, transparent 75%);
    }

    100%
    {
        background: radial-gradient(#fefefe 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }
}

.satus-switch--plain
{
    position: relative;

    overflow: hidden;

    background-image: radial-gradient(#dea975 50%, transparent 50%),
    radial-gradient(#e8b887 50%, transparent 50%),
    radial-gradient(#f1cc9f 50%, transparent 50%),
    radial-gradient(#f3ddb8 50%, transparent 50%),
    linear-gradient(#abceb8, #e7ede1) !important;
    background-repeat: no-repeat !important;
    background-position: -50px 50px, -370px 40px, 0 36px, -360px 26px, 0 !important;
    background-size: 240%, 240%, 240%, 240%, 100% !important;
}

.satus-switch--plain::before
{
    position: absolute;
    top: -70%;
    left: 10%;

    width: 7rem;
    height: 7rem;

    content: '';
    animation-name: satus-switch--plain;
    animation-duration: .75s;
    animation-delay: .2s;
    animation-iteration-count: infinite;
    pointer-events: none;

    border-radius: 50%;
    background: radial-gradient(#fff 20%, rgba(255, 255, 231, .25) 20%, rgba(255, 255, 231, .25) 35%, rgba(255, 255, 231, .15) 35%, rgba(255, 255, 231, .15) 55%, rgba(255, 255, 231, .05) 55%, rgba(255, 255, 231, .05) 75%, transparent 75%) !important;
}

.satus-switch--black
{
    background: #000 !important;
}

/*-----------------------------------------------------------------------------
# BLACKLIST CATEGORY
-----------------------------------------------------------------------------*/

.satus-section.satus-section--blacklist
{
    position: relative;

    overflow: hidden;
    flex-direction: column;

    width: calc(100% - 32px);
    height: 116px;
    margin: 8px 16px 0;

    transition: opacity .25s;

    opacity: 1;
    border-radius: 10px;
    background-color: #000;
    background-position: center;
    background-size: cover;

    flex: unset;
    align-items: flex-start;
}

.satus-section.satus-section--blacklist.removing
{
    opacity: 0;
}

.satus-section.satus-section--blacklist::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;

    content: '';

    background: rgba(0, 0, 0, .5);
}

.satus-section.satus-section--blacklist > .label
{
    font-size: 16px;
    font-weight: 700;

    position: absolute;
    z-index: 1;
    bottom: 28px;

    text-transform: uppercase;

    opacity: 1;
    color: #fff;
}

.satus-section.satus-section--blacklist::after
{
    position: absolute;
    z-index: 1;
    bottom: 16px;
    left: 16px;

    content: attr(data-label);

    color: rgba(255, 255, 255, .5);
}

.satus-section.satus-section--blacklist > .satus-section
{
    position: absolute;
    z-index: 999;
    bottom: 0;

    visibility: hidden;

    width: 100%;
    margin: 0;
    padding: 0;

    transition: .15s;

    opacity: 0;
    border: none;
    border-radius: 0;
    background: rgba(255, 255, 255, .95);

    justify-content: center;
}

.satus-section.satus-section--blacklist:hover > .satus-section
{
    visibility: visible;

    opacity: 1;
}
/*-----------------------------------------------------------------------------
# ANALYZER CATEGORY
-----------------------------------------------------------------------------*/

.analyzer-top-text
{
    font-size: 13px;

    display: flex;

    box-sizing: border-box;
    margin: 16px 0 0;
    padding: 0 16px;

    background: transparent !important;

    justify-content: space-between;
}

.analyzer-watch-time
{
    text-transform: uppercase;
}

.analyzer-today-at
{
    box-sizing: border-box;
}

.analyzer-container
{
    box-sizing: border-box;
    margin: 8px 0 16px;
    padding: 16px;

    background: var(--background-0) !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.analyzer-all-time
{
    font-size: 24px;
    font-weight: 400;

    margin-bottom: 8px;

    color: #4c4c4c;
}

.analyzer-chart
{
    position: relative;

    display: flex;
    overflow: hidden;

    box-sizing: border-box;
    height: 140px;
    margin: 8px 0;

    border-bottom: 1px solid #ccc;

    justify-content: space-between;
}

.analyzer-chart::before
{
    position: absolute;
    top: -78%;
    left: -15%;

    width: 125%;
    height: 250%;

    content: '';
    transform: rotate(-45deg);

    background: linear-gradient(transparent 50%, rgba(0, 0, 0, .05) 50%);
    background-size: 4px 4px;
}

.analyzer-column
{
    z-index: 1;

    display: flex;

    border-right: 1px solid #ccc;

    flex: 1;
}

.analyzer-column:first-child
{
    border-left: 1px solid #ccc;
}

.analyzer-data-column
{
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    flex: 1;
}

.analyzer-data
{
    height: 20px;
    margin: 0 1px;

    background-color: #c5c5c5;
}

.analyzer-data.first
{
    background-color: #1c00db;

    order: 3;
}

.analyzer-data.second
{
    background-color: #4dd0e1;

    order: 2;
}

.analyzer-data.third
{
    background-color: #ff9800;

    order: 1;
}

/*.analyzer-data:first-child
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}*/
.analyzer-bottom
{
    display: flex;

    margin: 14px 0 0;

    justify-content: space-between;
}

.analyzer-bottom > div .label
{
    margin: 0 0 2px;
}

.analyzer-bottom > div:first-child .label
{
    color: #1c00db;
}

.analyzer-bottom > div:nth-child(2) .label
{
    color: #4dd0e1;
}

.analyzer-bottom > div:nth-child(3) .label
{
    color: #ff9800;
}

/*-----------------------------------------------------------------------------
# MIXER CATEGORY
-----------------------------------------------------------------------------*/

.satus-main__container[data-appearance='mixer'] .satus-section--mixer
{
    position: relative;

    overflow: hidden;
    flex-direction: column;

    width: calc(100% - 32px);
    height: 128px;
    margin: 8px 16px 0;

    border: unset;
    border-radius: 10px;

    flex: unset;
    align-items: flex-start;
}

.satus-main__container[data-appearance='mixer'] .satus-section--mixer::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0, 0, 0, .5);
}

.satus-main__container[data-appearance='mixer'] .satus-section--mixer > .satus-section
{
    position: absolute;
    bottom: 0;

    visibility: hidden;

    width: 100%;
    margin: 0;
    padding: 0;

    transition: 200ms;
    transform: translateY(32px);

    opacity: 0;
    border: unset;
    border-radius: unset;
}

.satus-main__container[data-appearance='mixer'] .satus-section--mixer:hover > .satus-section
{
    visibility: visible;

    transform: translateY(0);

    opacity: 1;
}

.satus-main__container[data-appearance='mixer'] .satus-section--mixer.noconnection > .satus-section > div
{
    visibility: hidden;

    pointer-events: none;
}

.satus-main__container[data-appearance='mixer'] .satus-section--mixer.noconnection > .satus-section::after
{
    font-size: 18px;
    font-weight: 500;

    position: absolute;
    top: 50%;

    width: 100%;

    content: attr(data-no-connection-label);
    transform: translateY(-50%);
    text-align: center;

    opacity: .8;
}
.satus-main__container[data-appearance='about'] .satus-text
{
    display: flex;

    box-sizing: border-box;
    width: 100%;
    min-height: 48px;
    padding: 0 16px;

    justify-content: space-between;
    align-items: center;
}

.satus-main__container[data-appearance='about'] .satus-text__value
{
    text-align: right;

    opacity: .7;
}


/*---------------------------------------------------------------
# AD
---------------------------------------------------------------*/

.satus-section--info
{
    position: absolute;
    z-index: 99;
    bottom: 104px;
    left: 32px;

    display: flex;

    width: calc(100% - 64px) !important;

    justify-content: space-between;
}

.satus-section--info .satus-button
{
    font-weight: 700;
    overflow: hidden;
    width: auto;
    height: 28px;
    border-radius: 6px;
    background: var(--satus-theme-primary);
    color: #fff;
    opacity: 0.5;
    padding: 0 10px;
}

.satus-section--info .satus-button:hover {
    opacity: 1
}




.satus-main .satus-button.satus-button--ad
{
    position: absolute;
    z-index: 99;
    bottom: 16px;
    left: 16px;

    overflow: hidden;

    width: 268px;
    height: 38px;
    height: 80px;
    padding: 8px 16px;

    color: var(--satus-theme-main-text);
    border-radius: 8px;
    background: #0f1911;
    box-shadow: 0 0 3px rgba(0,0,0,.1);

    align-items: center;
    justify-content: space-between;
}

.satus-button--ad .satus-button__label
{
    font-size: 22px;
    font-weight: 700;

    color: rgba(255,255,255,.85);
    text-shadow: 2px 1px 2px rgba(0,0,0,.6);
}


@keyframes satusSwitchDark
{
    0%
    {
        transform: translate(0, 0);
    }
    33%
    {
        transform: translate(20px, 10px);
    }
    66%
    {
        transform: translate(10px, -10px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}

.satus-button--ad::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    opacity: 1;
    animation-name: satusSwitchDark;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    pointer-events: none;

    background: radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%) !important;
    background-repeat: no-repeat !important;
    background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px !important;
    background-size: 50px 50px, 50px 50px, 100px 100px, 75px 75px !important;

    filter: blur(8px);
}

html[it-improvedtube-home='list'] .satus-main .satus-button.satus-button--ad
{
    position: relative;
    top: 0;
    left: 0;

    margin: 16px;
}

.satus-button--ad:after
{
    position: absolute;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100%;

    content: '';
    transition: .5s;
    transition-delay: .2s;

    background: linear-gradient(90deg,transparent,rgba(255,255,255,.2),transparent);
}

.satus-button--ad:hover:after
{
    left: 100%;
}