/*--------------------------------------------------------------
>>> COMMENTS:
----------------------------------------------------------------
# Sidebar
# Comments
	# Collapsed
	# Hidden
# Squared User Images
# Hide avatars
--------------------------------------------------------------*/

@media screen and (min-width: 1599px) {	
html[data-page-type=video][it-comments-sidebar='true'] #player {   margin-left: -20px !important;}
html[data-page-type=video][it-comments-sidebar='true'] #columns {  display:flex !important; max-width:100% !important;}
html[data-page-type=video][it-comments-sidebar='true'] #comments { max-width: min(850px, 19vw) !important; margin-left:-12px; } 
html[data-page-type=video][it-comments-sidebar='true'][it-sidebar-left='true'] #comments { max-right: -25px  !important; } 
html[data-page-type=video][it-comments-sidebar='true'] #related { margin-right: -22px !important; max-width: max(360px, 18vw) !important;  }
html[data-page-type=video][it-comments-sidebar='true'] #secondary { margin-right: -22px !important; max-width: max(360px, 18vw) !important;  }

html[data-page-type=video][it-comments-sidebar='true']:not([it-player-size='1080p']):not([it-player-size='1440p']):not([it-player-size='2160p']):not([it-player-size='custom']):not([it-player-size='max_width']) ytd-watch-flexy:not([fullscreen]) #primary {
min-width: min(calc(100vw - 1000px), 1260px) !important; max-width: 1260px !important; }
}

/*--------------------------------------------------------------
# COLLAPSED
--------------------------------------------------------------*/
html[it-comments='collapsed'] ytd-comments:not([it-activated]) ytd-comments-header-renderer::after {
	content: 'Show more' !important;
}

html[it-comments='collapsed'] ytd-comments[it-activated] ytd-comments-header-renderer::after {
	content: 'Show less' !important;
}

html[it-comments='collapsed'] ytd-comments ytd-comments-header-renderer::after {
	font-family: inherit !important;
	font-size: 1.6rem !important;
	font-weight: 400 !important;

	display: flex !important;

	width: 100% !important;
	height: 48px !important;
	margin: 16px 0 0 !important;

	color: var(--yt-spec-text-primary) !important;
	border-bottom: 1px solid var(--yt-spec-10-percent-layer) !important;

	justify-content: center !important;
	align-items: center !important;
}

html[it-comments='collapsed'] ytd-comments:not([it-activated]) ytd-item-section-renderer>#spinner-container,
html[it-comments='collapsed'] ytd-comments:not([it-activated]) ytd-item-section-renderer>#contents,
html[it-comments='collapsed'] ytd-comments:not([it-activated]) ytd-item-section-renderer>#continuations {
	visibility: hidden !important;

	pointer-events: none !important;
}

/*--------------------------------------------------------------
# HIDDEN
--------------------------------------------------------------*/
html[it-comments='hidden'] ytd-comments {
	display: none !important;
}

/*--------------------------------------------------------------
# HIDE AVATARS
--------------------------------------------------------------*/
html[it-hide-author-avatars='true'] ytd-comments #author-thumbnail,
html[it-hide-author-avatars='true'] ytd-comments #creator-thumbnail,
html[it-hide-author-avatars='true'] ytd-comments #hearted-thumbnail {
	display: none !important;
}
/*--------------------------------------------------------------
# SQUARED USER IMAGES
--------------------------------------------------------------*/
html[it-squared-user-images='true'] #avatar.ytd-shelf-renderer,
html[it-squared-user-images='true'] yt-img-shadow,
html[it-squared-user-images='true'] #yt-masthead-user .yt-masthead-user-icon {
	border-radius: unset !important;
}
