/*-----------------------------------------------------------------------------
>>> «DIALOG» COMPONENT
-----------------------------------------------------------------------------*/

.satus-dialog:not(.satus-button)
{
    position: absolute;
    z-index: 9999999;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.satus-dialog__scrim
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,.5);
}

.satus-dialog__surface
{
    font-size: 14px;

    display: flex;
    overflow-y: auto;
    flex-direction: column;

    width: 95%;
    min-width: 240px;
    max-width: 560px;
    max-height: 80%;
    padding: 8px 0;

    transform: scale(.75);
    animation: zoomIn 150ms linear forwards;
    animation-delay: 20ms;

    color: var(--text-3);
    border-radius: 4px;
    background: var(--background-3);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);

    fill: var(--text-3);
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes fadeOut
{
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0;
    }
}

@keyframes zoomIn
{
    from
    {
        transform: scale(.75);
    }
    to
    {
        transform: scale(1);
    }
}
