/*--------------------------------------------------------------
>>> DETAILS  
----------------------------------------------------------------
# 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
#info #info-text {
	max-height: 6rem;
	display: block;
} 

/*--------------------------------------------------------------
# HIDE DETAILS 
--------------------------------------------------------------*/

html[it-hide-details='true'] ytd-video-primary-info-renderer,
html[it-hide-details='true'] ytd-video-secondary-info-renderer,
html[it-hide-details='true'] ytd-watch-metadata { 
	display: none !important;
}


/*--------------------------------------------------------------
# HIDE VIEWS COUNT
--------------------------------------------------------------*/

html[it-hide-views-count='true'] #info #count,
html[it-hide-views-count='true'] #info #count + #info-strings>#dot,
html[it-hide-views-count='true'] ytd-watch-metadata #info>span:first-child {
	display: none !important;
}

/*--------------------------------------------------------------
# HIDE COMMENTS COUNT
--------------------------------------------------------------*/

html[it-hide-comments-count='true'] #comments #count {
  display: none !important;
}

/*--------------------------------------------------------------
# HIDE DATE
--------------------------------------------------------------*/

html[it-hide-date='true'] #info #count + #info-strings>yt-formatted-string,
html[it-hide-date='true'] #info #count + #info-strings>#dot,
html[it-hide-date='true'] ytd-watch-metadata #info>span:last-child {
	display: none !important;
}

 /*--------------------------------------------------------------
YouTube's detail buttons
--------------------------------------------------------------*/

html[it-youtubesDetailButtons='remove_labels'] #menu ytd-button-renderer div:nth-child(2), 
html[it-youtubesDetailButtons='remove_labels'] #menu ytd-button-renderer .cbox 
{display:none;}
html[it-youtubesDetailButtons='hide_labels']  #menu ytd-button-renderer div:nth-child(2) {visibility:hidden}
html[it-youtubesDetailButtons='faint_transparent'] #menu button {opacity:0.5;}
html[it-youtubesDetailButtons='remove'] #menu button {display:none;}
html[it-youtubesDetailButtons='remove_icons']  #menu button div:first-child {display:none;}
 
 /*--------------------------------------------------------------
HIDE LIKE BUTTON
--------------------------------------------------------------*/

html[it-likes='hidden'] #top-level-buttons-computed #segmented-like-button ytd-toggle-button-renderer,
html[it-likes='icons_only'] #top-level-buttons-computed #segmented-like-button ytd-toggle-button-renderer div.cbox  {
	display: none;
}

html[it-likes='icons_only'] #top-level-buttons-computed #segmented-like-button ytd-toggle-button-renderer .yt-spec-button-shape-next__icon,
html[it-likes='icons_only'] #top-level-buttons-computed #segmented-like-button ytd-toggle-button-renderer button{
	margin: 0;
	padding: 0 5px;
}


 /*--------------------------------------------------------------
HIDE DISLIKE BUTTON
--------------------------------------------------------------*/

html[it-hide-dislike-button='hidden'] #top-level-buttons-computed #segmented-dislike-button ytd-toggle-button-renderer,
html[it-hide-dislike-button='icons_only'] #top-level-buttons-computed #segmented-dislike-button ytd-toggle-button-renderer div.cbox {
	display: none;
}

html[it-hide-dislike-button='icons_only'] #top-level-buttons-computed #segmented-dislike-button ytd-toggle-button-renderer .yt-spec-button-shape-next__icon,
html[it-hide-dislike-button='icons_only'] #top-level-buttons-computed #segmented-dislike-button ytd-toggle-button-renderer button{
	margin: 0;
	padding: 0 5px;
}


/*--------------------------------------------------------------
# HIDE SHARE BUTTON
--------------------------------------------------------------*/

html[it-hide-share-button='hidden'] #top-level-buttons-computed ytd-button-renderer,
html[it-hide-share-button='icons_only'] #top-level-buttons-computed ytd-button-renderer div.cbox {
	display: none;
}

html[it-hide-share-button='icons_only'] #top-level-buttons-computed ytd-button-renderer .yt-spec-button-shape-next__icon,
html[it-hide-share-button='icons_only'] #top-level-buttons-computed ytd-button-renderer button{
	margin: 0;
	padding: 0 5px;
}


/*--------------------------------------------------------------
# HIDE DOWNLOAD BUTTON
--------------------------------------------------------------*/

html[it-hide-download-button='hidden'] #flexible-item-buttons ytd-download-button-renderer,
html[it-hide-download-button='icons_only'] #flexible-item-buttons ytd-download-button-renderer div.cbox {
	display: none;
}

html[it-hide-download-button='icons_only'] #flexible-item-buttons ytd-download-button-renderer .yt-spec-button-shape-next__icon,
html[it-hide-download-button='icons_only'] #flexible-item-buttons ytd-download-button-renderer button{
	margin: 0;
	padding: 0 5px;
}


/*--------------------------------------------------------------
# HIDE THANKS BUTTON
--------------------------------------------------------------*/

html[it-hide-thanks-button='hidden'] #flexible-item-buttons ytd-button-renderer#Thanks-button,
html[it-hide-thanks-button='icons_only'] #flexible-item-buttons ytd-button-renderer#Thanks-button div.cbox {
	display: none;
}

html[it-hide-thanks-button='icons_only'] #flexible-item-buttons ytd-button-renderer#Thanks-button .yt-spec-button-shape-next__icon,
html[it-hide-thanks-button='icons_only'] #flexible-item-buttons ytd-button-renderer#Thanks-button button{
	margin: 0;
	padding: 0 5px;
}


/*--------------------------------------------------------------
# HIDE CLIP BUTTON
--------------------------------------------------------------*/

html[it-hide-clip-button='hidden'] #flexible-item-buttons ytd-button-renderer#Clip-button,
html[it-hide-clip-button='icons_only'] #flexible-item-buttons ytd-button-renderer#Clip-button div.cbox {
	display: none;
}

html[it-hide-clip-button='icons_only'] #flexible-item-buttons ytd-button-renderer#Clip-button .yt-spec-button-shape-next__icon,
html[it-hide-clip-button='icons_only'] #flexible-item-buttons ytd-button-renderer#Clip-button button{
	margin: 0;
	padding: 0 5px;
}


/*--------------------------------------------------------------
# HIDE SAVE BUTTON
--------------------------------------------------------------*/

html[it-hide-save-button='hidden'] #flexible-item-buttons ytd-button-renderer#Save-button,
html[it-hide-save-button='icons_only'] #flexible-item-buttons ytd-button-renderer#Save-button div.cbox {
	display: none;
}

html[it-hide-save-button='icons_only'] #flexible-item-buttons ytd-button-renderer#Save-button .yt-spec-button-shape-next__icon,
html[it-hide-save-button='icons_only'] #flexible-item-buttons ytd-button-renderer#Save-button button{
	margin: 0;
	padding: 0 5px;
}


/*--------------------------------------------------------------
# HIDE REPORT BUTTON
--------------------------------------------------------------*/

html[it-hide-report-button='true'] #top-level-buttons-computed ytd-button-renderer#Report-button {
	display: none;
}


/*--------------------------------------------------------------
# HIDE MORE BUTTON
--------------------------------------------------------------*/

html[it-hide-more-button='true'] #menu yt-button-shape#button-shape {
	display: none;
}


/*--------------------------------------------------------------
# DESCRIPTION
--------------------------------------------------------------*/

/* html[it-details-old-style=true]  */
.ytd-watch-flexy #info-contents, .ytd-watch-flexy #meta-contents { display: block !important; } 
#below.ytd-watch-flexy { top:-20px; }


html[it-description=hidden] ytd-video-secondary-info-renderer ytd-expander.ytd-video-secondary-info-renderer,
html[it-description=hidden] div#action-panel-details,
html[it-description=hidden] ytd-expander.ytd-video-secondary-info-renderer,
html[it-description=hidden] #description-inline-expander {
	display: none !important; 
}

div.style-scope.ytd-watch-flexy + ytd-watch-metadata  { display: none !important;}


/*--------------------------------------------------------------
# HOW LONG AGO THE VIDEO WAS UPLOADED
--------------------------------------------------------------*/

.it-how-long-ago-the-video-was-uploaded {
	float: right !important;

	margin-left: 4px !important;

	color: var(--yt-spec-text-secondary) !important;
}


/*--------------------------------------------------------------
# SHOW CHANNEL VIDEOS COUNT
--------------------------------------------------------------*/

.it-channel-videos-count {
	display: inline-block !important;

	margin-left: 4px !important;

	color: var(--yt-spec-text-secondary) !important;
}


/*--------------------------------------------------------------
# SHOW DISLIKE RED COLOR
--------------------------------------------------------------*/

html[it-red-dislike-button='true'] #top-level-buttons-computed #segmented-dislike-button ytd-toggle-button-renderer *[aria-pressed='true'] yt-icon {
	color: #f02200 !important;
}
