/*--------------------------------------------------------------
>>> DETAILS
----------------------------------------------------------------
# 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# HIDE DETAILS
--------------------------------------------------------------*/

html[it-hide-details='true'] ytd-video-primary-info-renderer,
html[it-hide-details='true'] ytd-video-secondary-info-renderer {
	display: none !important;
}


/*--------------------------------------------------------------
# HIDE VIEWS COUNT
--------------------------------------------------------------*/

html[it-hide-views-count='true'] #info #count,
html[it-hide-views-count='true'] #info #count + #info-strings>#dot {
	display: none !important;
}

/*--------------------------------------------------------------
# HIDE COMMENTS COUNT
--------------------------------------------------------------*/

html[it-hide-comments-count='true'] #comments #count {
  display: none !important;
}

/*--------------------------------------------------------------
# HIDE DATE
--------------------------------------------------------------*/

html[it-hide-date='true'] #info #count + #info-strings>yt-formatted-string,
html[it-hide-date='true'] #info #count + #info-strings>#dot {
	display: none !important;
}


 /*--------------------------------------------------------------
HIDE LIKE BUTTON
--------------------------------------------------------------*/

[it-hide-like-button=true] #info #top-level-buttons ytd-toggle-button-renderer:nth-child(1),
[it-hide-like-button=true] #info #top-level-buttons-computed ytd-toggle-button-renderer:nth-child(1) {
	display: none;
}

[it-hide-like-button-text=true] #top-level-buttons ytd-toggle-button-renderer:nth-child(1) div.cbox,
[it-hide-like-button-text=true] #top-level-buttons-computed ytd-toggle-button-renderer:nth-child(1) div.cbox {
	display: none;
}

 /*--------------------------------------------------------------
HIDE DISLIKE BUTTON
--------------------------------------------------------------*/

[it-hide-dislike-button=true] #top-level-buttons-computed ytd-toggle-button-renderer:nth-child(2),
[it-hide-dislike-button=true] #top-level-buttons ytd-toggle-button-renderer:nth-child(2) {
	display: none;
}

[it-hide-dislike-button-text=true] #top-level-buttons ytd-toggle-button-renderer:nth-child(2) div.cbox,
[it-hide-dislike-button-text=true] #top-level-buttons-computed ytd-toggle-button-renderer:nth-child(2) div.cbox {
	display: none;
}


/*--------------------------------------------------------------
# HIDE SHARE BUTTON
--------------------------------------------------------------*/

html[it-hide-share-button=true] #top-level-buttons ytd-button-renderer#Share-button,
html[it-hide-share-button=true] #top-level-buttons-computed ytd-button-renderer#Share-button {
	display: none;
}

html[it-hide-share-button-text=true] #top-level-buttons ytd-button-renderer#Share-button div.cbox,
html[it-hide-share-button-text=true] #top-level-buttons-computed ytd-button-renderer#Share-button div.cbox {
	display: none;
}


/*--------------------------------------------------------------
# HIDE DOWNLOAD BUTTON
--------------------------------------------------------------*/

html[it-hide-download-button=true] #top-level-buttons ytd-download-button-renderer,
html[it-hide-download-button=true] #top-level-buttons-computed ytd-download-button-renderer {
	display: none;
}

html[it-hide-download-button-text=true] #top-level-buttons ytd-download-button-renderer div.cbox ,
html[it-hide-download-button-text=true] #top-level-buttons-computed ytd-download-button-renderer div.cbox {
	display: none;
}


/*--------------------------------------------------------------
# HIDE THANKS BUTTON
--------------------------------------------------------------*/

html[it-hide-thanks-button=true] #top-level-buttons ytd-button-renderer#Thanks-button,
html[it-hide-thanks-button=true] #top-level-buttons-computed ytd-button-renderer#Thanks-button {
	display: none;
}

html[it-hide-thanks-button-text=true] #top-level-buttons ytd-button-renderer#Thanks-button div.cbox,
html[it-hide-thanks-button-text=true] #top-level-buttons-computed ytd-button-renderer#Thanks-button div.cbox {
	display: none;
}


/*--------------------------------------------------------------
# HIDE CLIP BUTTON
--------------------------------------------------------------*/

html[it-hide-clip-button=true] #top-level-buttons ytd-button-renderer#Clip-button,
html[it-hide-clip-button=true] #top-level-buttons-computed ytd-button-renderer#Clip-button {
	display: none;
}

html[it-hide-clip-button-text=true] #top-level-buttons ytd-button-renderer#Clip-button div.cbox,
html[it-hide-clip-button-text=true] #top-level-buttons-computed ytd-button-renderer#Clip-button div.cbox {
	display: none;
}


/*--------------------------------------------------------------
# HIDE SAVE BUTTON
--------------------------------------------------------------*/

html[it-hide-save-button=true] #top-level-buttons ytd-button-renderer#Save-button,
html[it-hide-save-button=true] #top-level-buttons-computed ytd-button-renderer#Save-button {
	display: none;
}

html[it-hide-save-button-text=true] #top-level-buttons ytd-button-renderer#Save-button div.cbox,
html[it-hide-save-button-text=true] #top-level-buttons-computed ytd-button-renderer#Save-button div.cbox {
	display: none;
}


/*--------------------------------------------------------------
# HIDE REPORT BUTTON
--------------------------------------------------------------*/

html[it-hide-report-button=true] #top-level-buttons ytd-button-renderer#Report-button,
html[it-hide-report-button=true] #top-level-buttons-computed ytd-button-renderer#Report-button {
	display: none;
}


/*--------------------------------------------------------------
# HIDE MORE BUTTON
--------------------------------------------------------------*/

html[it-hide-more-button=true] #menu yt-button-shape#button-shape {
	display: none;
}


/*--------------------------------------------------------------
# DESCRIPTION
--------------------------------------------------------------*/

html[it-description='hidden'] #meta>#meta-contents ytd-expander {
	display: none !important;
}

html[it-description='expanded'] #meta>#meta-contents ytd-expander tp-yt-paper-button {
	display: none !important;
}

html[it-description='expanded'] #meta>#meta-contents ytd-expander>#content {
	max-height: none !important;
}


/*--------------------------------------------------------------
# HOW LONG AGO THE VIDEO WAS UPLOADED
--------------------------------------------------------------*/

.it-how-long-ago-the-video-was-uploaded {
	float: right !important;

	margin-left: 4px !important;

	color: var(--yt-spec-text-secondary) !important;
}


/*--------------------------------------------------------------
# SHOW CHANNEL VIDEOS COUNT
--------------------------------------------------------------*/

.it-channel-videos-count {
	display: inline-block !important;

	margin-left: 4px !important;

	color: var(--yt-spec-text-secondary) !important;
}


/*--------------------------------------------------------------
# SHOW DISLIKE RED COLOR
--------------------------------------------------------------*/

html[it-red-dislike-button='true'] #info .top-level-buttons>ytd-toggle-button-renderer:nth-child(2),
html[it-red-dislike-button='true'] #info .top-level-buttons>ytd-toggle-button-renderer:nth-child(2) yt-formatted-string {
	color: #fc0000 !important;
}