/*--------------------------------------------------------------
>>> SIDEBAR
----------------------------------------------------------------
# Related videos
# Move sidebar left
# Move thumbnails right
# Hide thumbnails
# Livechat
# Hide playlist
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# SIDEBAR AUTO SIZING
--------------------------------------------------------------*/
ytd-watch-flexy[flexy] #secondary.ytd-watch-flexy {
    width: auto !important;
    min-width: unset !important;
}

ytd-live-chat-frame,
div#secondary div#related,
div#secondary div#panels,
div#secondary div#donation-shelf,
div#secondary #playlist {
    width: var(--ytd-watch-flexy-sidebar-width);
    min-width: var(--ytd-watch-flexy-sidebar-min-width);
}

/*--------------------------------------------------------------
# RELATED VIDEOS
--------------------------------------------------------------*/

html[it-related-videos='hidden'] #related > ytd-watch-next-secondary-results-renderer > #items,
html[it-related-videos=hidden] div#secondary div#panels,
html[it-related-videos=hidden] div#secondary div#donation-shelf {
	display: none !important;
}

html[it-related-videos='collapsed'] #related > ytd-watch-next-secondary-results-renderer > #items:not([it-activated])::before {
	content: 'Show more' !important;
}

html[it-related-videos='collapsed'] #related > ytd-watch-next-secondary-results-renderer > #items[it-activated]::before {
	content: 'Show less' !important;
}

html[it-related-videos='collapsed'] #related > ytd-watch-next-secondary-results-renderer > #items::before {
	font-family: inherit !important;
	font-size: 1.6rem !important;
	font-weight: 400 !important;

	display: flex !important;

	width: 100% !important;
	height: 48px !important;
	margin: 0 !important;

	color: var(--yt-spec-text-primary) !important;
	border-bottom: 1px solid var(--yt-spec-10-percent-layer) !important;

	justify-content: center !important;
	align-items: center !important;
}

html[it-related-videos='collapsed'] #related > ytd-watch-next-secondary-results-renderer > #items:not([it-activated]) > *{
	visibility: hidden !important;

	pointer-events: none !important;
}

/*--------------------------------------------------------------
# NO PAGE MARGIN
--------------------------------------------------------------*/

html[data-page-type=video][it-no-page-margin='true'] ytd-browse > ytd-two-column-browse-results-renderer {
	width: auto !important;
	max-width: auto !important; }

html[data-page-type=video][it-no-page-margin='true'] ytd-watch-flexy:not([fullscreen]) #columns.ytd-watch-flexy, 
html[data-page-type=video][it-no-page-margin='true'] ytd-watch-flexy:not([fullscreen]) #primary.ytd-watch-flexy {
	max-width: 98.5% !important; margin: 2px !important;  }

html[data-page-type=video][it-no-page-margin='true'] ytd-watch-flexy:not([fullscreen]) #secondary.ytd-watch-flexy {
	margin-right: calc (-12px - 0.4vw -0.4vh) !important;}

html[data-page-type=video][it-no-page-margin='true'] ytd-watch-flexy:not([fullscreen]) #below {
	margin-left: calc(4vh + 3vw - 35px) !important;} 

html[data-page-type=video][it-player-size='max_width'] .ytp-fit-cover-video .html5-main-video {
	object-fit: contain !important;}

html[data-page-type=video][it-player-size='max_width'] ytd-watch-flexy:not([fullscreen]) #player {
	margin-top: -12px !important; object-fit: contain !important;}
html[data-page-type=video][it-player-size='max_width'] ytd-watch-flexy:not([fullscreen]) #player-container-outer.ytd-watch-flexy {
	max-width: 98.5% !important;}

	
/*--------------------------------------------------------------
# MOVE SIDEBAR LEFT
--------------------------------------------------------------*/

html[it-sidebar-left='true'] #columns>#primary,
html[it-sidebar-left='true'] #head>#upnext
{
	order: 7 !important;
}

html[it-sidebar-left='true'] #columns>#secondary {margin-left: calc(0.5vw + 4px); margin-right:0.2vw !important;}


/*--------------------------------------------------------------
# MOVE THUMBNAILS RIGHT
--------------------------------------------------------------*/

html[it-thumbnails-right='true'] ytd-watch-next-secondary-results-renderer ytd-thumbnail {
	order: 7 !important;
}


/*--------------------------------------------------------------
# HIDE THUMBNAILS
--------------------------------------------------------------*/

html[it-thumbnails-hide='true'] ytd-watch-next-secondary-results-renderer ytd-thumbnail,
html[it-thumbnails-hide='true'] ytd-watch-next-secondary-results-renderer ytd-playlist-thumbnail {
	display: none !important;
}


/*--------------------------------------------------------------
# LIVECHAT
--------------------------------------------------------------*/

html[it-livechat='hidden'] ytd-live-chat-frame#chat {
	display: none !important;
}


/*--------------------------------------------------------------
# HIDE PLAYLIST
--------------------------------------------------------------*/

html[it-hide-playlist='true'] ytd-playlist-panel-renderer#playlist {
	display: none !important;
}
