/*-----------------------------------------------------------------------------
>>> CHANNEL
-------------------------------------------------------------------------------
1.0 Featured content
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.0 Featured content
-----------------------------------------------------------------------------*/

html[it-channel-hide-featured-content=true] #secondary #contents.style-scope.ytd-browse-secondary-contents-renderer,
html[it-channel-hide-featured-content=true] .branded-page-v2-secondary-col
{
    display: none !important;
}
html[it-channel-hide-featured-content=true] #secondary.ytd-two-column-browse-results-renderer,
html[it-channel-hide-featured-content=true] #secondary ytd-browse-secondary-contents-renderer
{
    padding: 0;
    width: fit-content;
    height: fit-content;
}
