/*-----------------------------------------------------------------------------
>>> «BUTTON» COMPONENT
-------------------------------------------------------------------------------
1.0 Basic
  1.1 Icon
  1.2 Ripple
2.0 Header
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.0 Basic
-----------------------------------------------------------------------------*/

.satus-button
{
    font-size: .85rem;

    position: relative;

    display: flex;
    overflow: hidden;

    box-sizing: border-box;
    min-width: 48px;
    height: 48px;
    min-height: 48px;
    padding: 0 16px;

    cursor: pointer;

    color: inherit;
    border: none;
    outline: none;
    background: transparent;

    align-items: center;
}

/*-----------------------------------------------------------------------------
1.1 Icon
-----------------------------------------------------------------------------*/

.satus-button svg
{
    position: relative;
    z-index: 1;

    width: 24px;
    height: 24px;

    fill: inherit;
}

.satus-button_icon
{
    max-width: 48px;
    min-height: auto;
    max-height: 100%;
    padding: 0;

    justify-content: center;
}

.satus-button_icon::before
{
    border-radius: 50%;
}


/*-----------------------------------------------------------------------------
1.2 Ripple
-----------------------------------------------------------------------------*/

.satus-button:focus::after
{
    animation: button_scale 300ms ease;
}

.satus-button::before
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;

    content: '';
    transition: transform 100ms linear, opacity 50ms linear;
    transform: translate(-50%, -50%);
    pointer-events: none;

    opacity: 0;
    background: var(--background-hover-2);
}

.satus-button::after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;

    content: '';
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;

    opacity: 0;
    border-radius: 50%;
    background: rgba(0,0,0,.24);
}

.satus-button:focus::before,
.satus-button:hover::before
{
    opacity: 1;
}

@keyframes button_scale
{
    0%
    {
        transform: translate(-50%, -50%) scale(0);

        opacity: 0;
    }
    75%
    {
        transform: translate(-50%, -50%) scale(1);

        opacity: 1;
    }
    100%
    {
        transform: translate(-50%, -50%) scale(1);

        opacity: 0;
    }
}


/*-----------------------------------------------------------------------------
2.0 Header
-----------------------------------------------------------------------------*/

.satus-header .satus-button
{
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
}

.satus-header .satus-section--align-end .satus-button:not(:first-child)
{
    margin-left: 4px;
}
