html[theme=dawn]
{
    --it-primary-color: #f96754;

    --it-header-background: #734;
    --it-header-title-color: #dcdcdc;
    --it-header-button-color: rgba(255, 255, 255, .059);
    --it-header-icon-color: #dcdcdc;

    --it-body-section-label-color: #bbb;
    --it-body-section-background: #734;
    --it-body-background-color: #d44d5c;
    --it-item-hover-color: rgba(255, 255, 255, .04);
    --it-item-text-color: rgba(255, 255, 255, .87);
    --it-item-label-color: #fafafa;
    --it-item-radio-color: rgba(255,255,255,.54);

    --it-body-appearance-shadow: #582632;
}

.list__item_dawn-theme > ul
{
    position: relative;

    overflow: hidden;

    background: linear-gradient(#ed74a9, #ffba99);
}

@keyframes dawn-sun
{
    0%
    {
        background: radial-gradient(rgba(255, 255, 231, .85) 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }

    50%
    {
        background: radial-gradient(rgba(255, 255, 231, .85) 20%,
        rgba(255, 255, 231, .30) 20%,
        rgba(255, 255, 231, .30) 35%,
        rgba(255, 255, 231, .20) 35%,
        rgba(255, 255, 231, .20) 55%,
        rgba(255, 255, 231, .10) 55%,
        rgba(255, 255, 231, .10) 75%, transparent 75%);
    }

    100%
    {
        background: radial-gradient(rgba(255, 255, 231, .85) 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }
}

.list__item_dawn-theme > ul::before
{
    position: absolute;
    right: 1rem;
    bottom: -5rem;

    width: 10rem;
    height: 10rem;

    content: '';
    animation-name: dawn-sun;
    animation-duration: .75s;
    animation-iteration-count: infinite;
    pointer-events: none;

    border-radius: 50%;
    background: radial-gradient(rgba(255, 255, 231, .85) 20%, rgba(255, 255, 231, .25) 20%, rgba(255, 255, 231, .25) 35%, rgba(255, 255, 231, .15) 35%, rgba(255, 255, 231, .15) 55%, rgba(255, 255, 231, .05) 55%, rgba(255, 255, 231, .05) 75%, transparent 75%);
}

.list__item_dawn-theme .list__item_toggle .list__item__label
{
    color: #ffffe7;
}

.list__item_dawn-theme .list__item_toggle .list__item_toggle__status
{
    border-color: #ffffe7;
}
