/*--------------------------------------------------------------
>>> FONTS:
----------------------------------------------------------------
# Sources
# Base
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# SOURCES
--------------------------------------------------------------*/

@font-face {
	font-family: 'Roboto';

	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;

	src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;

	src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Brush Script MT';
  src: url(../fonts/BrushScriptMT.ttf);
}

@font-face {
  font-family: 'Brush Script Std';
  src: url(../fonts/BrushScriptStd.ttf);
}


/* Added font Brush Script MT, Brush Script Std, cursive to the YouTube page. */
.custom-font {
  font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

/*--------------------------------------------------------------
# BASE
--------------------------------------------------------------*/

.satus-base {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
