/*--------------------------------------------------------------
>>> FONTS:
----------------------------------------------------------------
# Sources
# Base
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# SOURCES
--------------------------------------------------------------*/

@font-face {
	font-family: 'Roboto';

	src: url(../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;

	src: url(../../assets/fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;

	src: url(../../assets/fonts/Roboto-Medium.ttf);
}


/*--------------------------------------------------------------
# BASE
--------------------------------------------------------------*/

.satus-base {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}