/*--------------------------------------------------------------
>>> PLAYER
--------------------------------------------------------------*/
#forced-volume:not([data-value='true']) + .satus-slider,
#forced-playback-speed:not([data-value='true']) + .satus-switch,
#forced-playback-speed:not([data-value='true']) + .satus-switch + .satus-slider 
	{display: none;}
 /*--------------------------------------------------------------
SUBTITLES
--------------------------------------------------------------*/
#subtitles-language[data-value='default'] + .satus-switch  	
	{display:none}
