[it-youtube-version=old][it-default-dark-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light])
{
    --yt-swatch-header-primary: rgb(34,38,42)!important;
    --yt-swatch-primary: rgb(34,38,42)!important;
    --yt-swatch-primary-darker: rgb(28,32,36)!important;
    --yt-swatch-text: rgb(200,200,200)!important;
    --yt-swatch-important-text: rgb(200,200,200)!important;
    --yt-swatch-input-text: rgba(200,200,200,1)!important;
    --yt-swatch-textbox-bg: rgba(19,19,19,1)!important;
    --yt-swatch-logo-override: rgb(200,200,200)!important;
    --yt-swatch-icon-color: rgba(136,136,136,1)!important;
}

[it-youtube-version=old][it-default-dark-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light]) #masthead-search-term
{
    border: 1px solid #444!important;
    border-right: none!important;
}
[it-youtube-version=old][it-default-dark-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light])[youtube-version=old] body
{
    height: auto;
}
[it-youtube-version=old][it-default-dark-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light])
{
    background: var(--yt-swatch-primary-darker)!important;
}
[it-youtube-version=old][it-default-dark-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light]) ytd-masthead
{
    background: #232323!important;

    --yt-swatch-primary: rgb(35, 35, 35)!important;
    --yt-swatch-primary-darker: rgb(32, 32, 32)!important;
    --yt-swatch-text: rgb(255, 255, 255)!important;
    --yt-swatch-important-text: rgb(255, 255, 255)!important;
    --yt-swatch-input-text: rgba(255, 255, 255, 1)!important;
    --yt-swatch-textbox-bg: rgba(19, 19, 19, 1)!important;
    --yt-swatch-logo-override: rgb(255, 255, 255)!important;
    --yt-swatch-icon-color: rgba(136, 136, 136, 1)!important;
}
[it-youtube-version=old][it-default-dark-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light]):not([style-scope]):not(.style-scope) :not([style-scope]):not(.style-scope)
{
    --yt-live-chat-action-panel-background-color: #282828;
    --yt-live-chat-action-panel-background-color-transparent: rgba(40, 40, 40, .8);
    --yt-live-chat-primary-text-color: hsl(0, 0%, 100%);
    --yt-live-chat-secondary-text-color: rgba(255, 255, 255, .7);
    --yt-live-chat-tertiary-text-color: rgba(255, 255, 255, .54);
    --yt-live-chat-disabled-icon-button-color: rgba(255, 255, 255, .3);
    --yt-live-chat-picker-button-color: var(--yt-live-chat-tertiary-text-color);
    --yt-formatted-string-emoji-size: 24px;
}
[it-youtube-version=old][it-default-dark-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light]):not([style-scope]):not(.style-scope)
{
    --ytd-searchbox-border-color: hsla(0, 0%, 53.3%, .2);
    --ytd-searchbox-legacy-border-color: hsl(0, 0%, 18.82%);
    --ytd-searchbox-legacy-border-shadow-color: hsla(0, 0%, 0%, 0);
    --ytd-searchbox-legacy-button-color: hsla(0, 0%, 100%, .08);
    --ytd-searchbox-legacy-button-border-color: hsl(0, 0%, 18.82%);
    --ytd-searchbox-legacy-button-focus-color: hsla(0, 0%, 100%, .08);
    --ytd-searchbox-legacy-button-hover-color: hsla(0, 0%, 100%, .08);
    --ytd-searchbox-legacy-button-hover-border-color: hsl(0, 0%, 18.82%);
    --ytd-searchbox-legacy-button-icon-color: hsla(0, 100%, 100%, .5);
    --ytd-moderation-panel-background: hsla(0, 0%, 11%, .8);
    --ytd-moderation-panel-hover: hsl(0, 0%, 11%);
    --ytd-moderation-panel-comment-text: hsla(0, 100%, 100%, .5);
    --ytd-moderation-panel-comment-metadata-text: hsla(0, 100%, 100%, .5);
    --ytd-moderation-icon-color: hsla(0, 100%, 100%, .5);
    --ytd-moderation-icon-hover-color: hsla(0, 100%, 100%, .74);
    --ytd-comment-text-color: hsla(0, 100%, 100%, .88);
    --ytd-comment-metadata-text-color: hsl(0, 0%, 53.3%);
    --ytd-watch-card-secondary-text-color: hsl(0, 0%, 93.3%);
    --ytd-watch-card-album-header-background: hsl(0, 0%, 6.7%);
    --ytd-backstage-metadata-text-color: hsla(0, 100%, 100%, .88);
    --ytd-backstage-video-link-background-color: hsl(0, 0%, 14%);
    --ytd-backstage-image-alert-color: hsla(0, 100%, 100%, .88);
    --ytd-backstage-cancel-background-color: hsl(0, 0%, 14%);
    --ytd-backstage-cancel-color: hsl(0, 0%, 100%);
    --ytd-backstage-creationbox-background-color: hsl(0, 0%, 11%);
    --ytd-backstage-creationbox-background-color-focus: hsl(0, 0%, 14%);
    --ytd-backstage-creationbox-inactive-color: hsla(0, 100%, 100%, .26);
    --ytd-backstage-creationbox-text-color: hsla(0, 100%, 100%, .5);
    --ytd-backstage-creationbox-input-text-color: hsla(0, 100%, 100%, .88);
    --ytd-backstage-creationbox-disabled-button-color: hsla(0, 100%, 100%, .08);
    --ytd-backstage-creationbox-disabled-button-text-color: hsla(0, 100%, 100%, .26);
    --ytd-backstage-attachment-icon-hover-color: hsla(0, 100%, 100%, .74);
    --ytd-sponsorships-background-color-focus: hsl(0, 0%, 11%);
    --ytd-badge-background: hsla(0, 100%, 100%, .08);
    --ytd-badge-disabled-color: hsla(0, 0%, 100%, .4);
    --ytd-collection-badge-color: hsla(0, 0%, 100%, .8);
    --ytd-owner-badge-color: hsla(0, 0%, 100%, .4);
    --ytd-simple-badge-color: hsla(0, 0%, 100%, .6);
    --ytd-ad-badge-text-color: hsl(0, 0%, 7%);
    --ytd-shopping-product-info: hsla(0, 100%, 100%, .74);
    --ytd-toggle-color: hsl(0, 0%, 93.3%);
    --ytd-survey-button-color: var(--yt-primary-text-color);
    --ytd-transcript-cue-hover-background-color: hsla(0, 0%, 53.3%, .4);
    --ytd-transcript-toolbar-background-color: hsla(0, 0%, 53.3%, .4);
    --ytd-transcript-toolbar-text: hsla(0, 100%, 100%, .88);
    --ytd-video-publish-date-color: hsla(0, 0%, 100%, .6);
    --ytd-vat-notice-text: hsla(0, 0%, 100%, .6);
    --ytd-offer-background-color: hsl(0, 0%, 14%);
    --ytd-video-game-watch-card-logo-color: hsl(0, 0%, 100%);
    --ytd-watch-split-pane-sidebar-background-color: hsl(0, 0%, 11%);
    --yt-std-body-100: hsla(0, 100%, 100%, .08);
    --yt-std-body-200: hsla(0, 100%, 100%, .26);
    --yt-std-body-300: hsla(0, 100%, 100%, .5);
    --yt-std-surface-200: hsl(0, 0%, 11%);
    --yt-std-surface-300: hsl(0, 0%, 14%);
    --yt-std-surface-400: hsl(0, 0%, 16%);
    --yt-primary-color: hsla(0, 100%, 100%, .88);
    --yt-primary-text-color: hsla(0, 100%, 100%, .88);
    --yt-hovered-text-color: hsla(0, 100%, 100%, .74);
    --yt-secondary-text-color: hsla(0, 100%, 100%, .5);
    --yt-tertiary-text-color: hsla(0, 100%, 100%, .5);
    --yt-disabled-text-color: hsla(0, 100%, 100%, .26);
    --yt-placeholder-text-color: hsla(0, 100%, 100%, .5);
    --yt-border-color: hsla(0, 100%, 100%, .08);
    --yt-commentbox-border-inactive: hsla(0, 100%, 100%, .5);
    --yt-commentbox-border-active: hsla(0, 100%, 100%, .88);
    --yt-alert-background: hsla(0, 100%, 100%, .26);
    --yt-paper-button-ink-color: hsla(0, 0%, 100%, .2);
    --yt-icon-color: hsla(0, 100%, 100%, .5);
    --yt-icon-hover-color: hsla(0, 100%, 100%, .74);
    --yt-icon-active-color: hsla(0, 100%, 100%, .88);
    --yt-icon-disabled-color: hsla(0, 100%, 100%, .26);
    --yt-endpoint-color: hsl(0, 0%, 53.3%);
    --yt-expand-color: hsla(0, 0%, 100%, .6);
    --yt-metadata-color: hsl(0, 0%, 53.3%);
    --yt-channel-owner: hsla(0, 100%, 100%, .88);
    --yt-placeholder-text: hsl(0, 0%, 93.3%);
    --yt-playlist-background-header: hsla(0, 0%, 53.3%, .4);
    --yt-playlist-background-item: hsla(0, 0%, 53.3%, .2);
    --yt-playlist-title-text: hsla(0, 100%, 100%, .88);
    --yt-playlist-message-text: hsl(0, 0%, 93.3%);
    --yt-playlist-message-text-hover: hsla(0, 100%, 100%, .74);
    --yt-subscribe-button-text-color: hsla(0, 100%, 100%, .88);
    --yt-brand-color: hsla(0, 100%, 100%, .88);
    --yt-button-text-color: hsla(0, 100%, 100%, .5);
    --yt-button-payment-text-color: hsla(0, 100%, 100%, .88);
    --yt-copyright-text: hsla(0, 0%, 100%, .6);
    --yt-guide-entry-hover-background-color: hsla(0, 0%, 53.3%, .4);
    --yt-thumbnail-placeholder-color: hsl(0, 0%, 16%);
    --yt-primary-disabled-button-text-color: hsla(0, 0%, 100%, .2);
    --yt-featured-channel-title-text-color: hsla(0, 100%, 100%, .5);
    --yt-formatted-string-deemphasize-color: hsl(0, 0%, 53.3%);
    --paper-menu-background-color: hsl(0, 0%, 14%);
    --paper-listbox-background-color: hsl(0, 0%, 14%);
    --paper-menu-color: hsla(0, 100%, 100%, .88);
    --paper-listbox-color: hsla(0, 100%, 100%, .88);
    --paper-dialog-background-color: hsl(0, 0%, 14%);
    --paper-toggle-button-unchecked-bar-color: hsl(0, 0%, 53.3%);
    --yt-simple-menu-header-background: hsla(0, 0%, 53.3%, .4);
    --yt-item-section-header-color: hsl(0, 0%, 93.3%);
    --yt-menu-hover-backgound-color: hsla(0, 100%, 100%, .08);
    --yt-menu-focus-background-color: hsla(0, 100%, 100%, .26);
    --yt-searchbox-text-color: var(--yt-primary-text-color);
    --yt-material-searchbox-inactive: hsl(0, 0%, 7%);
    --yt-material-searchbox-active: hsl(0, 0%, 100%);
    --yt-material-searchbox-inactive-shadow: hsla(0, 0%, 0%, .04);
    --yt-material-searchbox-active-shadow: hsla(0, 0%, 0%, .26);
    --yt-material-searchbox-inset: hsla(0, 0%, 0%, .04);
    --yt-material-searchbox-text-color: hsl(0, 0%, 6.7%);
    --yt-app-background: hsl(0, 0%, 7%);
    --yt-main-app-background: hsl(0, 0%, 7%);
    --yt-main-app-background-tmp: hsl(0, 0%, 7%);
    --yt-guide-background: hsl(0, 0%, 11%);
    --yt-dialog-background: hsl(0, 0%, 14%);
    --yt-searchbox-background: hsl(0, 0%, 7%);
    --yt-channel-header-background: hsla(0, 0%, 11%, .8);
    --yt-sidebar-background: hsla(0, 0%, 11%, .8);
    --yt-transcript-background: hsl(0, 0%, 11%);
    --yt-chat-bubble-other-border-color: hsla(0, 100%, 100%, .26);
    --yt-chat-bubble-other-background-color: hsl(0, 0%, 11%);
    --yt-chat-bubble-self-border-color: hsl(0, 0%, 14%);
    --yt-chat-bubble-self-background-color: hsl(0, 0%, 16%);
    --yt-blue-suggestive: transparent;
}

[it-youtube-version=old][it-default-dark-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light])[youtube-version=old] body
{
    height: auto!important;

    background: rgb(19,19,19)!important;
}





@media (prefers-color-scheme: dark) {
    [it-youtube-version=old][it-default-theme=true][it-schedule=system_peference_dark]
    {
        --yt-swatch-header-primary: rgb(34,38,42)!important;
        --yt-swatch-primary: rgb(34,38,42)!important;
        --yt-swatch-primary-darker: rgb(28,32,36)!important;
        --yt-swatch-text: rgb(200,200,200)!important;
        --yt-swatch-important-text: rgb(200,200,200)!important;
        --yt-swatch-input-text: rgba(200,200,200,1)!important;
        --yt-swatch-textbox-bg: rgba(19,19,19,1)!important;
        --yt-swatch-logo-override: rgb(200,200,200)!important;
        --yt-swatch-icon-color: rgba(136,136,136,1)!important;
    }

    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_dark] #masthead-search-term
    {
        border: 1px solid #444!important;
        border-right: none!important;
    }
    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_dark] html[youtube-version=old] body
    {
        height: auto;
    }
    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_dark]
    {
        background: var(--yt-swatch-primary-darker)!important;
    }
    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_dark] ytd-masthead
    {
        background: #232323!important;

        --yt-swatch-primary: rgb(35, 35, 35)!important;
        --yt-swatch-primary-darker: rgb(32, 32, 32)!important;
        --yt-swatch-text: rgb(255, 255, 255)!important;
        --yt-swatch-important-text: rgb(255, 255, 255)!important;
        --yt-swatch-input-text: rgba(255, 255, 255, 1)!important;
        --yt-swatch-textbox-bg: rgba(19, 19, 19, 1)!important;
        --yt-swatch-logo-override: rgb(255, 255, 255)!important;
        --yt-swatch-icon-color: rgba(136, 136, 136, 1)!important;
    }
    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_dark]:not([style-scope]):not(.style-scope) :not([style-scope]):not(.style-scope)
    {
        --yt-live-chat-action-panel-background-color: #282828;
        --yt-live-chat-action-panel-background-color-transparent: rgba(40, 40, 40, .8);
        --yt-live-chat-primary-text-color: hsl(0, 0%, 100%);
        --yt-live-chat-secondary-text-color: rgba(255, 255, 255, .7);
        --yt-live-chat-tertiary-text-color: rgba(255, 255, 255, .54);
        --yt-live-chat-disabled-icon-button-color: rgba(255, 255, 255, .3);
        --yt-live-chat-picker-button-color: var(--yt-live-chat-tertiary-text-color);
        --yt-formatted-string-emoji-size: 24px;
    }
    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_dark]:not([style-scope]):not(.style-scope)
    {
        --ytd-searchbox-border-color: hsla(0, 0%, 53.3%, .2);
        --ytd-searchbox-legacy-border-color: hsl(0, 0%, 18.82%);
        --ytd-searchbox-legacy-border-shadow-color: hsla(0, 0%, 0%, 0);
        --ytd-searchbox-legacy-button-color: hsla(0, 0%, 100%, .08);
        --ytd-searchbox-legacy-button-border-color: hsl(0, 0%, 18.82%);
        --ytd-searchbox-legacy-button-focus-color: hsla(0, 0%, 100%, .08);
        --ytd-searchbox-legacy-button-hover-color: hsla(0, 0%, 100%, .08);
        --ytd-searchbox-legacy-button-hover-border-color: hsl(0, 0%, 18.82%);
        --ytd-searchbox-legacy-button-icon-color: hsla(0, 100%, 100%, .5);
        --ytd-moderation-panel-background: hsla(0, 0%, 11%, .8);
        --ytd-moderation-panel-hover: hsl(0, 0%, 11%);
        --ytd-moderation-panel-comment-text: hsla(0, 100%, 100%, .5);
        --ytd-moderation-panel-comment-metadata-text: hsla(0, 100%, 100%, .5);
        --ytd-moderation-icon-color: hsla(0, 100%, 100%, .5);
        --ytd-moderation-icon-hover-color: hsla(0, 100%, 100%, .74);
        --ytd-comment-text-color: hsla(0, 100%, 100%, .88);
        --ytd-comment-metadata-text-color: hsl(0, 0%, 53.3%);
        --ytd-watch-card-secondary-text-color: hsl(0, 0%, 93.3%);
        --ytd-watch-card-album-header-background: hsl(0, 0%, 6.7%);
        --ytd-backstage-metadata-text-color: hsla(0, 100%, 100%, .88);
        --ytd-backstage-video-link-background-color: hsl(0, 0%, 14%);
        --ytd-backstage-image-alert-color: hsla(0, 100%, 100%, .88);
        --ytd-backstage-cancel-background-color: hsl(0, 0%, 14%);
        --ytd-backstage-cancel-color: hsl(0, 0%, 100%);
        --ytd-backstage-creationbox-background-color: hsl(0, 0%, 11%);
        --ytd-backstage-creationbox-background-color-focus: hsl(0, 0%, 14%);
        --ytd-backstage-creationbox-inactive-color: hsla(0, 100%, 100%, .26);
        --ytd-backstage-creationbox-text-color: hsla(0, 100%, 100%, .5);
        --ytd-backstage-creationbox-input-text-color: hsla(0, 100%, 100%, .88);
        --ytd-backstage-creationbox-disabled-button-color: hsla(0, 100%, 100%, .08);
        --ytd-backstage-creationbox-disabled-button-text-color: hsla(0, 100%, 100%, .26);
        --ytd-backstage-attachment-icon-hover-color: hsla(0, 100%, 100%, .74);
        --ytd-sponsorships-background-color-focus: hsl(0, 0%, 11%);
        --ytd-badge-background: hsla(0, 100%, 100%, .08);
        --ytd-badge-disabled-color: hsla(0, 0%, 100%, .4);
        --ytd-collection-badge-color: hsla(0, 0%, 100%, .8);
        --ytd-owner-badge-color: hsla(0, 0%, 100%, .4);
        --ytd-simple-badge-color: hsla(0, 0%, 100%, .6);
        --ytd-ad-badge-text-color: hsl(0, 0%, 7%);
        --ytd-shopping-product-info: hsla(0, 100%, 100%, .74);
        --ytd-toggle-color: hsl(0, 0%, 93.3%);
        --ytd-survey-button-color: var(--yt-primary-text-color);
        --ytd-transcript-cue-hover-background-color: hsla(0, 0%, 53.3%, .4);
        --ytd-transcript-toolbar-background-color: hsla(0, 0%, 53.3%, .4);
        --ytd-transcript-toolbar-text: hsla(0, 100%, 100%, .88);
        --ytd-video-publish-date-color: hsla(0, 0%, 100%, .6);
        --ytd-vat-notice-text: hsla(0, 0%, 100%, .6);
        --ytd-offer-background-color: hsl(0, 0%, 14%);
        --ytd-video-game-watch-card-logo-color: hsl(0, 0%, 100%);
        --ytd-watch-split-pane-sidebar-background-color: hsl(0, 0%, 11%);
        --yt-std-body-100: hsla(0, 100%, 100%, .08);
        --yt-std-body-200: hsla(0, 100%, 100%, .26);
        --yt-std-body-300: hsla(0, 100%, 100%, .5);
        --yt-std-surface-200: hsl(0, 0%, 11%);
        --yt-std-surface-300: hsl(0, 0%, 14%);
        --yt-std-surface-400: hsl(0, 0%, 16%);
        --yt-primary-color: hsla(0, 100%, 100%, .88);
        --yt-primary-text-color: hsla(0, 100%, 100%, .88);
        --yt-hovered-text-color: hsla(0, 100%, 100%, .74);
        --yt-secondary-text-color: hsla(0, 100%, 100%, .5);
        --yt-tertiary-text-color: hsla(0, 100%, 100%, .5);
        --yt-disabled-text-color: hsla(0, 100%, 100%, .26);
        --yt-placeholder-text-color: hsla(0, 100%, 100%, .5);
        --yt-border-color: hsla(0, 100%, 100%, .08);
        --yt-commentbox-border-inactive: hsla(0, 100%, 100%, .5);
        --yt-commentbox-border-active: hsla(0, 100%, 100%, .88);
        --yt-alert-background: hsla(0, 100%, 100%, .26);
        --yt-paper-button-ink-color: hsla(0, 0%, 100%, .2);
        --yt-icon-color: hsla(0, 100%, 100%, .5);
        --yt-icon-hover-color: hsla(0, 100%, 100%, .74);
        --yt-icon-active-color: hsla(0, 100%, 100%, .88);
        --yt-icon-disabled-color: hsla(0, 100%, 100%, .26);
        --yt-endpoint-color: hsl(0, 0%, 53.3%);
        --yt-expand-color: hsla(0, 0%, 100%, .6);
        --yt-metadata-color: hsl(0, 0%, 53.3%);
        --yt-channel-owner: hsla(0, 100%, 100%, .88);
        --yt-placeholder-text: hsl(0, 0%, 93.3%);
        --yt-playlist-background-header: hsla(0, 0%, 53.3%, .4);
        --yt-playlist-background-item: hsla(0, 0%, 53.3%, .2);
        --yt-playlist-title-text: hsla(0, 100%, 100%, .88);
        --yt-playlist-message-text: hsl(0, 0%, 93.3%);
        --yt-playlist-message-text-hover: hsla(0, 100%, 100%, .74);
        --yt-subscribe-button-text-color: hsla(0, 100%, 100%, .88);
        --yt-brand-color: hsla(0, 100%, 100%, .88);
        --yt-button-text-color: hsla(0, 100%, 100%, .5);
        --yt-button-payment-text-color: hsla(0, 100%, 100%, .88);
        --yt-copyright-text: hsla(0, 0%, 100%, .6);
        --yt-guide-entry-hover-background-color: hsla(0, 0%, 53.3%, .4);
        --yt-thumbnail-placeholder-color: hsl(0, 0%, 16%);
        --yt-primary-disabled-button-text-color: hsla(0, 0%, 100%, .2);
        --yt-featured-channel-title-text-color: hsla(0, 100%, 100%, .5);
        --yt-formatted-string-deemphasize-color: hsl(0, 0%, 53.3%);
        --paper-menu-background-color: hsl(0, 0%, 14%);
        --paper-listbox-background-color: hsl(0, 0%, 14%);
        --paper-menu-color: hsla(0, 100%, 100%, .88);
        --paper-listbox-color: hsla(0, 100%, 100%, .88);
        --paper-dialog-background-color: hsl(0, 0%, 14%);
        --paper-toggle-button-unchecked-bar-color: hsl(0, 0%, 53.3%);
        --yt-simple-menu-header-background: hsla(0, 0%, 53.3%, .4);
        --yt-item-section-header-color: hsl(0, 0%, 93.3%);
        --yt-menu-hover-backgound-color: hsla(0, 100%, 100%, .08);
        --yt-menu-focus-background-color: hsla(0, 100%, 100%, .26);
        --yt-searchbox-text-color: var(--yt-primary-text-color);
        --yt-material-searchbox-inactive: hsl(0, 0%, 7%);
        --yt-material-searchbox-active: hsl(0, 0%, 100%);
        --yt-material-searchbox-inactive-shadow: hsla(0, 0%, 0%, .04);
        --yt-material-searchbox-active-shadow: hsla(0, 0%, 0%, .26);
        --yt-material-searchbox-inset: hsla(0, 0%, 0%, .04);
        --yt-material-searchbox-text-color: hsl(0, 0%, 6.7%);
        --yt-app-background: hsl(0, 0%, 7%);
        --yt-main-app-background: hsl(0, 0%, 7%);
        --yt-main-app-background-tmp: hsl(0, 0%, 7%);
        --yt-guide-background: hsl(0, 0%, 11%);
        --yt-dialog-background: hsl(0, 0%, 14%);
        --yt-searchbox-background: hsl(0, 0%, 7%);
        --yt-channel-header-background: hsla(0, 0%, 11%, .8);
        --yt-sidebar-background: hsla(0, 0%, 11%, .8);
        --yt-transcript-background: hsl(0, 0%, 11%);
        --yt-chat-bubble-other-border-color: hsla(0, 100%, 100%, .26);
        --yt-chat-bubble-other-background-color: hsl(0, 0%, 11%);
        --yt-chat-bubble-self-border-color: hsl(0, 0%, 14%);
        --yt-chat-bubble-self-background-color: hsl(0, 0%, 16%);
        --yt-blue-suggestive: transparent;
    }

    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_dark][youtube-version=old] body
    {
        height: auto!important;

        background: rgb(19,19,19)!important;
    }
}





@media (prefers-color-scheme: light) {
    [it-youtube-version=old][it-default-theme=true][it-schedule=system_peference_light]
    {
        --yt-swatch-header-primary: rgb(34,38,42)!important;
        --yt-swatch-primary: rgb(34,38,42)!important;
        --yt-swatch-primary-darker: rgb(28,32,36)!important;
        --yt-swatch-text: rgb(200,200,200)!important;
        --yt-swatch-important-text: rgb(200,200,200)!important;
        --yt-swatch-input-text: rgba(200,200,200,1)!important;
        --yt-swatch-textbox-bg: rgba(19,19,19,1)!important;
        --yt-swatch-logo-override: rgb(200,200,200)!important;
        --yt-swatch-icon-color: rgba(136,136,136,1)!important;
    }

    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_light] #masthead-search-term
    {
        border: 1px solid #444!important;
        border-right: none!important;
    }
    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_light] html[youtube-version=old] body
    {
        height: auto;
    }
    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_light]
    {
        background: var(--yt-swatch-primary-darker)!important;
    }
    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_light] ytd-masthead
    {
        background: #232323!important;

        --yt-swatch-primary: rgb(35, 35, 35)!important;
        --yt-swatch-primary-darker: rgb(32, 32, 32)!important;
        --yt-swatch-text: rgb(255, 255, 255)!important;
        --yt-swatch-important-text: rgb(255, 255, 255)!important;
        --yt-swatch-input-text: rgba(255, 255, 255, 1)!important;
        --yt-swatch-textbox-bg: rgba(19, 19, 19, 1)!important;
        --yt-swatch-logo-override: rgb(255, 255, 255)!important;
        --yt-swatch-icon-color: rgba(136, 136, 136, 1)!important;
    }
    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_light]:not([style-scope]):not(.style-scope) :not([style-scope]):not(.style-scope)
    {
        --yt-live-chat-action-panel-background-color: #282828;
        --yt-live-chat-action-panel-background-color-transparent: rgba(40, 40, 40, .8);
        --yt-live-chat-primary-text-color: hsl(0, 0%, 100%);
        --yt-live-chat-secondary-text-color: rgba(255, 255, 255, .7);
        --yt-live-chat-tertiary-text-color: rgba(255, 255, 255, .54);
        --yt-live-chat-disabled-icon-button-color: rgba(255, 255, 255, .3);
        --yt-live-chat-picker-button-color: var(--yt-live-chat-tertiary-text-color);
        --yt-formatted-string-emoji-size: 24px;
    }
    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_light]:not([style-scope]):not(.style-scope)
    {
        --ytd-searchbox-border-color: hsla(0, 0%, 53.3%, .2);
        --ytd-searchbox-legacy-border-color: hsl(0, 0%, 18.82%);
        --ytd-searchbox-legacy-border-shadow-color: hsla(0, 0%, 0%, 0);
        --ytd-searchbox-legacy-button-color: hsla(0, 0%, 100%, .08);
        --ytd-searchbox-legacy-button-border-color: hsl(0, 0%, 18.82%);
        --ytd-searchbox-legacy-button-focus-color: hsla(0, 0%, 100%, .08);
        --ytd-searchbox-legacy-button-hover-color: hsla(0, 0%, 100%, .08);
        --ytd-searchbox-legacy-button-hover-border-color: hsl(0, 0%, 18.82%);
        --ytd-searchbox-legacy-button-icon-color: hsla(0, 100%, 100%, .5);
        --ytd-moderation-panel-background: hsla(0, 0%, 11%, .8);
        --ytd-moderation-panel-hover: hsl(0, 0%, 11%);
        --ytd-moderation-panel-comment-text: hsla(0, 100%, 100%, .5);
        --ytd-moderation-panel-comment-metadata-text: hsla(0, 100%, 100%, .5);
        --ytd-moderation-icon-color: hsla(0, 100%, 100%, .5);
        --ytd-moderation-icon-hover-color: hsla(0, 100%, 100%, .74);
        --ytd-comment-text-color: hsla(0, 100%, 100%, .88);
        --ytd-comment-metadata-text-color: hsl(0, 0%, 53.3%);
        --ytd-watch-card-secondary-text-color: hsl(0, 0%, 93.3%);
        --ytd-watch-card-album-header-background: hsl(0, 0%, 6.7%);
        --ytd-backstage-metadata-text-color: hsla(0, 100%, 100%, .88);
        --ytd-backstage-video-link-background-color: hsl(0, 0%, 14%);
        --ytd-backstage-image-alert-color: hsla(0, 100%, 100%, .88);
        --ytd-backstage-cancel-background-color: hsl(0, 0%, 14%);
        --ytd-backstage-cancel-color: hsl(0, 0%, 100%);
        --ytd-backstage-creationbox-background-color: hsl(0, 0%, 11%);
        --ytd-backstage-creationbox-background-color-focus: hsl(0, 0%, 14%);
        --ytd-backstage-creationbox-inactive-color: hsla(0, 100%, 100%, .26);
        --ytd-backstage-creationbox-text-color: hsla(0, 100%, 100%, .5);
        --ytd-backstage-creationbox-input-text-color: hsla(0, 100%, 100%, .88);
        --ytd-backstage-creationbox-disabled-button-color: hsla(0, 100%, 100%, .08);
        --ytd-backstage-creationbox-disabled-button-text-color: hsla(0, 100%, 100%, .26);
        --ytd-backstage-attachment-icon-hover-color: hsla(0, 100%, 100%, .74);
        --ytd-sponsorships-background-color-focus: hsl(0, 0%, 11%);
        --ytd-badge-background: hsla(0, 100%, 100%, .08);
        --ytd-badge-disabled-color: hsla(0, 0%, 100%, .4);
        --ytd-collection-badge-color: hsla(0, 0%, 100%, .8);
        --ytd-owner-badge-color: hsla(0, 0%, 100%, .4);
        --ytd-simple-badge-color: hsla(0, 0%, 100%, .6);
        --ytd-ad-badge-text-color: hsl(0, 0%, 7%);
        --ytd-shopping-product-info: hsla(0, 100%, 100%, .74);
        --ytd-toggle-color: hsl(0, 0%, 93.3%);
        --ytd-survey-button-color: var(--yt-primary-text-color);
        --ytd-transcript-cue-hover-background-color: hsla(0, 0%, 53.3%, .4);
        --ytd-transcript-toolbar-background-color: hsla(0, 0%, 53.3%, .4);
        --ytd-transcript-toolbar-text: hsla(0, 100%, 100%, .88);
        --ytd-video-publish-date-color: hsla(0, 0%, 100%, .6);
        --ytd-vat-notice-text: hsla(0, 0%, 100%, .6);
        --ytd-offer-background-color: hsl(0, 0%, 14%);
        --ytd-video-game-watch-card-logo-color: hsl(0, 0%, 100%);
        --ytd-watch-split-pane-sidebar-background-color: hsl(0, 0%, 11%);
        --yt-std-body-100: hsla(0, 100%, 100%, .08);
        --yt-std-body-200: hsla(0, 100%, 100%, .26);
        --yt-std-body-300: hsla(0, 100%, 100%, .5);
        --yt-std-surface-200: hsl(0, 0%, 11%);
        --yt-std-surface-300: hsl(0, 0%, 14%);
        --yt-std-surface-400: hsl(0, 0%, 16%);
        --yt-primary-color: hsla(0, 100%, 100%, .88);
        --yt-primary-text-color: hsla(0, 100%, 100%, .88);
        --yt-hovered-text-color: hsla(0, 100%, 100%, .74);
        --yt-secondary-text-color: hsla(0, 100%, 100%, .5);
        --yt-tertiary-text-color: hsla(0, 100%, 100%, .5);
        --yt-disabled-text-color: hsla(0, 100%, 100%, .26);
        --yt-placeholder-text-color: hsla(0, 100%, 100%, .5);
        --yt-border-color: hsla(0, 100%, 100%, .08);
        --yt-commentbox-border-inactive: hsla(0, 100%, 100%, .5);
        --yt-commentbox-border-active: hsla(0, 100%, 100%, .88);
        --yt-alert-background: hsla(0, 100%, 100%, .26);
        --yt-paper-button-ink-color: hsla(0, 0%, 100%, .2);
        --yt-icon-color: hsla(0, 100%, 100%, .5);
        --yt-icon-hover-color: hsla(0, 100%, 100%, .74);
        --yt-icon-active-color: hsla(0, 100%, 100%, .88);
        --yt-icon-disabled-color: hsla(0, 100%, 100%, .26);
        --yt-endpoint-color: hsl(0, 0%, 53.3%);
        --yt-expand-color: hsla(0, 0%, 100%, .6);
        --yt-metadata-color: hsl(0, 0%, 53.3%);
        --yt-channel-owner: hsla(0, 100%, 100%, .88);
        --yt-placeholder-text: hsl(0, 0%, 93.3%);
        --yt-playlist-background-header: hsla(0, 0%, 53.3%, .4);
        --yt-playlist-background-item: hsla(0, 0%, 53.3%, .2);
        --yt-playlist-title-text: hsla(0, 100%, 100%, .88);
        --yt-playlist-message-text: hsl(0, 0%, 93.3%);
        --yt-playlist-message-text-hover: hsla(0, 100%, 100%, .74);
        --yt-subscribe-button-text-color: hsla(0, 100%, 100%, .88);
        --yt-brand-color: hsla(0, 100%, 100%, .88);
        --yt-button-text-color: hsla(0, 100%, 100%, .5);
        --yt-button-payment-text-color: hsla(0, 100%, 100%, .88);
        --yt-copyright-text: hsla(0, 0%, 100%, .6);
        --yt-guide-entry-hover-background-color: hsla(0, 0%, 53.3%, .4);
        --yt-thumbnail-placeholder-color: hsl(0, 0%, 16%);
        --yt-primary-disabled-button-text-color: hsla(0, 0%, 100%, .2);
        --yt-featured-channel-title-text-color: hsla(0, 100%, 100%, .5);
        --yt-formatted-string-deemphasize-color: hsl(0, 0%, 53.3%);
        --paper-menu-background-color: hsl(0, 0%, 14%);
        --paper-listbox-background-color: hsl(0, 0%, 14%);
        --paper-menu-color: hsla(0, 100%, 100%, .88);
        --paper-listbox-color: hsla(0, 100%, 100%, .88);
        --paper-dialog-background-color: hsl(0, 0%, 14%);
        --paper-toggle-button-unchecked-bar-color: hsl(0, 0%, 53.3%);
        --yt-simple-menu-header-background: hsla(0, 0%, 53.3%, .4);
        --yt-item-section-header-color: hsl(0, 0%, 93.3%);
        --yt-menu-hover-backgound-color: hsla(0, 100%, 100%, .08);
        --yt-menu-focus-background-color: hsla(0, 100%, 100%, .26);
        --yt-searchbox-text-color: var(--yt-primary-text-color);
        --yt-material-searchbox-inactive: hsl(0, 0%, 7%);
        --yt-material-searchbox-active: hsl(0, 0%, 100%);
        --yt-material-searchbox-inactive-shadow: hsla(0, 0%, 0%, .04);
        --yt-material-searchbox-active-shadow: hsla(0, 0%, 0%, .26);
        --yt-material-searchbox-inset: hsla(0, 0%, 0%, .04);
        --yt-material-searchbox-text-color: hsl(0, 0%, 6.7%);
        --yt-app-background: hsl(0, 0%, 7%);
        --yt-main-app-background: hsl(0, 0%, 7%);
        --yt-main-app-background-tmp: hsl(0, 0%, 7%);
        --yt-guide-background: hsl(0, 0%, 11%);
        --yt-dialog-background: hsl(0, 0%, 14%);
        --yt-searchbox-background: hsl(0, 0%, 7%);
        --yt-channel-header-background: hsla(0, 0%, 11%, .8);
        --yt-sidebar-background: hsla(0, 0%, 11%, .8);
        --yt-transcript-background: hsl(0, 0%, 11%);
        --yt-chat-bubble-other-border-color: hsla(0, 100%, 100%, .26);
        --yt-chat-bubble-other-background-color: hsl(0, 0%, 11%);
        --yt-chat-bubble-self-border-color: hsl(0, 0%, 14%);
        --yt-chat-bubble-self-background-color: hsl(0, 0%, 16%);
        --yt-blue-suggestive: transparent;
    }

    [it-youtube-version=old][it-default-dark-theme=true][it-schedule=system_peference_light][youtube-version=old] body
    {
        height: auto!important;

        background: rgb(19,19,19)!important;
    }
}