[it-desert-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light])
{
    --yt-swatch-primary: #faf9f9!important;
    --yt-swatch-primary-darker: #faf9f9!important;
    --yt-swatch-text: #666!important;
    --yt-swatch-important-text: #666!important;
    --yt-swatch-input-text: #666!important;
    --yt-swatch-textbox-bg: rgba(19,19,19,1)!important;
    --yt-swatch-logo-override: #666!important;
    --yt-swatch-icon-color: rgba(136,136,136,1)!important;
    --yt-swatch-header-primary: #bee3db;

    --yt-spec-brand-background-solid:#faf9f9 !important;
    --yt-spec-brand-background-primary:rgba(0,0,0, 0.98) !important;
    --yt-spec-brand-background-secondary:rgba(0,0,0, 0.95) !important;
    --yt-spec-general-background-a:#faf9f9 !important;
    --yt-spec-general-background-b:#faf9f9 !important;
    --yt-spec-general-background-c:#faf9f9 !important;
    --yt-spec-error-background:#1F1F1F !important;
    --yt-spec-text-primary:#666 !important;
    --yt-spec-text-primary-inverse:#666 !important;
    --yt-spec-text-secondary:#666 !important;
    --yt-spec-text-disabled:#666 !important;
    --yt-spec-call-to-action:#065FD4 !important;
    --yt-spec-icon-active-other:#666 !important;
    --yt-spec-icon-inactive:#666 !important;
    --yt-spec-icon-disabled:#666 !important;
    --yt-spec-badge-chip-background:rgba(0, 0, 0, 0.05) !important;
    --yt-spec-verified-badge-background:rgba(0, 0, 0, 0.15) !important;
    --yt-spec-suggested-action:#F2F8FF !important;
    --yt-spec-button-chip-background-hover:rgba(0, 0, 0, 0.10) !important;
    --yt-spec-touch-response:#faf9f9 !important;
    --yt-spec-filled-button-text:#666 !important;
    --yt-spec-call-to-action-inverse:#666 !important;
    --yt-spec-brand-icon-active:#666 !important;
    --yt-spec-brand-icon-inactive:#666 !important;
    --yt-spec-brand-button-background:rgba(136,136,136,1) !important;
    --yt-spec-brand-link-text:#666!important;
    --yt-spec-filled-button-focus-outline:rgba(0, 0, 0, 0.60) !important;
    --yt-spec-call-to-action-button-focus-outline:rgba(0,0,0, 0.30) !important;
    --yt-spec-brand-text-button-focus-outline:rgba(204, 0, 0, 0.30) !important;
    --yt-spec-inactive-text-button-focus-outline:#aaa !important;
    --yt-spec-brand-subscribe-button-background:#666 !important;
    --yt-spec-wordmark-text:#666 !important;
    --yt-spec-10-percent-layer:rgba(136,136,136,1) !important;
    --yt-spec-selected-nav-text:#666 !important;
    --yt-spec-themed-blue:#065FD4 !important;
    --yt-spec-themed-green:#107516 !important;
}
[it-desert-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light]) ytd-masthead
{
    background: #bee3db!important;

    --yt-swatch-primary: rgb(35, 35, 35)!important;
    --yt-swatch-primary-darker: rgb(32, 32, 32)!important;
    --yt-swatch-text: #666!important;
    --yt-swatch-important-text: #666!important;
    --yt-swatch-input-text: #666!important;
    --yt-swatch-textbox-bg: rgba(19, 19, 19, 1)!important;
    --yt-swatch-logo-override: #666!important;
    --yt-swatch-icon-color: rgba(136, 136, 136, 1)!important;
}
[it-desert-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light]):not([style-scope]):not(.style-scope) *:not([style-scope]):not(.style-scope)
{
    --yt-live-chat-action-panel-background-color: #faf9f9;
    --yt-live-chat-action-panel-background-color-transparent: rgba(40, 40, 40, .8);
    --yt-live-chat-primary-text-color: #666;
    --yt-live-chat-secondary-text-color: rgba(255, 255, 255, .7);
    --yt-live-chat-tertiary-text-color: rgba(255, 255, 255, .54);
    --yt-live-chat-disabled-icon-button-color: rgba(255, 255, 255, .3);
    --yt-live-chat-picker-button-color: var(--yt-live-chat-tertiary-text-color);
    --yt-formatted-string-emoji-size: 24px;
}
[it-desert-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light]):not([style-scope]):not(.style-scope),
html[it-desert-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light]):not(.style-scope)[dark],
[it-desert-theme=true]:not([it-schedule=system_peference_dark]):not([it-schedule=system_peference_light]) :not(.style-scope)[dark]
{
    --yt-spec-icon-inactive: #666;
    --yt-spec-text-primary: #666;
    --ytd-searchbox-border-color: #666;
    --ytd-searchbox-legacy-border-color: #666;
    --ytd-searchbox-legacy-border-shadow-color: #666;
    --ytd-searchbox-legacy-button-color: #666;
    --ytd-searchbox-legacy-button-border-color: #666;
    --ytd-searchbox-legacy-button-focus-color: #666;
    --ytd-searchbox-legacy-button-hover-color: #666;
    --ytd-searchbox-legacy-button-hover-border-color: #666;
    --ytd-searchbox-legacy-button-icon-color: #fff;
    --ytd-moderation-panel-background: #666;
    --ytd-moderation-panel-hover: #666;
    --ytd-moderation-panel-comment-text: #666;
    --ytd-moderation-panel-comment-metadata-text: #666;
    --ytd-moderation-icon-color: #666;
    --ytd-moderation-icon-hover-color: #666;
    --ytd-comment-text-color: #666;
    --ytd-comment-metadata-text-color: #666;
    --ytd-watch-card-secondary-text-color: #666;
    --ytd-watch-card-album-header-background: #666;
    --ytd-backstage-metadata-text-color: #666;
    --ytd-backstage-video-link-background-color: #666;
    --ytd-backstage-image-alert-color: #666;
    --ytd-backstage-cancel-background-color: #666;
    --ytd-backstage-cancel-color: #666;
    --ytd-backstage-creationbox-background-color: #666;
    --ytd-backstage-creationbox-background-color-focus: #666;
    --ytd-backstage-creationbox-inactive-color: #666;
    --ytd-backstage-creationbox-text-color: #666;
    --ytd-backstage-creationbox-input-text-color: #666;
    --ytd-backstage-creationbox-disabled-button-color: #666;
    --ytd-backstage-creationbox-disabled-button-text-color: #666;
    --ytd-backstage-attachment-icon-hover-color: #666;
    --ytd-sponsorships-background-color-focus: #666;
    --ytd-badge-background: #666;
    --ytd-badge-disabled-color: #666;
    --ytd-collection-badge-color: #666;
    --ytd-owner-badge-color: #666;
    --ytd-simple-badge-color: #666;
    --ytd-ad-badge-text-color: #666;
    --ytd-shopping-product-info: #666;
    --ytd-toggle-color: #666;
    --ytd-survey-button-color: var(--yt-primary-text-color);
    --ytd-transcript-cue-hover-background-color: #666;
    --ytd-transcript-toolbar-background-color: #666;
    --ytd-transcript-toolbar-text: #666;
    --ytd-video-publish-date-color: #666;
    --ytd-vat-notice-text: #666;
    --ytd-offer-background-color: #666;
    --ytd-video-game-watch-card-logo-color: #666;
    --ytd-watch-split-pane-sidebar-background-color: #666;
    --yt-std-body-100: #666;
    --yt-std-body-200: #666;
    --yt-std-body-300: #666;
    --yt-std-surface-200: #666;
    --yt-std-surface-300: #666;
    --yt-std-surface-400: #666;
    --yt-primary-color: #666;
    --yt-primary-text-color: #666;
    --yt-hovered-text-color: #666;
    --yt-secondary-text-color: #666;
    --yt-tertiary-text-color: #666;
    --yt-disabled-text-color: #666;
    --yt-placeholder-text-color: #666;
    --yt-border-color: #666;
    --yt-commentbox-border-inactive: #666;
    --yt-commentbox-border-active: #666;
    --yt-alert-background: #666;
    --yt-paper-button-ink-color: #666;
    --yt-icon-color: #666;
    --yt-icon-hover-color: #666;
    --yt-icon-active-color: #666;
    --yt-icon-disabled-color: #666;
    --yt-endpoint-color: #666;
    --yt-expand-color: #666;
    --yt-metadata-color: #666;
    --yt-channel-owner: #666;
    --yt-placeholder-text: #666;
    --yt-playlist-background-header: #faf9f9;
    --yt-playlist-background-item: #faf9f9;
    --yt-playlist-title-text: #666;
    --yt-playlist-message-text: #666;
    --yt-playlist-message-text-hover: #666;
    --yt-subscribe-button-text-color: #666;
    --yt-brand-color: #666;
    --yt-button-text-color: #666;
    --yt-button-payment-text-color: #666;
    --yt-copyright-text: #666;
    --yt-guide-entry-hover-background-color: #666;
    --yt-thumbnail-placeholder-color: #666;
    --yt-primary-disabled-button-text-color: #666;
    --yt-featured-channel-title-text-color: #666;
    --yt-formatted-string-deemphasize-color: #666;
    --paper-menu-background-color: #faf9f9;
    --paper-listbox-background-color: #faf9f9;
    --paper-menu-color: #666;
    --paper-listbox-color: #666;
    --paper-dialog-background-color: #faf9f9;
    --paper-toggle-button-unchecked-bar-color: #666;
    --yt-simple-menu-header-background: #faf9f9;
    --yt-item-section-header-color: #666;
    --yt-menu-hover-backgound-color: #faf9f9;
    --yt-menu-focus-background-color: #faf9f9;
    --yt-searchbox-text-color: var(--yt-primary-text-color);
    --yt-material-searchbox-inactive: #666;
    --yt-material-searchbox-active: #666;
    --yt-material-searchbox-inactive-shadow: #666;
    --yt-material-searchbox-active-shadow: #666;
    --yt-material-searchbox-inset: #666;
    --yt-material-searchbox-text-color: #666;
    --yt-app-background: #faf9f9;
    --yt-main-app-background: #faf9f9;
    --yt-main-app-background-tmp: #faf9f9;
    --yt-guide-background: #faf9f9;
    --yt-dialog-background: #bee3db;
    --yt-searchbox-background: #faf9f9;
    --yt-channel-header-background: #faf9f9;
    --yt-sidebar-background: #faf9f9;
    --yt-transcript-background: #faf9f9;
    --yt-chat-bubble-other-border-color: #666;
    --yt-chat-bubble-other-background-color: #faf9f9;
    --yt-chat-bubble-self-border-color: #666;
    --yt-chat-bubble-self-background-color: #faf9f9;
    --yt-blue-suggestive: transparent;
}





@media (prefers-color-scheme: dark) {
    [it-desert-theme=true][it-schedule=system_peference_dark]
    {
        --yt-swatch-primary: #faf9f9!important;
        --yt-swatch-primary-darker: #faf9f9!important;
        --yt-swatch-text: #666!important;
        --yt-swatch-important-text: #666!important;
        --yt-swatch-input-text: #666!important;
        --yt-swatch-textbox-bg: rgba(19,19,19,1)!important;
        --yt-swatch-logo-override: #666!important;
        --yt-swatch-icon-color: rgba(136,136,136,1)!important;
        --yt-swatch-header-primary: #bee3db;

        --yt-spec-brand-background-solid:#faf9f9 !important;
        --yt-spec-brand-background-primary:rgba(0,0,0, 0.98) !important;
        --yt-spec-brand-background-secondary:rgba(0,0,0, 0.95) !important;
        --yt-spec-general-background-a:#faf9f9 !important;
        --yt-spec-general-background-b:#faf9f9 !important;
        --yt-spec-general-background-c:#faf9f9 !important;
        --yt-spec-error-background:#1F1F1F !important;
        --yt-spec-text-primary:#666 !important;
        --yt-spec-text-primary-inverse:#666 !important;
        --yt-spec-text-secondary:#666 !important;
        --yt-spec-text-disabled:#666 !important;
        --yt-spec-call-to-action:#065FD4 !important;
        --yt-spec-icon-active-other:#666 !important;
        --yt-spec-icon-inactive:#666 !important;
        --yt-spec-icon-disabled:#666 !important;
        --yt-spec-badge-chip-background:rgba(0, 0, 0, 0.05) !important;
        --yt-spec-verified-badge-background:rgba(0, 0, 0, 0.15) !important;
        --yt-spec-suggested-action:#F2F8FF !important;
        --yt-spec-button-chip-background-hover:rgba(0, 0, 0, 0.10) !important;
        --yt-spec-touch-response:#faf9f9 !important;
        --yt-spec-filled-button-text:#666 !important;
        --yt-spec-call-to-action-inverse:#666 !important;
        --yt-spec-brand-icon-active:#666 !important;
        --yt-spec-brand-icon-inactive:#666 !important;
        --yt-spec-brand-button-background:rgba(136,136,136,1) !important;
        --yt-spec-brand-link-text:#666!important;
        --yt-spec-filled-button-focus-outline:rgba(0, 0, 0, 0.60) !important;
        --yt-spec-call-to-action-button-focus-outline:rgba(0,0,0, 0.30) !important;
        --yt-spec-brand-text-button-focus-outline:rgba(204, 0, 0, 0.30) !important;
        --yt-spec-inactive-text-button-focus-outline:#aaa !important;
        --yt-spec-brand-subscribe-button-background:#666 !important;
        --yt-spec-wordmark-text:#666 !important;
        --yt-spec-10-percent-layer:rgba(136,136,136,1) !important;
        --yt-spec-selected-nav-text:#666 !important;
        --yt-spec-themed-blue:#065FD4 !important;
        --yt-spec-themed-green:#107516 !important;
    }
    [it-desert-theme=true][it-schedule=system_peference_dark] ytd-masthead
    {
        background: #bee3db!important;

        --yt-swatch-primary: rgb(35, 35, 35)!important;
        --yt-swatch-primary-darker: rgb(32, 32, 32)!important;
        --yt-swatch-text: #666!important;
        --yt-swatch-important-text: #666!important;
        --yt-swatch-input-text: #666!important;
        --yt-swatch-textbox-bg: rgba(19, 19, 19, 1)!important;
        --yt-swatch-logo-override: #666!important;
        --yt-swatch-icon-color: rgba(136, 136, 136, 1)!important;
    }
    [it-desert-theme=true][it-schedule=system_peference_dark]:not([style-scope]):not(.style-scope) *:not([style-scope]):not(.style-scope)
    {
        --yt-live-chat-action-panel-background-color: #faf9f9;
        --yt-live-chat-action-panel-background-color-transparent: rgba(40, 40, 40, .8);
        --yt-live-chat-primary-text-color: #666;
        --yt-live-chat-secondary-text-color: rgba(255, 255, 255, .7);
        --yt-live-chat-tertiary-text-color: rgba(255, 255, 255, .54);
        --yt-live-chat-disabled-icon-button-color: rgba(255, 255, 255, .3);
        --yt-live-chat-picker-button-color: var(--yt-live-chat-tertiary-text-color);
        --yt-formatted-string-emoji-size: 24px;
    }
    [it-desert-theme=true][it-schedule=system_peference_dark]:not([style-scope]):not(.style-scope),
    html[it-desert-theme=true][it-schedule=system_peference_dark]:not(.style-scope)[dark],
    [it-desert-theme=true][it-schedule=system_peference_dark] :not(.style-scope)[dark]
    {
        --yt-spec-icon-inactive: #666;
        --yt-spec-text-primary: #666;
        --ytd-searchbox-border-color: #666;
        --ytd-searchbox-legacy-border-color: #666;
        --ytd-searchbox-legacy-border-shadow-color: #666;
        --ytd-searchbox-legacy-button-color: #666;
        --ytd-searchbox-legacy-button-border-color: #666;
        --ytd-searchbox-legacy-button-focus-color: #666;
        --ytd-searchbox-legacy-button-hover-color: #666;
        --ytd-searchbox-legacy-button-hover-border-color: #666;
        --ytd-searchbox-legacy-button-icon-color: #fff;
        --ytd-moderation-panel-background: #666;
        --ytd-moderation-panel-hover: #666;
        --ytd-moderation-panel-comment-text: #666;
        --ytd-moderation-panel-comment-metadata-text: #666;
        --ytd-moderation-icon-color: #666;
        --ytd-moderation-icon-hover-color: #666;
        --ytd-comment-text-color: #666;
        --ytd-comment-metadata-text-color: #666;
        --ytd-watch-card-secondary-text-color: #666;
        --ytd-watch-card-album-header-background: #666;
        --ytd-backstage-metadata-text-color: #666;
        --ytd-backstage-video-link-background-color: #666;
        --ytd-backstage-image-alert-color: #666;
        --ytd-backstage-cancel-background-color: #666;
        --ytd-backstage-cancel-color: #666;
        --ytd-backstage-creationbox-background-color: #666;
        --ytd-backstage-creationbox-background-color-focus: #666;
        --ytd-backstage-creationbox-inactive-color: #666;
        --ytd-backstage-creationbox-text-color: #666;
        --ytd-backstage-creationbox-input-text-color: #666;
        --ytd-backstage-creationbox-disabled-button-color: #666;
        --ytd-backstage-creationbox-disabled-button-text-color: #666;
        --ytd-backstage-attachment-icon-hover-color: #666;
        --ytd-sponsorships-background-color-focus: #666;
        --ytd-badge-background: #666;
        --ytd-badge-disabled-color: #666;
        --ytd-collection-badge-color: #666;
        --ytd-owner-badge-color: #666;
        --ytd-simple-badge-color: #666;
        --ytd-ad-badge-text-color: #666;
        --ytd-shopping-product-info: #666;
        --ytd-toggle-color: #666;
        --ytd-survey-button-color: var(--yt-primary-text-color);
        --ytd-transcript-cue-hover-background-color: #666;
        --ytd-transcript-toolbar-background-color: #666;
        --ytd-transcript-toolbar-text: #666;
        --ytd-video-publish-date-color: #666;
        --ytd-vat-notice-text: #666;
        --ytd-offer-background-color: #666;
        --ytd-video-game-watch-card-logo-color: #666;
        --ytd-watch-split-pane-sidebar-background-color: #666;
        --yt-std-body-100: #666;
        --yt-std-body-200: #666;
        --yt-std-body-300: #666;
        --yt-std-surface-200: #666;
        --yt-std-surface-300: #666;
        --yt-std-surface-400: #666;
        --yt-primary-color: #666;
        --yt-primary-text-color: #666;
        --yt-hovered-text-color: #666;
        --yt-secondary-text-color: #666;
        --yt-tertiary-text-color: #666;
        --yt-disabled-text-color: #666;
        --yt-placeholder-text-color: #666;
        --yt-border-color: #666;
        --yt-commentbox-border-inactive: #666;
        --yt-commentbox-border-active: #666;
        --yt-alert-background: #666;
        --yt-paper-button-ink-color: #666;
        --yt-icon-color: #666;
        --yt-icon-hover-color: #666;
        --yt-icon-active-color: #666;
        --yt-icon-disabled-color: #666;
        --yt-endpoint-color: #666;
        --yt-expand-color: #666;
        --yt-metadata-color: #666;
        --yt-channel-owner: #666;
        --yt-placeholder-text: #666;
        --yt-playlist-background-header: #faf9f9;
        --yt-playlist-background-item: #faf9f9;
        --yt-playlist-title-text: #666;
        --yt-playlist-message-text: #666;
        --yt-playlist-message-text-hover: #666;
        --yt-subscribe-button-text-color: #666;
        --yt-brand-color: #666;
        --yt-button-text-color: #666;
        --yt-button-payment-text-color: #666;
        --yt-copyright-text: #666;
        --yt-guide-entry-hover-background-color: #666;
        --yt-thumbnail-placeholder-color: #666;
        --yt-primary-disabled-button-text-color: #666;
        --yt-featured-channel-title-text-color: #666;
        --yt-formatted-string-deemphasize-color: #666;
        --paper-menu-background-color: #faf9f9;
        --paper-listbox-background-color: #faf9f9;
        --paper-menu-color: #666;
        --paper-listbox-color: #666;
        --paper-dialog-background-color: #faf9f9;
        --paper-toggle-button-unchecked-bar-color: #666;
        --yt-simple-menu-header-background: #faf9f9;
        --yt-item-section-header-color: #666;
        --yt-menu-hover-backgound-color: #faf9f9;
        --yt-menu-focus-background-color: #faf9f9;
        --yt-searchbox-text-color: var(--yt-primary-text-color);
        --yt-material-searchbox-inactive: #666;
        --yt-material-searchbox-active: #666;
        --yt-material-searchbox-inactive-shadow: #666;
        --yt-material-searchbox-active-shadow: #666;
        --yt-material-searchbox-inset: #666;
        --yt-material-searchbox-text-color: #666;
        --yt-app-background: #faf9f9;
        --yt-main-app-background: #faf9f9;
        --yt-main-app-background-tmp: #faf9f9;
        --yt-guide-background: #faf9f9;
        --yt-dialog-background: #bee3db;
        --yt-searchbox-background: #faf9f9;
        --yt-channel-header-background: #faf9f9;
        --yt-sidebar-background: #faf9f9;
        --yt-transcript-background: #faf9f9;
        --yt-chat-bubble-other-border-color: #666;
        --yt-chat-bubble-other-background-color: #faf9f9;
        --yt-chat-bubble-self-border-color: #666;
        --yt-chat-bubble-self-background-color: #faf9f9;
        --yt-blue-suggestive: transparent;
    }
}





@media (prefers-color-scheme: light) {
    [it-desert-theme=true][it-schedule=system_peference_light]
    {
        --yt-swatch-primary: #faf9f9!important;
        --yt-swatch-primary-darker: #faf9f9!important;
        --yt-swatch-text: #666!important;
        --yt-swatch-important-text: #666!important;
        --yt-swatch-input-text: #666!important;
        --yt-swatch-textbox-bg: rgba(19,19,19,1)!important;
        --yt-swatch-logo-override: #666!important;
        --yt-swatch-icon-color: rgba(136,136,136,1)!important;
        --yt-swatch-header-primary: #bee3db;

        --yt-spec-brand-background-solid:#faf9f9 !important;
        --yt-spec-brand-background-primary:rgba(0,0,0, 0.98) !important;
        --yt-spec-brand-background-secondary:rgba(0,0,0, 0.95) !important;
        --yt-spec-general-background-a:#faf9f9 !important;
        --yt-spec-general-background-b:#faf9f9 !important;
        --yt-spec-general-background-c:#faf9f9 !important;
        --yt-spec-error-background:#1F1F1F !important;
        --yt-spec-text-primary:#666 !important;
        --yt-spec-text-primary-inverse:#666 !important;
        --yt-spec-text-secondary:#666 !important;
        --yt-spec-text-disabled:#666 !important;
        --yt-spec-call-to-action:#065FD4 !important;
        --yt-spec-icon-active-other:#666 !important;
        --yt-spec-icon-inactive:#666 !important;
        --yt-spec-icon-disabled:#666 !important;
        --yt-spec-badge-chip-background:rgba(0, 0, 0, 0.05) !important;
        --yt-spec-verified-badge-background:rgba(0, 0, 0, 0.15) !important;
        --yt-spec-suggested-action:#F2F8FF !important;
        --yt-spec-button-chip-background-hover:rgba(0, 0, 0, 0.10) !important;
        --yt-spec-touch-response:#faf9f9 !important;
        --yt-spec-filled-button-text:#666 !important;
        --yt-spec-call-to-action-inverse:#666 !important;
        --yt-spec-brand-icon-active:#666 !important;
        --yt-spec-brand-icon-inactive:#666 !important;
        --yt-spec-brand-button-background:rgba(136,136,136,1) !important;
        --yt-spec-brand-link-text:#666!important;
        --yt-spec-filled-button-focus-outline:rgba(0, 0, 0, 0.60) !important;
        --yt-spec-call-to-action-button-focus-outline:rgba(0,0,0, 0.30) !important;
        --yt-spec-brand-text-button-focus-outline:rgba(204, 0, 0, 0.30) !important;
        --yt-spec-inactive-text-button-focus-outline:#aaa !important;
        --yt-spec-brand-subscribe-button-background:#666 !important;
        --yt-spec-wordmark-text:#666 !important;
        --yt-spec-10-percent-layer:rgba(136,136,136,1) !important;
        --yt-spec-selected-nav-text:#666 !important;
        --yt-spec-themed-blue:#065FD4 !important;
        --yt-spec-themed-green:#107516 !important;
    }
    [it-desert-theme=true][it-schedule=system_peference_light] ytd-masthead
    {
        background: #bee3db!important;

        --yt-swatch-primary: rgb(35, 35, 35)!important;
        --yt-swatch-primary-darker: rgb(32, 32, 32)!important;
        --yt-swatch-text: #666!important;
        --yt-swatch-important-text: #666!important;
        --yt-swatch-input-text: #666!important;
        --yt-swatch-textbox-bg: rgba(19, 19, 19, 1)!important;
        --yt-swatch-logo-override: #666!important;
        --yt-swatch-icon-color: rgba(136, 136, 136, 1)!important;
    }
    [it-desert-theme=true][it-schedule=system_peference_light]:not([style-scope]):not(.style-scope) *:not([style-scope]):not(.style-scope)
    {
        --yt-live-chat-action-panel-background-color: #faf9f9;
        --yt-live-chat-action-panel-background-color-transparent: rgba(40, 40, 40, .8);
        --yt-live-chat-primary-text-color: #666;
        --yt-live-chat-secondary-text-color: rgba(255, 255, 255, .7);
        --yt-live-chat-tertiary-text-color: rgba(255, 255, 255, .54);
        --yt-live-chat-disabled-icon-button-color: rgba(255, 255, 255, .3);
        --yt-live-chat-picker-button-color: var(--yt-live-chat-tertiary-text-color);
        --yt-formatted-string-emoji-size: 24px;
    }
    [it-desert-theme=true][it-schedule=system_peference_light]:not([style-scope]):not(.style-scope),
    html[it-desert-theme=true][it-schedule=system_peference_light]:not(.style-scope)[dark],
    [it-desert-theme=true][it-schedule=system_peference_light] :not(.style-scope)[dark]
    {
        --yt-spec-icon-inactive: #666;
        --yt-spec-text-primary: #666;
        --ytd-searchbox-border-color: #666;
        --ytd-searchbox-legacy-border-color: #666;
        --ytd-searchbox-legacy-border-shadow-color: #666;
        --ytd-searchbox-legacy-button-color: #666;
        --ytd-searchbox-legacy-button-border-color: #666;
        --ytd-searchbox-legacy-button-focus-color: #666;
        --ytd-searchbox-legacy-button-hover-color: #666;
        --ytd-searchbox-legacy-button-hover-border-color: #666;
        --ytd-searchbox-legacy-button-icon-color: #fff;
        --ytd-moderation-panel-background: #666;
        --ytd-moderation-panel-hover: #666;
        --ytd-moderation-panel-comment-text: #666;
        --ytd-moderation-panel-comment-metadata-text: #666;
        --ytd-moderation-icon-color: #666;
        --ytd-moderation-icon-hover-color: #666;
        --ytd-comment-text-color: #666;
        --ytd-comment-metadata-text-color: #666;
        --ytd-watch-card-secondary-text-color: #666;
        --ytd-watch-card-album-header-background: #666;
        --ytd-backstage-metadata-text-color: #666;
        --ytd-backstage-video-link-background-color: #666;
        --ytd-backstage-image-alert-color: #666;
        --ytd-backstage-cancel-background-color: #666;
        --ytd-backstage-cancel-color: #666;
        --ytd-backstage-creationbox-background-color: #666;
        --ytd-backstage-creationbox-background-color-focus: #666;
        --ytd-backstage-creationbox-inactive-color: #666;
        --ytd-backstage-creationbox-text-color: #666;
        --ytd-backstage-creationbox-input-text-color: #666;
        --ytd-backstage-creationbox-disabled-button-color: #666;
        --ytd-backstage-creationbox-disabled-button-text-color: #666;
        --ytd-backstage-attachment-icon-hover-color: #666;
        --ytd-sponsorships-background-color-focus: #666;
        --ytd-badge-background: #666;
        --ytd-badge-disabled-color: #666;
        --ytd-collection-badge-color: #666;
        --ytd-owner-badge-color: #666;
        --ytd-simple-badge-color: #666;
        --ytd-ad-badge-text-color: #666;
        --ytd-shopping-product-info: #666;
        --ytd-toggle-color: #666;
        --ytd-survey-button-color: var(--yt-primary-text-color);
        --ytd-transcript-cue-hover-background-color: #666;
        --ytd-transcript-toolbar-background-color: #666;
        --ytd-transcript-toolbar-text: #666;
        --ytd-video-publish-date-color: #666;
        --ytd-vat-notice-text: #666;
        --ytd-offer-background-color: #666;
        --ytd-video-game-watch-card-logo-color: #666;
        --ytd-watch-split-pane-sidebar-background-color: #666;
        --yt-std-body-100: #666;
        --yt-std-body-200: #666;
        --yt-std-body-300: #666;
        --yt-std-surface-200: #666;
        --yt-std-surface-300: #666;
        --yt-std-surface-400: #666;
        --yt-primary-color: #666;
        --yt-primary-text-color: #666;
        --yt-hovered-text-color: #666;
        --yt-secondary-text-color: #666;
        --yt-tertiary-text-color: #666;
        --yt-disabled-text-color: #666;
        --yt-placeholder-text-color: #666;
        --yt-border-color: #666;
        --yt-commentbox-border-inactive: #666;
        --yt-commentbox-border-active: #666;
        --yt-alert-background: #666;
        --yt-paper-button-ink-color: #666;
        --yt-icon-color: #666;
        --yt-icon-hover-color: #666;
        --yt-icon-active-color: #666;
        --yt-icon-disabled-color: #666;
        --yt-endpoint-color: #666;
        --yt-expand-color: #666;
        --yt-metadata-color: #666;
        --yt-channel-owner: #666;
        --yt-placeholder-text: #666;
        --yt-playlist-background-header: #faf9f9;
        --yt-playlist-background-item: #faf9f9;
        --yt-playlist-title-text: #666;
        --yt-playlist-message-text: #666;
        --yt-playlist-message-text-hover: #666;
        --yt-subscribe-button-text-color: #666;
        --yt-brand-color: #666;
        --yt-button-text-color: #666;
        --yt-button-payment-text-color: #666;
        --yt-copyright-text: #666;
        --yt-guide-entry-hover-background-color: #666;
        --yt-thumbnail-placeholder-color: #666;
        --yt-primary-disabled-button-text-color: #666;
        --yt-featured-channel-title-text-color: #666;
        --yt-formatted-string-deemphasize-color: #666;
        --paper-menu-background-color: #faf9f9;
        --paper-listbox-background-color: #faf9f9;
        --paper-menu-color: #666;
        --paper-listbox-color: #666;
        --paper-dialog-background-color: #faf9f9;
        --paper-toggle-button-unchecked-bar-color: #666;
        --yt-simple-menu-header-background: #faf9f9;
        --yt-item-section-header-color: #666;
        --yt-menu-hover-backgound-color: #faf9f9;
        --yt-menu-focus-background-color: #faf9f9;
        --yt-searchbox-text-color: var(--yt-primary-text-color);
        --yt-material-searchbox-inactive: #666;
        --yt-material-searchbox-active: #666;
        --yt-material-searchbox-inactive-shadow: #666;
        --yt-material-searchbox-active-shadow: #666;
        --yt-material-searchbox-inset: #666;
        --yt-material-searchbox-text-color: #666;
        --yt-app-background: #faf9f9;
        --yt-main-app-background: #faf9f9;
        --yt-main-app-background-tmp: #faf9f9;
        --yt-guide-background: #faf9f9;
        --yt-dialog-background: #bee3db;
        --yt-searchbox-background: #faf9f9;
        --yt-channel-header-background: #faf9f9;
        --yt-sidebar-background: #faf9f9;
        --yt-transcript-background: #faf9f9;
        --yt-chat-bubble-other-border-color: #666;
        --yt-chat-bubble-other-background-color: #faf9f9;
        --yt-chat-bubble-self-border-color: #666;
        --yt-chat-bubble-self-background-color: #faf9f9;
        --yt-blue-suggestive: transparent;
    }
}