.satus-table
{
    display: flex;
    overflow: hidden;
    flex-direction: column;

    height: 100%;
}

.satus-table__head
{
    font-weight: 700;

    z-index: 1;

    display: flex;

    box-sizing: border-box;
    height: 48px;

    background: var(--background-2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);

    align-items: center;
}

.satus-table__body
{
    overflow-y: scroll;

    background: var(--background-2);

    flex: 1;
}

.satus-table__body > div
{
    display: flex;

    align-items: center;
}
