/*--------------------------------------------------------------
>>> DETAILS
----------------------------------------------------------------*/
/* General */
#info #info-text {
    max-height: 6rem;
    display: block;
}

/* YouTube's Detail Buttons */
:root {
    --button-opacity: 0.5;
    --button-bg-color: rgba(0, 0, 0, 0.2);
    --button-text-color: #111;
    --dislike-button-color: #f02200;
    --subscribe-button-bg: #DDD;
}

/* Transparent Background Buttons */
html[it-youtubeDetailButtons='transparent_background'] #subscribe-button button,
html[it-youtubeDetailButtons='transparent_background'] #menu button {
    background-color: var(--button-bg-color) !important;
}

html[it-youtubeDetailButtons='transparent_background'] #subscribe-button button {
    color: var(--button-text-color) !important;
}

/* Red Dislike Button */
html[it-red-dislike-button='true'] #top-level-buttons-computed #segmented-dislike-button ytd-toggle-button-renderer *[aria-pressed='true'] yt-icon {
    color: var(--dislike-button-color) !important;
}

/* Subscribe Button Styles */
html[it-subscribe='grey'] #subscribe-button button {
    background-color: var(--subscribe-button-bg) !important;
    color: var(--button-text-color) !important;
}

/* Hide Elements */
:isolate {
    display: none !important;
}

/* Hiding Details */
html[it-hide-details='true'] ytd-video-primary-info-renderer,
html[it-hide-details='true'] ytd-video-secondary-info-renderer,
html[it-hide-details='true'] ytd-watch-metadata {
    display: none !important;
}

/* Hiding Views Count */
html[it-hide-views-count='true'] #info #count,
html[it-hide-views-count='true'] #info #count + #info-strings>#dot,
html[it-hide-views-count='true'] ytd-watch-metadata #info>span:first-child {
    display: none !important;
}

/* Hiding Comments Count */
html[it-hide-comments-count='true'] #comments #count {
    display: none !important;
}

/* Hiding Date */
html[it-hide-date='true'] #info span:nth-child(3),
html[it-hide-date='true'] #info #count + #info-strings>yt-formatted-string,
html[it-hide-date='true'] #info #count + #info-strings>#dot,
html[it-hide-date='true'] ytd-watch-metadata #info>span:last-child {
    display: none !important;
}

/* How Long Ago the Video Was Uploaded */
.it-how-long-ago-the-video-was-uploaded {
    float: right !important;
    margin-left: 4px !important;
    color: var(--yt-spec-text-secondary) !important;
}

/* Show Channel Videos Count */
.it-channel-videos-count {
    display: inline-block !important;
    margin-left: 4px !important;
    color: var(--yt-spec-text-secondary) !important;
}
