/*-----------------------------------------------------------------------------
>>> «SWITCH» COMPONENT
-----------------------------------------------------------------------------*/

.satus-switch
{
    position: relative;

    display: flex;

    box-sizing: border-box;
    width: 100%;
    height: 48px;
    min-height: 48px;
    padding: 0 16px;

    cursor: pointer;
    transition: background-color 15ms linear;

    outline: none;
    background-color: transparent;

    align-items: center;
    justify-content: space-between;
}

.satus-switch:hover
{
    background-color: var(--hover-0);
}

.satus-switch .label
{
    padding: 0 16px 0 0;
}

.satus-switch .track
{
    position: relative;

    width: 32px;
    height: 18px;

    border-radius: 18px;
    background: #bdbdbd;
}

.satus-switch .thumb
{
    position: relative;

    width: 14px;
    height: 14px;

    transition: transform .1s cubic-bezier(.4, 0, .2, 1);
    transform: translate(2px, 2px);

    will-change: transform;
}

.satus-switch .thumb::before
{
    position: absolute;
    top: -50%;
    left: -50%;

    width: 200%;
    height: 200%;

    content: '';
    transition: transform 75ms linear, opacity 45ms linear;
    transform: scale(.75);
    pointer-events: none;

    opacity: 0;
    border-radius: 50%;
    background: var(--text-1);
}

.satus-switch:focus .thumb::before
{
    transform: scale(1);

    opacity: 1;
}

.satus-switch .thumb::after
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    border-radius: 50%;
    background: #fff;
}

.satus-switch[data-value=true] .track
{
    background: var(--primary);
}

.satus-switch[data-value=true] .thumb
{
    transform: translate(16px, 2px);
}

.satus-switch > .container
{
    display: flex;

    align-items: center;
}


.satus-switch svg
{
    width: 20px;
    height: 20px;

    transition: opacity .1s cubic-bezier(.4, 0, .2, 1);

    fill: var(--text-1);
    will-change: opacity;
}

.satus-switch svg:first-child
{
    margin: 0 4px 0 0;

    opacity: 1;
}


.satus-switch svg:last-child
{
    margin: 0 0 0 4px;

    opacity: .4;
}

.satus-switch[data-value=true] svg:first-child
{
    opacity: .4;
}

.satus-switch[data-value=true] svg:last-child
{
    opacity: 1;
}
