html[theme=plain]
{
    --it-primary-color: #f96754;

    --it-header-background: #d6d1b1;
    --it-header-title-color: #666;
    --it-header-button-color: rgba(0, 0, 0, .059);
    --it-header-icon-color: #666;

    --it-body-section-label-color: #666;
    --it-body-section-background: #d6d1b1;
    --it-body-background-color: #c7efcf;
    --it-item-hover-color: rgba(0, 0, 0, .04);
    --it-item-text-color: rgba(0, 0, 0, .87);
    --it-item-label-color: #666;
    --it-item-radio-color: rgba(0,0,0,.54);

    --it-body-appearance-shadow: #b7b295;
}

.list__item_plain-theme > ul
{
    position: relative;

    overflow: hidden;

    background-image: radial-gradient(#dea975 50%, transparent 50%),
    radial-gradient(#e8b887 50%, transparent 50%),
    radial-gradient(#f1cc9f 50%, transparent 50%),
    radial-gradient(#f3ddb8 50%, transparent 50%),
    linear-gradient(#abceb8, #e7ede1);
    background-repeat: no-repeat;
    background-position: -50px 50px, -370px 40px, 0 36px, -360px 26px, 0;
    background-size: 240%, 240%, 240%, 240%, 100%;
}

@keyframes plain-sun
{
    0%
    {
        background: radial-gradient(#fff 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }

    50%
    {
        background: radial-gradient(#fff 20%,
        rgba(255, 255, 231, .30) 20%,
        rgba(255, 255, 231, .30) 35%,
        rgba(255, 255, 231, .2) 35%,
        rgba(255, 255, 231, .2) 55%,
        rgba(255, 255, 231, .1) 55%,
        rgba(255, 255, 231, .1) 75%, transparent 75%);
    }

    100%
    {
        background: radial-gradient(#fff 20%,
        rgba(255, 255, 231, .25) 20%,
        rgba(255, 255, 231, .25) 35%,
        rgba(255, 255, 231, .15) 35%,
        rgba(255, 255, 231, .15) 55%,
        rgba(255, 255, 231, .05) 55%,
        rgba(255, 255, 231, .05) 75%, transparent 75%);
    }
}

.list__item_plain-theme > ul::before
{
    position: absolute;
    top: -70%;
    left: 10%;

    width: 7rem;
    height: 7rem;

    content: '';
    animation-name: plain-sun;
    animation-duration: .75s;
    animation-delay: .2s;
    animation-iteration-count: infinite;
    pointer-events: none;

    border-radius: 50%;
    background: radial-gradient(#fff 20%, rgba(255, 255, 231, .25) 20%, rgba(255, 255, 231, .25) 35%, rgba(255, 255, 231, .15) 35%, rgba(255, 255, 231, .15) 55%, rgba(255, 255, 231, .05) 55%, rgba(255, 255, 231, .05) 75%, transparent 75%);
}

.list__item_plain-theme .list__item_toggle .list__item__label
{
    color: #fafafa;
}

.list__item_plain-theme .list__item_toggle .list__item_toggle__status
{
    border-color: #fafafa;
}
