/*-----------------------------------------------------------------------------
>>> «MAIN» COMPONENT
-------------------------------------------------------------------------------
1.0 General
2.0 Animations
    2.1 Opening
    2.2 Closing
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.0 General
-----------------------------------------------------------------------------*/

.satus-main
{
    font-size: 14px;

    position: relative;
    z-index: 0;

    overflow: hidden;

    width: 100%;
    height: calc(100vh - 58px);

    color: var(--text-1);
    background: var(--background-1);

    fill: var(--text-1);
}

.satus-main__container
{
    position: absolute;
    top: 0;
    left: 0;

    overflow: auto;

    width: 100%;
    height: 100%;

    transition: 250ms;

    background: var(--background-1, #fefefe);

    will-change: transform;
}


/*-----------------------------------------------------------------------------
2.0 Animations
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
2.1 Opening
-----------------------------------------------------------------------------*/

.satus-main__container.satus-main__container--pre-opening:last-child
{
    transform: translateX(100%);
}

.satus-main__container.satus-main__container--pre-opening:first-child::after
{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    transition: 250ms;

    opacity: 0;
    background: #000;
}

.satus-main__container.satus-main__container--opening:first-child::after
{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    transition: 250ms;

    opacity: .2;
    background: #000;
}

.satus-main__container.satus-main__container--opening:first-child
{
    transform: translateX(-10%);
}

.satus-main__container.satus-main__container--opening:last-child
{
    transform: translateX(0%);

    box-shadow: -8px 0 8px rgba(0,0,0,.2);
}


/*-----------------------------------------------------------------------------
2.2 Closing
-----------------------------------------------------------------------------*/

.satus-main__container.satus-main__container--pre-closing:first-child
{
    z-index: 9;
}

.satus-main__container.satus-main__container--pre-closing:last-child
{
    transform: translateX(-10%);
}

.satus-main__container.satus-main__container--pre-closing:last-child::after
{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    transition: 250ms;

    opacity: .2;
    background: #000;
}

.satus-main__container.satus-main__container--closing:last-child::after
{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    transition: 250ms;

    opacity: 0;
    background: #000;
}

.satus-main__container.satus-main__container--closing:first-child
{
    z-index: 9;

    transform: translateX(100%);

    box-shadow: -8px 0 8px rgba(0,0,0,.2);
}

.satus-main__container.satus-main__container--closing:last-child
{
    transform: translateX(0%);
}






.satus-main__container > *
{
    min-height: 48px;
    padding: 0 16px;
}


.satus-main__container > *
{
    min-height: 48px;
    padding: 0 16px;
}
