.satus-contextmenu
{
    position: absolute;
    z-index: 99999;

    overflow: hidden;

    min-width: 140px;

    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f0f0f0;
    box-shadow: 0 6px 16px rgba(0,0,0,.1);
}
