/*------------------------------------------------------------------------------
>>> "HEADER" COMPONENT:
------------------------------------------------------------------------------*/

.satus-header
{
    position: relative;
    z-index: 2;

    display: flex;

    box-sizing: border-box;
    width: 100%;
    min-height: 56px;
    padding: 0 8px;

    transition: background-color .15s linear;

    color: var(--color-1);
    background-color: var(--background-1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
