.satus-select
{
    position: relative;

    display: flex;

    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 16px;

    cursor: pointer;

    justify-content: space-between;
    align-items: center;
}

.satus-select svg
{
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;

    fill: #fff;
}

.satus-select > .label
{
    display: flex;

    margin: 0 0 4px 0;

    align-items: center;
}

.satus-select > .value
{
    font-size: 13px;

    text-align: right;

    opacity: .5;
}

.satus-select > .scrim
{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    cursor: default;
    pointer-events: none;

    opacity: 0;
    background: var(--hover-background);
}

.satus-select > .options
{
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 8px;

    visibility: hidden;
    overflow-y: auto;

    width: calc(100% - 16px);
    max-height: 300px;

    pointer-events: none;

    opacity: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: var(--background-1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.satus-select.show > .scrim,
.satus-select.show > .options
{
    visibility: visible;

    pointer-events: all;

    opacity: 1;
}

.satus-select > .options > div
{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    height: 48px;
    padding: 0 16px;

    cursor: pointer;

    justify-content: center;
}

.satus-select > .options > div:hover
{
    background: var(--hover-background);
}
