.satus-tabs
{
    position: relative;

    display: flex;
    flex-direction: column;

    flex: 1;
}

.satus-tabs__header
{
    position: relative;
    z-index: 1;

    height: 40px;

    background: var(--background-0);
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
}

.satus-tabs__tab,
.satus-tabs__new-tab
{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    box-sizing: border-box;
    width: 140px;
    height: 40px;
    padding: 0 8px;

    cursor: pointer;
    transition: left 140ms linear;

    opacity: .8;

    will-change: left;
    align-items: center;
    justify-content: center;
}

.satus-tabs__new-tab
{
    font-size: 24px;
    font-weight: 400;

    width: 36px;

    transition: left 140ms linear, opacity 50ms linear;
    transition-delay: opacity 200ms;

    opacity: 1;
}

.satus-tabs[dragging] .satus-tabs__new-tab
{
    transition-delay: 0ms;

    opacity: 0;
}

.satus-tabs__tab[dragging]
{
    z-index: 9999;

    transition: none;
}

.satus-tabs__tab[dragging],
.satus-tabs__tab[selected]
{
    opacity: 1;
}

.satus-tabs__tab[selected]
{
    font-weight: 500;
}

.satus-tabs__tab[dragging]::before,
.satus-tabs__tab:hover::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: var(--hover-background);
}

.satus-tabs__new-tab:hover::before
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 32px;
    height: 32px;

    content: '';
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background: var(--hover-background);
}

.satus-tabs__main
{
    display: flex;

    flex: 1;
}
