/*--------------------------------------------------------------
>>> NIGHT MODE:
----------------------------------------------------------------
1.0 Bluelight
2.0 Dim
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Bluelight
--------------------------------------------------------------*/

[bluelight-filter]
{
    filter: url(#improvedtube-bluelight-filter);
}

#improvedtube-bluelight
{
    position: fixed;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100vh;

    pointer-events: none;
}


/*--------------------------------------------------------------
2.0 Dim
--------------------------------------------------------------*/

#improvedtube-dim
{
    position: fixed;
    z-index: 9999999999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    pointer-events: none;

    background: #000;
}
