/*--------------------------------------------------------------
>>> PLAYER_SIZE:
----------------------------------------------------------------
1.0 Variables
  1.1 Both YouTube
  1.2 New YouTube
    1.8.3 Fit to window & Full window (normal header)
    1.2.2 Fit to window & Full window (hidden header)
    1.2.3 Fit to window & Full window (hover header)
  1.3 old YouTube
2.0 New YouTube
  2.1 Fit to window
3.0 Old YouTube
  3.1 Sidebar
  3.2 Fit to window
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Variables
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.1 Both YouTube
--------------------------------------------------------------*/

html[improvedtube-player-size='240p']
{
    --it-improvedtube-player-size: 240px;
}

html[improvedtube-player-size='360p']
{
    --it-improvedtube-player-size: 360px;
}

html[improvedtube-player-size='480p']
{
    --it-improvedtube-player-size: 480px;
}

html[improvedtube-player-size='576p']
{
    --it-improvedtube-player-size: 576px;
}

html[improvedtube-player-size='720p']
{
    --it-improvedtube-player-size: 720px;
}

html[improvedtube-player-size='1080p']
{
    --it-improvedtube-player-size: 1080px;
}

html[improvedtube-player-size='1440p']
{
    --it-improvedtube-player-size: 1440px;
}

html[improvedtube-player-size='2160p']
{
    --it-improvedtube-player-size: 2160px;
}

/*--------------------------------------------------------------
1.2 New YouTube
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.8.3 Fit to window & Full window (normal header)
--------------------------------------------------------------*/

html[youtube-version=new][improvedtube-player-size='fit_window'] ytd-watch-flexy:not([fullscreen]):not([theater]),
html[youtube-version=new][improvedtube-player-size='full_window'] ytd-watch-flexy:not([fullscreen]):not([theater])
{
    --it-improvedtube-player-size: calc(100vh - 104px);
}

html[youtube-version=new][improvedtube-player-size='fit_window'] ytd-watch-flexy:not([fullscreen])[theater],
html[youtube-version=new][improvedtube-player-size='full_window'] ytd-watch-flexy:not([fullscreen])[theater]
{
    --it-improvedtube-player-size: calc(100vh - 56px);
}


/*--------------------------------------------------------------
1.2.2 Fit to window & Full window (hidden header)
--------------------------------------------------------------*/

html[youtube-version=new][header=hidden][improvedtube-player-size='full_window'] ytd-watch-flexy:not([fullscreen]):not([theater]),
html[youtube-version=new][header=hidden_on_video_page][improvedtube-player-size='full_window'] ytd-watch-flexy:not([fullscreen]):not([theater]),
html[youtube-version=new][header=hidden][improvedtube-player-size='fit_window'] ytd-watch-flexy:not([fullscreen]):not([theater]),
html[youtube-version=new][header=hidden_on_video_page][improvedtube-player-size='fit_window'] ytd-watch-flexy:not([fullscreen]):not([theater])
{
    --it-improvedtube-player-size: calc(100vh - 48px);
}

html[youtube-version=new][header=hidden][improvedtube-player-size='full_window'] ytd-watch-flexy:not([fullscreen])[theater],
html[youtube-version=new][header=hidden_on_video_page][improvedtube-player-size='full_window'] ytd-watch-flexy:not([fullscreen])[theater],
html[youtube-version=new][header=hidden][improvedtube-player-size='fit_window'] ytd-watch-flexy:not([fullscreen])[theater],
html[youtube-version=new][header=hidden_on_video_page][improvedtube-player-size='fit_window'] ytd-watch-flexy:not([fullscreen])[theater]
{
    --it-improvedtube-player-size: 100vh;
}


/*--------------------------------------------------------------
1.2.3 Fit to window & Full window (hover header)
--------------------------------------------------------------*/

html[youtube-version=new][header=hover][improvedtube-player-size='full_window'] ytd-watch-flexy:not([fullscreen]):not([theater]),
html[youtube-version=new][header=hover_on_video_page][improvedtube-player-size='full_window'] ytd-watch-flexy:not([fullscreen]):not([theater]),
html[youtube-version=new][header=hover][improvedtube-player-size='fit_window'] ytd-watch-flexy:not([fullscreen]):not([theater]),
html[youtube-version=new][header=hover_on_video_page][improvedtube-player-size='fit_window'] ytd-watch-flexy:not([fullscreen]):not([theater])
{
    --it-improvedtube-player-size: calc(100vh - 58px);
}

html[youtube-version=new][header=hover][improvedtube-player-size='full_window'] ytd-watch-flexy:not([fullscreen])[theater],
html[youtube-version=new][header=hover_on_video_page][improvedtube-player-size='full_window'] ytd-watch-flexy:not([fullscreen])[theater],
html[youtube-version=new][header=hover][improvedtube-player-size='fit_window'] ytd-watch-flexy:not([fullscreen])[theater],
html[youtube-version=new][header=hover_on_video_page][improvedtube-player-size='fit_window'] ytd-watch-flexy:not([fullscreen])[theater]
{
    --it-improvedtube-player-size: calc(100vh - 10px);
}


/*--------------------------------------------------------------
1.3 Old YouTube
--------------------------------------------------------------*/

html[youtube-version=old][improvedtube-player-size='full_window']
{
    --it-improvedtube-player-size: calc(100vh - 50px);
}

html[youtube-version=old][improvedtube-player-size='fit_window']
{
    --it-improvedtube-player-size: calc(100vh - 50px);
}

html[youtube-version=old][improvedtube-player-size='full_window']:not([header=undefined]):not([header=normal]):not([header=top_of_page]),
html[youtube-version=old][improvedtube-player-size='fit_window']:not([header=undefined]):not([header=normal]):not([header=top_of_page]) #page.watch-wide
{
    --it-improvedtube-player-size: 100vh;
}


/*--------------------------------------------------------------
2.0 New YouTube
--------------------------------------------------------------*/

html[youtube-version=new][improvedtube-player-size='full_window'] ytd-watch-flexy:not([fullscreen]) .html5-video-player video
{
    width: 100%!important;
}

html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen]) #player-container-inner
{
    padding-top: var(--it-improvedtube-player-size) !important;
}

html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen])[theater] #player-theater-container,
html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen]) #player-container,
html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen]) .html5-video-player,
html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen]) .html5-video-player video
{
    height: var(--it-improvedtube-player-size) !important;
    max-height: var(--it-improvedtube-player-size) !important;
}

html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen])[theater] #player-theater-container
{
    min-height: auto!important;
}

html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen]) .html5-video-container
{
    display: flex!important;
    flex-direction: column!important;

    justify-content: center!important;
    align-items: center!important;
}

html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen]) .html5-video-player video
{
    position: static!important;
}

html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen]) .html5-video-player video
{
    top: 0!important;
    left: 0!important;
}


/*--------------------------------------------------------------
2.1 Fit to window
--------------------------------------------------------------*/

html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size='fit_window']:not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen]) #player-theater-container,
html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size='fit_window']:not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen]) .html5-video-player
{
    height: auto !important;
    max-height: none!important;
}

html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size='fit_window']:not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen]) #player-container-inner
{
    padding-top: 0!important;
}

html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size='fit_window']:not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen]) #player-container
{
    position: static!important;

    height: auto!important;
    padding-top: 0!important;
}

html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size='fit_window']:not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen]) .html5-video-player video
{
    position: static!important;
    top: 0!important;
    left: 0!important;

    width: 100%!important;
    height: auto!important;
}

html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size='fit_window']:not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen]) .html5-video-player video
{
    max-height: calc(100vh - 104px) !important;
}

html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size='fit_window']:not([embed]):not([mini-player]) ytd-watch-flexy:not([fullscreen])[theater] .html5-video-player video
{
    max-height: calc(100vh - 56px) !important;
}

html[youtube-version=new][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size='fit_window']:not([embed]):not([mini-player]):not([header=undefined]):not([header=normal]):not([header=top_of_page]) ytd-watch-flexy:not([fullscreen])[theater] .html5-video-player video
{
    max-height: 100vh !important;
}


/*--------------------------------------------------------------
3.0 Old YouTube
--------------------------------------------------------------*/

html[youtube-version=old][page=video][improvedtube-player-size=full_window]:not([embed]):not([mini-player]) #page:not(.watch-wide)
{
    --it-improvedtube-player-size: calc(100vh - 70px);
}

html[youtube-version=old][page=video][improvedtube-player-size=full_window][header=hidden]:not([embed]):not([mini-player]) #page:not(.watch-wide),
html[youtube-version=old][page=video][improvedtube-player-size=full_window][header=hidden_on_video_page]:not([embed]):not([mini-player]) #page:not(.watch-wide),
html[youtube-version=old][page=video][improvedtube-player-size=full_window][header=hover]:not([embed]):not([mini-player]) #page:not(.watch-wide),
html[youtube-version=old][page=video][improvedtube-player-size=full_window][header=hover_on_video_page]:not([embed]):not([mini-player]) #page:not(.watch-wide)
{
    --it-improvedtube-player-size: calc(100vh - 20px);
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([improvedtube-player-size=fit_window]):not([embed]):not([mini-player]) #theater-background,
html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([improvedtube-player-size=fit_window]):not([embed]):not([mini-player]) #player-api,
html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([improvedtube-player-size=fit_window]):not([embed]):not([mini-player]) .html5-video-player:not(.ytp-fullscreen) video,
html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([improvedtube-player-size=fit_window]):not([embed]):not([mini-player]) #placeholder-player .player-api
{
    height: var(--it-improvedtube-player-size) !important;
    max-height: var(--it-improvedtube-player-size) !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([improvedtube-player-size=fit_window]):not([embed]):not([mini-player]) .html5-video-player:not(.ytp-fullscreen) video
{
    position: static !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([embed]):not([mini-player]) #page.watch-wide #player-api
{
    left: 0!important;

    display: flex!important;

    width: 100% !important;
    margin: 0!important;

    justify-content: center!important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([embed]):not([mini-player]) #page.watch-wide .html5-video-player:not(.ytp-fullscreen)
{
    width: auto!important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([improvedtube-player-size=fit_window]):not([embed]):not([mini-player]) .html5-video-player:not(.ytp-fullscreen) video
{
    top: 0!important;
    left: 0!important;

    width: auto!important;
    max-width: 100vw!important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([improvedtube-player-size=fit_window]):not([embed]):not([mini-player]) #page:not(.watch-wide) .html5-video-player:not(.ytp-fullscreen) video
{
    max-width: 100%!important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([improvedtube-player-size=fit_window]):not([improvedtube-player-size=full_window]):not([embed]):not([mini-player]) #page:not(.watch-wide) .html5-video-player:not(.ytp-fullscreen) video
{
    width: 100%!important;
}


/*--------------------------------------------------------------
3.1 Sidebar
--------------------------------------------------------------*/

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([improvedtube-player-size=fit_window]):not([embed]):not([mini-player]) #watch7-sidebar
{
    top: 0 !important;

    margin-top: calc(((var(--it-improvedtube-player-size) - var(--it-improvedtube-player-size)) - var(--it-improvedtube-player-size)) - 10px) !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([improvedtube-player-size=fit_window]):not([embed]):not([mini-player]) #page.watch-wide #watch7-sidebar
{
    margin-top: 0 !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([improvedtube-player-size=fit_window]):not([embed]):not([mini-player]) #page:not(.watch-wide) #watch7-sidebar-contents
{
    margin-top: 20px !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal]):not([improvedtube-player-size=fit_window]):not([embed]):not([mini-player]) #page.watch-wide #watch-appbar-playlist
{
    top: calc(var(--it-improvedtube-player-size) + 10px);

    transform: none;
}


/*--------------------------------------------------------------
3.2 Fit to window
--------------------------------------------------------------*/

/*html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=full_window]:not([embed]):not([mini-player]) #page:not(.watch-wide) #theater-background,
html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=full_window]:not([embed]):not([mini-player]) #page:not(.watch-wide) #player-api,
html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=full_window]:not([embed]):not([mini-player]) #page:not(.watch-wide) .html5-video-player:not(.ytp-fullscreen) video,
html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=full_window]:not([embed]):not([mini-player]) #page:not(.watch-wide) #placeholder-player .player-api
{
    height: calc(var(--it-improvedtube-player-size) - 20px) !important;
    max-height: calc(var(--it-improvedtube-player-size) - 20px) !important;
}


html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page:not(.watch-wide) .html5-video-player:not(.ytp-fullscreen),
html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page:not(.watch-wide) .html5-video-player:not(.ytp-fullscreen) video
{
    height: auto !important;
    max-height: calc(var(--it-improvedtube-player-size) - 20px) !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide #player-api,
html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide .html5-video-player:not(.ytp-fullscreen),
html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide .html5-video-player:not(.ytp-fullscreen) video
{
    height: auto !important;
    max-height: var(--it-improvedtube-player-size) !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page .html5-video-player:not(.ytp-fullscreen) video
{
    position: relative!important;
}*/

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide #player
{
    position: static !important;

    width: auto !important;
    min-width: auto !important;
    max-width: none !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide #theater-background
{
    display: none !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide #player-mole-container
{
    display: flex !important;

    margin: 10px 0 0 !important;

    justify-content: center !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide #player-api
{
    position: static !important;

    width: auto !important;
    height: auto !important;
    margin: 0 !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide #movie_player:not(.ytp-fullscreen)
{
    width: auto !important;
    height: auto !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide #movie_player:not(.ytp-fullscreen) .html5-video-container
{
    position: static !important;

    width: auto !important;
    height: auto !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide #movie_player:not(.ytp-fullscreen) video
{
    position: static !important;

    width: 100vw !important;
    max-width: 100vw;
    height: 100vh !important;
    max-height: calc(100vh - 50px);
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide #placeholder-player
{
    display: none !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide #player-playlist
{
    position: absolute !important;
    z-index: 1 !important;
    left: 50% !important;

    width: 100% !important;

    transform: translateX(-50%) !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide #watch-appbar-playlist
{
    top: calc(100vh - 40px) !important;

    width: 400px !important;

    transform: none !important;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide .ytp-iv-video-content
{
    z-index: -1;
}

html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player])
{
    overflow-x: hidden!important;
}


html[youtube-version=old][page=video]:not([improvedtube-player-size=undefined]):not([improvedtube-player-size=normal])[improvedtube-player-size=fit_window]:not([embed]):not([mini-player]) #page.watch-wide #movie_player.ytp-fullscreen video
{
    max-width: none!important;
    max-height: none!important;
}


















html[page=video] ytd-watch-flexy[fullscreen] video,
html[page=video]:not([mini-player]) .html5-video-player.ytp-fullscreen video
{
    max-width: none!important;
    max-height: none!important;
}
