/*--------------------------------------------------------------
>>> PLAYER.CSS
----------------------------------------------------------------
1.0 Annotations
2.0 Cards
3.0 Background
4.0 End Screen
5.0 Custom Buttons
6.0 Volume status & Playback speed status
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 Annotations (hidden)
--------------------------------------------------------------*/

[player-annotations=false] .annotation,
[player-annotations=false] .annotation-type-text,
[player-annotations=false] .annotation-shape
{
    display: none!important;
}


/*--------------------------------------------------------------
2.0 Cards (hidden)
--------------------------------------------------------------*/

[player-cards=false] .ytp-ce-element,
[player-cards=false] .ytp-ce-video,
[player-cards=false] .ytp-cards-button,
[player-cards=false] .ytp-cards-teaser
{
    display: none!important;
}


/*--------------------------------------------------------------
3.0 Background (transparent)
--------------------------------------------------------------*/

[transparent-player-background=true] #player-theater-container,
[transparent-player-background=true] #theater-background,
[transparent-player-background=true] #player-api,
[transparent-player-background=true] .player-api,
[transparent-player-background=true] #movie_player,
[transparent-player-background=true] #player-container,
[transparent-player-background=true] #movie_player video
{
    background-color: transparent!important;
}


/*--------------------------------------------------------------
4.0 End Screen
--------------------------------------------------------------*/

[player-endscreen=false] .html5-endscreen
{
    display: none!important;
}


/*--------------------------------------------------------------
5.0 Custom Buttons
--------------------------------------------------------------*/

#improvedtube-repeat-button,
#improvedtube-popup-player-button,
#improvedtube-rotate-video-button,
#improvedtube-screenshot-button,
#improvedtube-play-button
{
    position: relative!important;
}

#improvedtube-play-button svg
{
    position: absolute!important;
    top: 6px!important;
    left: 6px!important;

    width: 24px!important;
    height: 24px!important;

    fill: #fff!important;
}

#improvedtube-repeat-button svg
{
    position: absolute!important;
    top: 6px!important;
    left: 6px!important;

    width: 24px!important;

    fill: #fff!important;
}

#improvedtube-rotate-video-button svg,
#improvedtube-screenshot-button svg,
#improvedtube-popup-player-button svg
{
    position: absolute!important;
    top: 7px!important;
    left: 7px!important;

    width: 22px!important;

    fill: #fff!important;
}

.html5-video-player.ytp-big-mode #improvedtube-play-button svg
{
    top: 10px!important;
    left: 10px!important;

    width: 34px!important;
    height: 34px!important;
}

.html5-video-player.ytp-big-mode #improvedtube-repeat-button svg
{
    top: 10px!important;
    left: 10px!important;

    width: 34px!important;
}

.html5-video-player.ytp-big-mode #improvedtube-rotate-video-button,
.html5-video-player.ytp-big-mode #improvedtube-screenshot-button,
.html5-video-player.ytp-big-mode #improvedtube-popup-player-button
{
    display: none!important;
}


/*--------------------------------------------------------------
6.0 Volume status & Playback speed status
--------------------------------------------------------------*/

#volume-status
{
    font-size: 5rem;

    position: absolute;
    top: 2rem;
    left: 3rem;

    color: #ff0;
    text-shadow: 1px 1px 2px #000;
}

#speed-status
{
    font-size: 5rem;

    position: absolute;
    top: 2rem;
    right: 3rem;

    color: #0ff;
    text-shadow: 1px 1px 2px #000;
}


/*--------------------------------------------------------------
7.0 Player color
--------------------------------------------------------------*/

html[player-color='pink'] .ytp-play-progress,
html[player-color='pink'] .ytp-scrubber-button,
html[player-color='pink'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #e91e63!important;
}

html[player-color='pink'] .ytp-swatch-color
{
    color: #e91e63!important;
}


html[player-color='purple'] .ytp-play-progress,
html[player-color='purple'] .ytp-scrubber-button,
html[player-color='purple'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #9c27b0!important;
}

html[player-color='purple'] .ytp-swatch-color
{
    color: #9c27b0!important;
}


html[player-color='deep_purple'] .ytp-play-progress,
html[player-color='deep_purple'] .ytp-scrubber-button,
html[player-color='deep_purple'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #673ab7!important;
}

html[player-color='deep_purple'] .ytp-swatch-color
{
    color: #673ab7!important;
}


html[player-color='indigo'] .ytp-play-progress,
html[player-color='indigo'] .ytp-scrubber-button,
html[player-color='indigo'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #3f51b5!important;
}

html[player-color='indigo'] .ytp-swatch-color
{
    color: #3f51b5!important;
}


html[player-color='blue'] .ytp-play-progress,
html[player-color='blue'] .ytp-scrubber-button,
html[player-color='blue'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #1e88e5!important;
}

html[player-color='blue'] .ytp-swatch-color
{
    color: #1e88e5!important;
}


html[player-color='light_blue'] .ytp-play-progress,
html[player-color='light_blue'] .ytp-scrubber-button,
html[player-color='light_blue'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #03a9f4!important;
}

html[player-color='light_blue'] .ytp-swatch-color
{
    color: #03a9f4!important;
}


html[player-color='cyan'] .ytp-play-progress,
html[player-color='cyan'] .ytp-scrubber-button,
html[player-color='cyan'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #00bcd4!important;
}

html[player-color='cyan'] .ytp-swatch-color
{
    color: #00bcd4!important;
}


html[player-color='teal'] .ytp-play-progress,
html[player-color='teal'] .ytp-scrubber-button,
html[player-color='teal'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #009688!important;
}

html[player-color='teal'] .ytp-swatch-color
{
    color: #009688!important;
}


html[player-color='green'] .ytp-play-progress,
html[player-color='green'] .ytp-scrubber-button,
html[player-color='green'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #4caf50!important;
}

html[player-color='green'] .ytp-swatch-color
{
    color: #4caf50!important;
}


html[player-color='light_green'] .ytp-play-progress,
html[player-color='light_green'] .ytp-scrubber-button,
html[player-color='light_green'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #8bc34a!important;
}

html[player-color='light_green'] .ytp-swatch-color
{
    color: #8bc34a!important;
}


html[player-color='lime'] .ytp-play-progress,
html[player-color='lime'] .ytp-scrubber-button,
html[player-color='lime'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #cddc39!important;
}

html[player-color='lime'] .ytp-swatch-color
{
    color: #cddc39!important;
}


html[player-color='yellow'] .ytp-play-progress,
html[player-color='yellow'] .ytp-scrubber-button,
html[player-color='yellow'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #ffeb3b!important;
}

html[player-color='yellow'] .ytp-swatch-color
{
    color: #ffeb3b!important;
}


html[player-color='amber'] .ytp-play-progress,
html[player-color='amber'] .ytp-scrubber-button,
html[player-color='amber'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #ffc107!important;
}

html[player-color='amber'] .ytp-swatch-color
{
    color: #ffc107!important;
}


html[player-color='orange'] .ytp-play-progress,
html[player-color='orange'] .ytp-scrubber-button,
html[player-color='orange'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #ff9800!important;
}

html[player-color='orange'] .ytp-swatch-color
{
    color: #ff9800!important;
}


html[player-color='deep_orange'] .ytp-play-progress,
html[player-color='deep_orange'] .ytp-scrubber-button,
html[player-color='deep_orange'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #ff5722!important;
}

html[player-color='deep_orange'] .ytp-swatch-color
{
    color: #ff5722!important;
}


html[player-color='brown'] .ytp-play-progress,
html[player-color='brown'] .ytp-scrubber-button,
html[player-color='brown'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #795548!important;
}

html[player-color='brown'] .ytp-swatch-color
{
    color: #795548!important;
}


html[player-color='blue_gray'] .ytp-play-progress,
html[player-color='blue_gray'] .ytp-scrubber-button,
html[player-color='blue_gray'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #607d8b!important;
}

html[player-color='blue_gray'] .ytp-swatch-color
{
    color: #607d8b!important;
}


html[player-color='white'] .ytp-play-progress,
html[player-color='white'] .ytp-scrubber-button,
html[player-color='white'] .ytp-menuitem[aria-checked='true'] .ytp-menuitem-toggle-checkbox
{
    background-color: #fff!important;
}

html[player-color='white'] .ytp-swatch-color
{
    color: #fff!important;
}










html[youtube-version=new][scroll-for-details='false'] .ytp-fullerscreen-edu-button.ytp-button,
html[youtube-version=new][scroll-for-details='false'] ytd-app[masthead-hidden_] > #content > #masthead-container,
html[youtube-version=new][scroll-for-details='false'] ytd-app[masthead-hidden_] ytd-watch-flexy > #columns
{
    display: none!important;
}





#error-screen
{
    z-index: 9999;
}
