/*-----------------------------------------------------------------------------
>>> GENERAL
-------------------------------------------------------------------------------
1.0 YouTube Home Page
2.0 Add «Scroll to top»
3.0 Squared user images
4.0 Hide animated thumbnails
5.0 Better subscriptions
6.0 Mark watched videos
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.0 YouTube Home Page
-----------------------------------------------------------------------------*/

html[it-page-type=home][it-youtube-home-page=search],
html[it-page-type=home][it-youtube-home-page=search] app-drawer[opened],
html[it-page-type=home][it-youtube-home-page=search] #appbar-guide-menu
{
    visibility: hidden !important;
    overflow: hidden !important;

    width: 100vw !important;
    height: 100vh !important;

    pointer-events: none !important;
}

html[it-page-type=home][it-youtube-home-page=search] ytd-searchbox#search,
html[it-page-type=home][it-youtube-home-page=search] #yt-masthead-content
{
    position: fixed !important;
    z-index: 99999 !important;
    top: 0 !important;
    left: 0 !important;

    display: flex !important;
    visibility: visible !important;

    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;

    pointer-events: all !important;

    justify-content: center !important;
    align-items: center !important;
}

html[it-page-type=home][it-youtube-home-page=search] #yt-masthead-content > form
{
    width: 100% !important;
}

html[it-page-type=home][it-youtube-home-page=search] .gstl_50.sbdd_a
{
    z-index: 99999 !important;

    visibility: visible !important;

    pointer-events: all !important;
}


/*-----------------------------------------------------------------------------
2.0 Add «Scroll to top»
-----------------------------------------------------------------------------*/

#it-scroll-to-top
{
    position: fixed;
    z-index: 999;
    right: 32px;
    bottom: 32px;

    display: flex;
    visibility: hidden;

    box-sizing: border-box;
    width: 56px;
    height: 56px;

    cursor: pointer;
    transition: background 500ms 250ms, transform 500ms, box-shadow 525ms;
    transform: translateY(88px);
    pointer-events: none;

    opacity: 0;
    border-radius: 50%;
    background: linear-gradient(135deg, #f8d266, #f17953);
    box-shadow: 0 1px 1px 1px rgba(230, 109, 70, .7), 0 3px 5px rgba(0,0,0,.35);

    justify-content: center;
    align-items: center;
}

html[it-show-scroll-to-top=true] #it-scroll-to-top
{
    visibility: visible;

    transform: translateY(0px);
    pointer-events: all;

    opacity: 1;
}

#it-scroll-to-top > svg
{
    width: 24px;

    fill: #fff;
}

html[it-show-scroll-to-top="true"] #it-scroll-to-top:hover
{
    transition: background 250ms 125ms, transform 250ms, box-shadow 275ms;
    transform: translateY(4px) scale(.975);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}


/*-----------------------------------------------------------------------------
3.0 Squared user images
-----------------------------------------------------------------------------*/

html[it-squared-user-images=true] #avatar.ytd-shelf-renderer,
html[it-squared-user-images=true] yt-img-shadow,
html[it-squared-user-images=true] #yt-masthead-user .yt-masthead-user-icon
{
    border-radius: unset !important;
}


/*-----------------------------------------------------------------------------
4.0 Hide animated thumbnails
-----------------------------------------------------------------------------*/

html[it-hide-animated-thumbnails=true] #mouseover-overlay,
html[it-hide-animated-thumbnails=true] .mouseover-play,
html[it-hide-animated-thumbnails=true] .mouseover-img
{
    visibility: hidden !important;
}


/*-----------------------------------------------------------------------------
5.0 Better subscriptions
-----------------------------------------------------------------------------*/

#browse-items-primary .section-list > li .shelf-title-cell
{
    display: flex;
}

#browse-items-primary .section-list > li .shelf-title-row
{
    display: flex;

    justify-content: space-between;
}

ytd-item-section-renderer .grid-subheader + #contents,
#browse-items-primary .section-list > li,
#browse-items-primary .section-list > li .multirow-shelf
{
    overflow: hidden;
}

ytd-item-section-renderer.it-section-collapsed .grid-subheader + #contents,
#browse-items-primary .section-list > li.it-section-collapsed .multirow-shelf
{
    height: 0 !important;
}

#browse-items-primary .section-list > li .it-section-collapse
{
    margin-left: 16px;
}

ytd-item-section-renderer .it-section-collapse,
#browse-items-primary .section-list > li .it-section-collapse
{
    cursor: pointer;
}

ytd-item-section-renderer .it-section-collapse svg,
#browse-items-primary .section-list > li .it-section-collapse svg
{
    width: 24px;
    height: 24px;

    transition: transform 150ms;

    fill: var(--ytd-menu-renderer-button-color, var(--yt-spec-icon-inactive));
}

#browse-items-primary .section-list > li .it-section-collapse svg
{
    position: relative;
    top: -2px;
}

ytd-item-section-renderer .it-section-collapse:hover svg,
#browse-items-primary .section-list > li .it-section-collapse:hover svg
{
    fill: var(--yt-spec-icon-active-other);
}

ytd-item-section-renderer.it-section-collapsed .it-section-collapse svg,
#browse-items-primary .section-list > li.it-section-collapsed .it-section-collapse svg
{
    transform: rotate(180deg);
}


/*-----------------------------------------------------------------------------
6.0 Mark watched videos
-----------------------------------------------------------------------------*/

.it-mark-watched
{
    position: absolute;
    z-index: 999;
    bottom: 4px;
    left: 4px;

    visibility: hidden;
    overflow: hidden;

    width: 28px;
    height: 28px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 2px;
    background: rgba(0,0,0,.8);
}

.it-mark-watched svg
{
    position: absolute;
    top: 4px;
    left: 4px;

    width: 20px;
    height: 20px;

    fill: var(--ytd-menu-renderer-button-color, var(--yt-spec-icon-inactive, #aaa));
}

*:hover > .it-mark-watched
{
    visibility: visible;
}

.it-mark-watched.watched svg
{
    fill: var(--yt-spec-icon-active-other, #fff);
}




/*html[it-remove-related-search-results=true] ytd-shelf-renderer.style-scope.ytd-item-section-renderer,
html[it-remove-related-search-results=true] ytd-horizontal-card-list-renderer.style-scope.ytd-item-section-renderer,
html[it-remove-related-search-results=true] li > div.feed-item-container.browse-list-item-container.yt-section-hover-container.compact-shelf.shelf-item.branded-page-box,
html[it-remove-related-search-results=true] li > div.search-refinements
{
    display: none;
}*/
