/*-----------------------------------------------------------------------------
>>> PLAYER
-------------------------------------------------------------------------------
1.0 Ads
2.0 Mini player
    2.1 Position and size
    2.2 Dragging
    2.3 Multipage
3.0 Custom player button
    3.1 Repeat
    3.2 Screenshot
    3.3 Rotate
    3.4 Popup
4.0 Crop chapter titles
-----------------------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 Ads
---------------------------------------------------------------*/

html[it-player-ads="block_all"] .video-ads.ytp-ad-module,
html[it-player-ads="subscribed_channels"] .video-ads.ytp-ad-module
{
    display: none !important
}


/*-----------------------------------------------------------------------------
2.0 Mini player
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
2.1 Position and size
-----------------------------------------------------------------------------*/

.it-mini-player
{
    position: fixed !important;
    z-index: 2147483648 !important;
    left: 0!important;
    top: 0!important;
    margin: 0!important;

    box-shadow: rgba(0, 0, 0, .4) 0 2px 8px !important;

    will-change: transform, width, height !important;
    
    background: #000 !important;
}

.it-mini-player .html5-video-container,
.it-mini-player video
{
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.it-mini-player .ytp-chrome-bottom
{
    width: calc(100% - 24px) !important;
}

.it-mini-player .ytp-chapter-hover-container
{
    width: 100% !important;
}

html[it-mini-player=true] .ytp-contextmenu
{
    z-index: 2147483649 !important;
}

.it-mini-player .ytp-miniplayer-button,
.it-mini-player .ytp-size-button
{
    display: none !important;
}


/*-----------------------------------------------------------------------------
2.2 Dragging
-----------------------------------------------------------------------------*/

.improvedtube-mini-player.dragging
{
    pointer-events: none !important;
}

.improvedtube-mini-player.dragging *:not(.html5-video-container):not(video)
{
    visibility: hidden !important;
}

html[data-cursor='w-resize'],
html[data-cursor='w-resize'] *
{
    cursor: w-resize !important;
}

html[data-cursor='e-resize'],
html[data-cursor='e-resize'] *
{
    cursor: e-resize !important;
}

html[it-mini-player-cursor='n-resize']::after,
html[it-mini-player-cursor='e-resize']::after,
html[it-mini-player-cursor='s-resize']::after,
html[it-mini-player-cursor='w-resize']::after
{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2147483650;
}

html[it-mini-player-cursor='n-resize']::after
{
    cursor: n-resize;
}

html[it-mini-player-cursor='e-resize']::after
{
    cursor: e-resize;
}

html[it-mini-player-cursor='s-resize']::after
{
    cursor: s-resize;
}

html[it-mini-player-cursor='w-resize']::after
{
    cursor: w-resize;
}


/*-----------------------------------------------------------------------------
2.3 Multipage
-----------------------------------------------------------------------------*/

html[it-mini-player=true] ytd-watch-flexy[hidden]
{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;

    display: block !important;
    visibility: hidden !important;

    max-width: 100% !important;

    pointer-events: none !important;
}

html[it-mini-player=true] ytd-watch-flexy[hidden] .ytd-watch-next-secondary-results-renderer
{
    display: none;
}

html[it-mini-player=true] ytd-watch-flexy[hidden] .improvedtube-mini-player
{
    position: fixed !important;

    visibility: visible !important;

    pointer-events: all !important;
}


/*-----------------------------------------------------------------------------
3.0 Custom player button
-----------------------------------------------------------------------------*/

#it-repeat-button,
#it-screenshot-button,
#it-rotate-button,
#it-popup-player-button
{
    position: relative !important;
}

.html5-video-player.ytp-big-mode #it-repeat-button svg,
.html5-video-player.ytp-big-mode #it-screenshot-button svg,
.html5-video-player.ytp-big-mode #it-rotate-button svg,
.html5-video-player.ytp-big-mode #it-popup-player-button svg
{
    top: 10px !important;
    left: 10px !important;

    width: 34px !important;
}

#it-repeat-button svg,
#it-screenshot-button svg,
#it-rotate-button svg,
#it-popup-player-button svg
{
    position: absolute !important;

    fill: #fff !important;
}


/*-----------------------------------------------------------------------------
3.1 Repeat
-----------------------------------------------------------------------------*/

#it-repeat-button svg
{
    top: 6px !important;
    left: 6px !important;

    width: 24px !important;
}


/*-----------------------------------------------------------------------------
3.2 Screenshot
-----------------------------------------------------------------------------*/

#it-screenshot-button svg
{
    top: 7px !important;
    left: 7px !important;

    width: 22px !important;
}


/*-----------------------------------------------------------------------------
3.3 Rotate
-----------------------------------------------------------------------------*/

#it-rotate-button svg
{
    top: 7px !important;
    left: 7px !important;

    width: 22px !important;
}


/*-----------------------------------------------------------------------------
3.4 Popup
-----------------------------------------------------------------------------*/

#it-popup-player-button svg
{
    top: 7px !important;
    left: 7px !important;

    width: 22px !important;
}












.it-player-button
{
    position: relative !important;

    overflow: visible !important;
}

.it-player-button::before
{
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;

    position: absolute;
    top: -38px;
    left: 50%;

    visibility: hidden;

    min-height: unset;
    padding: 5px 9px;

    content: attr(data-title);
    transform: translateX(-50%);
    pointer-events: none;

    border-radius: 2px;
    background-color: rgba(28,28,28,.9);
}

.it-player-button:hover::before
{
    visibility: visible;

    pointer-events: all;
}






/*-----------------------------------------------------------------------------
4.0 Crop chapter titles
-----------------------------------------------------------------------------*/

html[it-player-crop-chapter-titles='false'] .ytp-chapter-title
{
    width: auto !important;
}
