html[theme=default_dark]
{
    --it-primary-color: #f96754;

    --it-header-background: #3d3d3d;
    --it-header-title-color: #dcdcdc;
    --it-header-button-color: rgba(255, 255, 255, .059);
    --it-header-icon-color: #dcdcdc;

    --it-body-section-label-color: #bbb;
    --it-body-section-background: #3a3a3a;
    --it-body-background-color: #262626;
    --it-item-hover-color: rgba(255, 255, 255, .04);
    --it-item-text-color: rgba(255, 255, 255, .87);
    --it-item-label-color: #fafafa;
    --it-item-radio-color: rgba(255,255,255,.54);

    --it-body-appearance-shadow: #303030;
}
