html[theme=night]
{
    --it-primary-color: #f96754;
    --it-header-background: #007ea7;
    --it-header-title-color: #fff;
    --it-header-button-color: rgba(255, 255, 255, .1);
    --it-header-icon-color: #fff;
    --it-body-section-label-color: #ccc;
    --it-body-section-background: #007ea7;
    --it-body-background-color: #003459;
    --it-item-hover-color: rgba(255, 255, 255, .04);
    --it-item-text-color: rgba(255, 255, 255, .87);
    --it-item-label-color: #fafafa;
    --it-item-radio-color: rgba(255, 255, 255, .54);
    --it-body-appearance-shadow: #005571;
}

html[theme=night] .header__title,
html[theme=night] .list__item__label
{
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
}

@keyframes night
{
    0%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    25%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .45) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .3) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    50%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .3) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .9) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    75%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .45) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .7) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .3) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }

    100%
    {
        background-image: radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
        radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
        linear-gradient(#3a48b4, #61a7f5);
    }
}

.list__item_night-theme > ul
{
    position: relative;

    overflow: hidden;

    animation-name: night;
    animation-duration: .75s;
    animation-iteration-count: infinite;

    background-image: radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .8) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%),
    radial-gradient(rgba(255, 255, 255, .5) 50%, transparent 50%),
    linear-gradient(#3a48b4, #61a7f5);
    background-repeat: no-repeat;
    background-position: 75% 80%, 35% 65%, 30% 10%, 50% 40%, 10% 80%, 90% 10%, 0 0;
    background-size: 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, auto;
}

.list__item_night-theme > ul::before
{
    position: absolute;
    top: -2rem;
    left: 4rem;

    width: 6rem;
    height: 6rem;

    content: '';
    pointer-events: none;

    border-radius: 50%;
    background: radial-gradient(#f1f6ff 50%, transparent 50%),
    radial-gradient(#f1f6ff 50%, transparent 50%),
    radial-gradient(#fff 20%,
    rgba(32, 105, 150, .25) 20%,
    rgba(32, 105, 150, .25) 35%,
    rgba(32, 105, 150, .15) 35%,
    rgba(32, 105, 150, .15) 55%,
    rgba(32, 105, 150, .05) 55%,
    rgba(32, 105, 150, .05) 75%,
    transparent 75%);
    background-repeat: no-repeat;
    background-position: 47px 50px, 40px 41px, 0 0;
    background-size: 6px 6px, 10px 11px, 100% 100%;
}

.list__item_night-theme .list__item_toggle .list__item__label
{
    color: #fafafa;
}

.list__item_night-theme .list__item_toggle .list__item_toggle__status
{
    border-color: #fafafa;
}
