/*-----------------------------------------------------------------------------
>>> SETTINGS
-------------------------------------------------------------------------------
1.0 ImprovedTube icon on YouTube
    1.1 Button
    1.2 Popup
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.0 ImprovedTube icon on YouTube
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.1 Button
-----------------------------------------------------------------------------*/

#improvedtube-button
{
    position: relative;
    z-index: 2147483645;

    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    margin: .45rem 0 0;

    text-align: center;

    border-radius: 50%;
    background: #ff5050;
}

#improvedtube-button svg
{
    width: 3rem;
    height: 3rem;

    fill: #fff;
}

@media (max-width : 656px)
{
    #improvedtube-button
    {
        margin-right: 0;
    }
}

[youtube-version=old] #improvedtube-button
{
    display: block;
    float: right;

    width: 27px;
    height: 27px;
    margin: 0 0 0 10px;
}

[youtube-version=old] #improvedtube-button svg
{
    width: 27px;
    height: 27px;
}

#improvedtube-button.header_left
{
    float: left;

    margin: 0 10px 0 0;
}

ytd-masthead:not(.masthead-finish) #end #improvedtube-button
{
    margin: -.2rem 0 0 .5rem!important;
}

#improvedtube-button.bottom_left
{
    position: fixed;
    z-index: 2147483645;
    bottom: 1rem;
    left: 1rem;

    transition: opacity .1s;

    opacity: .5;
}

#improvedtube-button.bottom_right
{
    position: fixed;
    z-index: 2147483645;
    right: 1rem;
    bottom: 1rem;

    transition: opacity .1s;

    opacity: .5;
}

#improvedtube-button.bottom_left:hover,
#improvedtube-button.bottom_right:hover
{
    opacity: 1;
}

#improvedtube-button.below_player
{
    top: 4px;

    display: inline-block;
    float: none;

    width: 20px;
    height: 20px;
    margin: 0 8px;
}

#improvedtube-button.below_player svg
{
    width: 20px;
    height: 20px;
    margin: 0;
}


/*-----------------------------------------------------------------------------
1.2 Popup
-----------------------------------------------------------------------------*/

#improvedtube-popup
{
    position: absolute;
    z-index: 2147483646;
    top: 3rem;
    left: 0;

    visibility: hidden;

    width: 320px;
    height: 400px;

    transition: .15s;
    pointer-events: none;

    opacity: 0;
    border: none;
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.75);
}

#improvedtube-popup.show
{
    visibility: visible;

    pointer-events: all;

    opacity: 1;
}

#improvedtube-popup-background
{
    position: fixed;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100vw;
    height: 100vh;

    pointer-events: none;

    opacity: 0;
    background: #000;
}

#improvedtube-popup-background.show
{
    visibility: visible;

    pointer-events: all;

    opacity: .2;
}
