/*--------------------------------------------------------------
>>> HEADER:
----------------------------------------------------------------
# Position
# Improve logo
# Hide right buttons
# Hide country code
# Hide voice search button
--------------------------------------------------------------*/

html[it-header-transparent=true] ytd-masthead { background-color: rgba(230, 230, 230, 0.1) !important;}

/*--------------------------------------------------------------
# POSITION
--------------------------------------------------------------*/

html[it-header-position=hidden] #masthead-container:not([it-search-focus=true]),
html[it-header-position=hidden_on_video_page][data-page-type=video] #masthead-container:not([it-search-focus=true])
{transform: translateY(-100%);
}
html[it-header-position=hidden] tp-yt-app-drawer#guide #guide-spacer,
html[it-header-position=hidden] tp-yt-app-drawer:not([opened]) #header ytd-topbar-logo-renderer,
html[it-header-position=hidden] tp-yt-app-drawer:not([opened]) #header .it-button,
html[it-header-position=hover] tp-yt-app-drawer#guide #guide-spacer,
html[it-header-position=hover] tp-yt-app-drawer:not([opened]) #header ytd-topbar-logo-renderer,
html[it-header-position=hover] tp-yt-app-drawer:not([opened]) #header .it-button,
html[it-header-position=static] tp-yt-app-drawer#guide #guide-spacer,
html[it-header-position=static] tp-yt-app-drawer:not([opened]) #header ytd-topbar-logo-renderer,
html[it-header-position=static] tp-yt-app-drawer:not([opened]) #header .it-button,
html[it-header-position=hidden_on_video_page][data-page-type=video] tp-yt-app-drawer#guide #guide-spacer,
html[it-header-position=hover_on_video_page][data-page-type=video] tp-yt-app-drawer#guide #guide-spacer {
	display:none;
}

html[it-header-position=hover] #masthead-container,
html[it-header-position=hover] tp-yt-app-drawer,
html[it-header-position=hover] ytd-mini-guide-renderer,
html[it-header-position=hover_on_video_page][data-page-type='video'] #masthead-container,
html[it-header-position=hover_on_video_page][data-page-type='video'] tp-yt-app-drawer,
html[it-header-position=hover_on_video_page][data-page-type='video'] ytd-mini-guide-renderer,
html[it-header-position=static] tp-yt-app-drawer,
html[it-header-position=static] ytd-mini-guide-renderer {
	z-index: 2200 !important;
}

html[it-header-position=hidden] ytd-page-manager#page-manager,
html[it-header-position=hidden_on_video_page][data-page-type='video'] ytd-page-manager#page-manager,
html[it-header-position=hover] ytd-page-manager#page-manager,
html[it-header-position=hover_on_video_page][data-page-type='video'] ytd-page-manager#page-manager,
html[it-header-position=hidden][data-page-type='channel'] tp-yt-app-header#header,
html[it-header-position=hidden_on_video_page][data-page-type='channel'] tp-yt-app-header#header,
html[it-header-position=hover][data-page-type='channel'] tp-yt-app-header#header,
html[it-header-position=hover_on_video_page][data-page-type='channel'] tp-yt-app-header#header,
html[it-header-position=static] ytd-page-manager#page-manager {
	margin-top: 0;
}

html[it-header-position=hover]:not([it-improvedtube-search=true]) #masthead-container,
html[it-header-position=hover_on_video_page][data-page-type='video']:not([it-improvedtube-search=true]) #masthead-container {

	transition: all 320ms ease-in-out;
	transform: translateY(-38%);
	height: 68px;
	opacity: 0;
}

html[it-header-position=hidden] #masthead-container:not([it-search-focus=true]):focus-within,
html[it-header-position=hidden_on_video_page][data-page-type=video] #masthead-container:not([it-search-focus=true]):focus-within,
html[it-header-position=hover] #masthead-container:hover,
html[it-header-position=hover] #masthead-container:focus-within,
html[it-header-position=hover][it-search-focus=true] #masthead-container,
html[it-header-position=hover_on_video_page][data-page-type='video'] #masthead-container:hover,
html[it-header-position=hover_on_video_page][data-page-type='video'] #masthead-container:focus-within,
html[it-header-position=hover_on_video_page][data-page-type='video'][it-search-focus=true] #masthead-container,
html[it-header-position=hover] #masthead-container:hover #background,
html[it-header-position=hover] #masthead-container:focus-within #background,
html[it-header-position=hover][it-search-focus=true] #masthead-container #background,
html[it-header-position=hover_on_video_page][data-page-type='video'] #masthead-container:hover #background,
html[it-header-position=hover_on_video_page][data-page-type='video'] #masthead-container:focus-within #background,
html[it-header-position=hover_on_video_page][data-page-type='video'][it-search-focus=true] #masthead-container #background {
	transform: translateY(0%);	
	opacity: 1 !important;	
}


html[it-header-position=static] .ytd-app:not([masthead-hidden_]) #masthead-container {
	position: relative;
	z-index: 7000 !important;
}

html[it-header-position=hover_on_video_page]:not([data-page-type=video]) tp-yt-app-drawer:not([opened]) #header,
html[it-header-position=hover]:not([data-page-type=video]) tp-yt-app-drawer:not([opened]) #header,
html[it-header-position=hidden]:not([data-page-type=video]) tp-yt-app-drawer:not([opened]) #header,
html[it-header-position=static]:not([data-page-type=video]) tp-yt-app-drawer:not([opened]) #header {
	position: absolute;
	visibility: visible;
	left: 240px;
	top: 120px;
	padding: 0 16px;
	background: var(--yt-spec-brand-background-solid);
}

html[it-header-position=hover] tp-yt-app-drawer #header,
html[it-header-position=hidden] tp-yt-app-drawer #header,
html[it-header-position=static] tp-yt-app-drawer #header {
	display: flex !important;
}

html[it-header-position=hover] #chips-wrapper.ytd-feed-filter-chip-bar-renderer,
html[it-header-position=hidden] #chips-wrapper.ytd-feed-filter-chip-bar-renderer,
html[it-header-position=static] #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
	position: inherit;
}
/*--------------------------------------------------------------
# IMPROVE LOGO
--------------------------------------------------------------*/
html[it-header-improve-logo='true'] ytd-topbar-logo-renderer path[fill='#FF0000'],
html[it-header-improve-logo='true'] ytd-topbar-logo-renderer polygon[fill='#FFFFFF'] {
	fill: rgb(40, 40, 40) !important;}
html[it-header-improve-logo='true'][dark] ytd-topbar-logo-renderer path[fill='#FF0000'] {
	fill: rgb(66, 66, 66) !important;}
/*--------------------------------------------------------------
# HIDE RIGHT BUTTONS
--------------------------------------------------------------*/
html[it-header-hide-right-buttons='true'] #masthead #container #end 
{visibility: hidden !important; 	pointer-events: none !important;}
/*--------------------------------------------------------------
# HIDE COUNTRY CODE
--------------------------------------------------------------*/
html[it-header-hide-country-code='true'] #logo #country-code,
/*--------------------------------------------------------------
# HIDE VOICE SEARCH BUTTON
--------------------------------------------------------------*/
html[it-hide-voice-search-button='true'] #voice-search-button 
{display: none !important;}