/*--------------------------------------------------------------
>>> HEADER:
----------------------------------------------------------------
# Position
# Improve logo
# Hide right buttons
# Hide country code
# Hide voice search button
# Turn top bar icons barely visible
--------------------------------------------------------------*/
html[it-header-transparent=true] ytd-masthead#masthead {background: transparent !important;}
html[it-header-transparent=true] ytd-masthead[frosted-glass] #background.ytd-masthead {backdrop-filter: blur(1px) !important;}
html[it-header-transparent=true] {  --ytd-searchbox-background: rgba(var(--ytd-searchbox-background), 0.5) !important;  }
/*--------------------------------------------------------------
# POSITION
--------------------------------------------------------------*/
html[it-header-position=hidden] #masthead-container:not([it-search-focus=true]),
html[it-header-position=hidden_on_video_page][data-page-type=video] #masthead-container:not([it-search-focus=true]) {
	transform: translateY(-100%);
}

html[it-header-position=hidden] tp-yt-app-drawer#guide #guide-spacer,
html[it-header-position=hidden] tp-yt-app-drawer:not([opened]) #header ytd-topbar-logo-renderer,
html[it-header-position=hidden] tp-yt-app-drawer:not([opened]) #header .it-button,
html[it-header-position=hover] tp-yt-app-drawer#guide #guide-spacer,
html[it-header-position=hover] tp-yt-app-drawer:not([opened]) #header ytd-topbar-logo-renderer,
html[it-header-position=hover] tp-yt-app-drawer:not([opened]) #header .it-button,
html[it-header-position=static] tp-yt-app-drawer#guide #guide-spacer,
html[it-header-position=static] tp-yt-app-drawer:not([opened]) #header ytd-topbar-logo-renderer,
html[it-header-position=static] tp-yt-app-drawer:not([opened]) #header .it-button,
html[it-header-position=hidden_on_video_page][data-page-type=video] tp-yt-app-drawer#guide #guide-spacer,
html[it-header-position=hover_on_video_page][data-page-type=video] tp-yt-app-drawer#guide #guide-spacer {
	display: none;
}

html[it-header-position=hover] #masthead-container,
html[it-header-position=hover] tp-yt-app-drawer,
html[it-header-position=hover] ytd-mini-guide-renderer,
html[it-header-position=hover_on_video_page][data-page-type='video'] #masthead-container,
html[it-header-position=hover_on_video_page][data-page-type='video'] tp-yt-app-drawer,
html[it-header-position=hover_on_video_page][data-page-type='video'] ytd-mini-guide-renderer,
html[it-header-position=static] tp-yt-app-drawer,
html[it-header-position=static] ytd-mini-guide-renderer {
	z-index: 2200 !important;
	z-index: 7 !important;
	z-index: 7 !important;
}

html[it-header-position=hidden] ytd-page-manager#page-manager,
html[it-header-position=hidden_on_video_page][data-page-type='video'] ytd-page-manager#page-manager,
html[it-header-position=hover] ytd-page-manager#page-manager,
html[it-header-position=hover_on_video_page][data-page-type='video'] ytd-page-manager#page-manager,
html[it-header-position=hidden][data-page-type='channel'] tp-yt-app-header#header,
html[it-header-position=hidden_on_video_page][data-page-type='channel'] tp-yt-app-header#header,
html[it-header-position=hover][data-page-type='channel'] tp-yt-app-header#header,
html[it-header-position=hover_on_video_page][data-page-type='channel'] tp-yt-app-header#header,
html[it-header-position=static] ytd-page-manager#page-manager {
	margin-top: 0;
}

html[it-header-position=hover]:not([it-improvedtube-search=true]) #masthead-container,
html[it-header-position=hover_on_video_page][data-page-type='video']:not([it-improvedtube-search=true]) #masthead-container {
	transition: all 320ms ease-in-out;
	transform: translateY(-38%);
	height: 68px;
	opacity: 0;
}

html[it-header-position=hidden] #masthead-container:not([it-search-focus=true]):focus-within,
html[it-header-position=hidden_on_video_page][data-page-type=video] #masthead-container:not([it-search-focus=true]):focus-within,
html[it-header-position=hover] #masthead-container:hover,
html[it-header-position=hover] #masthead-container:focus-within,
html[it-header-position=hover][it-search-focus=true] #masthead-container,
html[it-header-position=hover_on_video_page][data-page-type='video'] #masthead-container:hover,
html[it-header-position=hover_on_video_page][data-page-type='video'] #masthead-container:focus-within,
html[it-header-position=hover_on_video_page][data-page-type='video'][it-search-focus=true] #masthead-container,
html[it-header-position=hover] #masthead-container:hover #background,
html[it-header-position=hover] #masthead-container:focus-within #background,
html[it-header-position=hover][it-search-focus=true] #masthead-container #background,
html[it-header-position=hover_on_video_page][data-page-type='video'] #masthead-container:hover #background,
html[it-header-position=hover_on_video_page][data-page-type='video'] #masthead-container:focus-within #background,
html[it-header-position=hover_on_video_page][data-page-type='video'][it-search-focus=true] #masthead-container #background {
	transform: translateY(0%);
	opacity: 1 !important;
}

html[it-header-position=static] .ytd-app:not([masthead-hidden_]) #masthead-container {
	position: static;
	z-index: 7 !important;
}

html[it-header-position=hover_on_video_page]:not([data-page-type=video]) tp-yt-app-drawer:not([opened]) #header,
html[it-header-position=hover]:not([data-page-type=video]) tp-yt-app-drawer:not([opened]) #header,
html[it-header-position=hidden]:not([data-page-type=video]) tp-yt-app-drawer:not([opened]) #header,
html[it-header-position=static]:not([data-page-type=video]) tp-yt-app-drawer:not([opened]) #header {
	position: absolute;
	visibility: visible;
	left: 240px;
	top: 120px;
	padding: 0 16px;
	background: var(--yt-spec-brand-background-solid);
}

html[it-header-position=hover] tp-yt-app-drawer #header,
html[it-header-position=hidden] tp-yt-app-drawer #header,
html[it-header-position=static] tp-yt-app-drawer #header {
	display: flex !important;
}

/*
html[it-header-position=hover] #chips-wrapper.ytd-feed-filter-chip-bar-renderer,
html[it-header-position=hidden] #chips-wrapper.ytd-feed-filter-chip-bar-renderer,
html[it-header-position=static] #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
	top: 9px !important;
}

}*/
/*--------------------------------------------------------------
# IMPROVE LOGO
--------------------------------------------------------------*/
html[it-header-improve-logo='true'] ytd-topbar-logo-renderer path[fill='#FF0000'],
html[it-header-improve-logo='true'] ytd-topbar-logo-renderer polygon[fill='#FFFFFF'] {
	fill: rgb(40, 40, 40) !important;
}

html[it-header-improve-logo='true'][dark] ytd-topbar-logo-renderer path[fill='#FF0000'] {
	fill: rgb(66, 66, 66) !important;
}

html[it-header-transparent=true] ytd-masthead #logo-icon {
    display: none !important;
}

/*--------------------------------------------------------------
# HIDE RIGHT BUTTONS
--------------------------------------------------------------*/
html[it-header-hide-right-buttons='true'] #masthead #container #end {
    visibility: hidden !important;
    pointer-events: none !important;
}

/* Define initial opacity for the icons */
html[it-header-transparent=true] ytd-masthead #end {
    opacity: 1;
    transition: opacity 2s ease;
}

/* Change opacity when scrolling down */
html[it-header-transparent=true][data-scroll-direction='down'] ytd-masthead #end {
    opacity: 0;
}

/*--------------------------------------------------------------
# HIDE COUNTRY CODE
--------------------------------------------------------------*/
html[it-header-hide-country-code='true'] #logo #country-code,

/* Hide country initials when scrolling down */
html[it-header-transparent=true] #country-code {
    display: none !important;
}
/*--------------------------------------------------------------
# VOICE SEARCH BUTTON
--------------------------------------------------------------*/

html[it-hide-voice-search-button='true'] #voice-search-button  {
	display: none !important;
}

/* Show the voice search button when scrolled to the top */
html[it-header-transparent=true] #voice-search-button {
    display: block !important;
	background-color: black !important;
}

/*--------------------------------------------------------------
# TURN TOP BAR SEARCH BUTTONS BARELY VISIBLE
--------------------------------------------------------------*/

/* Make top header bar transparent */
html[it-header-transparent=true] ytd-masthead,
html[it-header-transparent=true] ytd-masthead #masthead,
html[it-header-transparent=true] ytd-masthead #background,
html[it-header-transparent=true] ytd-masthead #search-input.ytd-searchbox-spt,
html[it-header-transparent=true] ytd-masthead #search-input.ytd-searchbox-spt-container,
html[it-header-transparent=true] ytd-masthead #search-input input {
    opacity: 0.7 !important;
	background: transparent;
	box-shadow: none;
	border: none;
}

html[it-header-transparent=true] ytd-masthead #search-input.ytd-searchbox-spt-container {
    background-color: transparent !important;
}

/* Make the entire search bar transparent with transparent border */
html[it-header-transparent=true][data-scroll-direction='down'] ytd-masthead #search-input.ytd-searchbox-spt-container {
	opacity: 0.7 !important;

}

html[it-header-transparent=true][data-scroll-direction='down'] ytd-masthead #search-input input {
    opacity: 0.7 !important;
}

html[it-header-transparent=true][data-scroll-direction='down'] ytd-masthead #search-input.ytd-searchbox-spt-container {
    background-color: rgba(255, 255, 255, 0.5) !important;
}


/* Fill search button with black */
html[it-header-transparent=true] ytd-masthead #search-icon-legacy {
    background-color: black !important;
}

/* Make other icons fully opaque */
html[it-header-transparent=true] ytd-masthead #search-icon-legacy,
html[it-header-transparent=true] ytd-masthead #end,
html[it-header-transparent=true][data-scroll-direction='down'] ytd-masthead #logo-icon {
    opacity: 1 !important;
}

/* Make other icons barely visible */
html[it-header-transparent=true][data-scroll-direction='down'] ytd-masthead #end {
    opacity: 0.7 !important;
}
