/*-----------------------------------------------------------------------------
>>> «SECTION» COMPONENT
-----------------------------------------------------------------------------*/

.satus-section--align-start
{
    display: flex;

    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

.satus-section--align-end
{
    display: flex;

    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.satus-section--align-center
{
    display: flex;

    flex: 1;
    align-items: center;
    justify-content: center;
}

.satus-section.satus-section--has-label
{
    margin: 38px auto 8px;
}

.satus-section.satus-section--has-label::before
{
    font-size: 13px;
    font-weight: 600;

    display: block;

    box-sizing: border-box;
    width: 100%;
    margin: -28px 0 9px 0;
    padding: 0 8px;

    content: attr(data-label);

    opacity: .7;
    color: var(--primary);
}
