/*-----------------------------------------------------------------------------
>>> «SECTION» COMPONENT
-----------------------------------------------------------------------------*/

.satus-main .satus-section
{
    margin: 0 auto 8px;
}

.satus-main .satus-section
{
    color: var(--text-z-index-1);
    background-color: var(--background-z-index-1);

    fill: var(--text-z-index-1);
}

.satus-section--align-start
{
    display: flex;

    align-items: center;
    flex: 1;
    justify-content: flex-start;
}

.satus-section--align-end
{
    display: flex;

    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.satus-section--align-center
{
    display: flex;

    align-items: center;
    flex: 1;
    justify-content: center;
}

.satus-main .satus-section.satus-section--has-label
{
    margin: 30px auto 8px;
}

.satus-section.satus-section--has-label::before
{
    font-size: 13px;
    font-weight: 600;

    position: absolute;

    margin: -32px 0 0 8px;

    content: attr(data-label);

    opacity: .7;
    color: var(--primary);
}
