/*--------------------------------------------------------------
>>> MINI_PLAYER.CSS
----------------------------------------------------------------
1.0 Mini Player
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 Mini Player
--------------------------------------------------------------*/

html[mini-player] #movie_player
{
    z-index: 1!important;
}


html[mini-player] #movie_player video
{
    position: fixed!important;
    z-index: 999999!important;
    top: auto!important;
    left: auto!important;

    min-width: none!important;
    min-height: none!important;

    border: 1px solid #666!important;
    background: #000 !important;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2)!important;
}

html[mini-player] #movie_player video
{
    will-change: left, top;
}

html[move-player] *
{
    pointer-events: none!important;
}



#improvedtube-miniplayer
{
    position: fixed;
    z-index: 9999;
    bottom: 32px;
    left: 32px;

    width: 350px;
    height: 200px;
}
