/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Basic
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# FONTS
--------------------------------------------------------------*/

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;

    src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 600;

    src: url('assets/fonts/OpenSans-SemiBold.ttf');
}


/*--------------------------------------------------------------
# BASIC
--------------------------------------------------------------*/

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 300px;
    height: 500px;
    margin: 0;

    background-color: #eee;
}

body.improvedtube-page
{
    width: 100vw;
    height: 100vh;
}

button
{
    font-family: 'Open Sans', sans-serif;
}






.satus-dialog--confirm .satus-text
{
    display: block;

    box-sizing: border-box;
    padding: 0 16px 8px;
}

.satus-dialog--confirm .satus-button
{
    font-weight: 500;

    overflow: hidden;

    height: 28px;
    min-height: 28px;
    margin-right: 2px;
    padding: 4px 8px;

    text-transform: uppercase;

    color: #f96754;
    border-radius: 4px;
}






















.satus-section--footer
{
    position: fixed;
    z-index: 99;
    bottom: 16px;
    left: 16px;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    width: 268px;
    height: 42px;
    padding: 8px 16px;
    color: var(--satus-theme-main-text);
    border-radius: 4px;
    background: var(--satus-theme-section);
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

html[it-improvedtube-home='list'] .satus-section--footer
{
    position: static;
    margin: 8px 16px 16px
}

.satus-main .satus-section--footer .satus-button
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    color: var(--satus-theme-main-text);
    text-align: center;
    height: 32px;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
}
