/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Basic
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# FONTS
--------------------------------------------------------------*/

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;

    src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 600;

    src: url('assets/fonts/OpenSans-SemiBold.ttf');
}


/*--------------------------------------------------------------
# BASIC
--------------------------------------------------------------*/

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 300px;
    height: 500px;
    margin: 0;

    background-color: #eee;
}

body.improvedtube-page
{
    width: 100vw;
    height: 100vh;
}

button
{
    font-family: 'Open Sans', sans-serif;
}






.satus-dialog--confirm .satus-text
{
    display: block;

    box-sizing: border-box;
    padding: 0 16px 8px;
}

.satus-dialog--confirm .satus-button
{
    font-weight: 500;

    overflow: hidden;

    height: 28px;
    min-height: 28px;
    margin-right: 2px;
    padding: 4px 8px;

    text-transform: uppercase;

    color: #f96754;
    border-radius: 4px;
}

body[data-appearance='home'] > a {
    display: block !important
}
