/*---------------------------------------------------------------
>>> INDEX
-----------------------------------------------------------------
# Fonts
# Basic
---------------------------------------------------------------*/

/*---------------------------------------------------------------
# FONTS
---------------------------------------------------------------*/

@font-face
{
    font-family: 'Open Sans';

    src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 600;

    src: url('assets/fonts/OpenSans-SemiBold.ttf');
}


/*---------------------------------------------------------------
# BASIC
---------------------------------------------------------------*/

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    margin: 0;

    background-color: var(--satus-theme-main);
}

body.improvedtube-page
{
    width: 100vw;
    height: 100vh;
}
