/*---------------------------------------------------------------
>>> MAIN
-----------------------------------------------------------------
1.0 Section
2.0 Folder
3.0 Ad
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 SECTION
---------------------------------------------------------------*/

html[it-improvedtube-home='list'] .satus-main__container[data-appearance='home'] .satus-section,
.satus-main__container:not([data-appearance='home']) .satus-section
{
    display: block;

    width: calc(100% - 16px);
    max-width: 900px;
    margin: 8px auto;
    padding: 8px 0;

    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
}

html[it-improvedtube-home='list'] .satus-main__container[data-appearance='home'] .satus-section--message,
.satus-main__container:not([data-appearance='home']) .satus-section--message
{
    padding-right: 8px;
    padding-left: 8px;
}


/*---------------------------------------------------------------
2.0 FOLDER
--------------------------------------------------------------*-/

.satus-main .satus-folder svg
{
    width: 20px;
    height: 20px;
    margin: 0 14px 0 0;

    opacity: .75;

    stroke: none;
    fill: var(--satus-theme-primary);
}


/*---------------------------------------------------------------
3.0 AD
---------------------------------------------------------------*/

.satus-main .satus-button.satus-button--ad
{
    position: fixed;
    z-index: 99;
    bottom: 16px;
    left: 16px;

    display: flex;

    box-sizing: border-box;
    width: 268px;
    height: 38px;
    height: 80px;
    padding: 8px 16px;

    color: var(--satus-theme-main-text);
    border-radius: 8px;
    border-radius: 4px;
    background: var(--satus-theme-section);
    background: #242424;
    box-shadow: 0 0 3px rgba(0,0,0,.1);

    align-items: center;
    justify-content: space-between;
}

.satus-button--ad .satus-button__label
{
    font-size: 16px;
    font-weight: 700;

    letter-spacing: 1px;

    color: rgba(255,255,255,.9);
    text-shadow: 2px 1px 2px rgba(0,0,0,.6);
}

.satus-button--ad::after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    animation-name: satus-switch--dark;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    pointer-events: none;

    background: radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%) !important;
    background-repeat: no-repeat !important;
    background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px !important;
    background-size: 50px 50px, 50px 50px, 100px 100px, 75px 75px !important;

    filter: blur(8px);
}

html[it-improvedtube-home='list'] .satus-main .satus-button.satus-button--ad
{
    position: relative;
    top: 0;
    left: 0;

    margin: 50px 16px 16px;
}

/*.satus-dialog--confirm .satus-section
{
    display: flex;

    background-color: transparent;
}

.satus-dialog--confirm .satus-text
{
    display: block;

    box-sizing: border-box;
    padding: 0 16px 8px;
}

.satus-dialog--confirm .satus-button
{
    font-weight: 500;

    overflow: hidden;

    height: 28px;
    min-height: 28px;
    margin-right: 2px;
    padding: 4px 8px;

    text-transform: uppercase;

    color: #f96754;
    border-radius: 4px;
}*/
