/*---------------------------------------------------------------
>>> MAIN
-----------------------------------------------------------------
# Ad
---------------------------------------------------------------*/

/*---------------------------------------------------------------
# AD
---------------------------------------------------------------*/

.satus-main .satus-button.satus-button--ad
{
    position: absolute;
    z-index: 99;
    bottom: 16px;
    left: 16px;

    overflow: hidden;

    width: 268px;
    height: 38px;
    height: 80px;
    padding: 8px 16px;

    color: var(--satus-theme-main-text);
    border-radius: 8px;
    background: #0f1911;
    box-shadow: 0 0 3px rgba(0,0,0,.1);

    align-items: center;
    justify-content: space-between;
}

.satus-button--ad .satus-button__label
{
    font-family: 'Xanh Mono', monospace;
    font-size: 22px;

    letter-spacing: 1px;

    color: rgba(255,255,255,.9);
    text-shadow: 2px 1px 2px rgba(0,0,0,.6);
}

@keyframes satusSwitchDark
{
    0%
    {
        transform: translate(0, 0);
    }
    33%
    {
        transform: translate(20px, 10px);
    }
    66%
    {
        transform: translate(10px, -10px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}

.satus-button--ad::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    animation-name: satusSwitchDark;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    pointer-events: none;

    background: radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%), radial-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2), transparent 60%) !important;
    background-repeat: no-repeat !important;
    background-position: -10px 40px, 200px 0, -30px -20px, 130px 30px !important;
    background-size: 50px 50px, 50px 50px, 100px 100px, 75px 75px !important;

    filter: blur(8px);
}

html[it-improvedtube-home='list'] .satus-main .satus-button.satus-button--ad
{
    position: relative;
    top: 0;
    left: 0;

    margin: 16px;
}

.satus-button--ad:after
{
    position: absolute;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100%;

    content: '';
    transition: .5s;
    transition-delay: .2s;

    background: linear-gradient(90deg,transparent,rgba(255,255,255,.2),transparent);
}

.satus-button--ad:hover:after
{
    left: 100%;
}
