/*--------------------------------------------------------------
>>> MAIN:
----------------------------------------------------------------
1.0 Basic
2.0 Section
3.0 Folder
4.0 Button
5.0 Custom
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 BASIC
--------------------------------------------------------------*/

.satus-main
{
    flex: 1;
}

.satus-dialog--setup
{
    animation: unset;
}

.satus-dialog--setup .satus-dialog__scrim
{
    display: none;
}

.satus-dialog--setup .satus-dialog__surface
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    max-height: unset;

    transform: unset;
    animation: unset;

    opacity: 1;
    border-radius: unset;
}


/*--------------------------------------------------------------
2.0 SECTION
--------------------------------------------------------------*/

.satus-main .satus-section--label
{
    font-size: 17px;

    display: block;

    width: calc(100% - 16px);
    margin: 16px auto 8px;
}

.satus-main__container:not([data-appearance='home']) .satus-section
{
    display: block;

    width: calc(100% - 16px);
    max-width: 900px;
    margin: 8px auto;
    padding: 8px 0;

    color: var(--satus-theme-on-surface, #777);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    background-color: var(--satus-theme-surface, #fff);
}

.satus-main__container:not([data-appearance='home']) .satus-section--message
{
    padding-right: 8px;
    padding-left: 8px;
}


/*--------------------------------------------------------------
3.0 FOLDER
--------------------------------------------------------------*/

.satus-main .satus-folder svg
{
    width: 20px;
    height: 20px;
    margin: 0 14px 0 0;

    opacity: .75;

    stroke: none;
    fill: #f6b465;
}


/*--------------------------------------------------------------
4.0 BUTTON
--------------------------------------------------------------*/

.satus-main .satus-button
{
    width: 100%;
    height: 48px;
    padding: 0 16px;
}


/*--------------------------------------------------------------
5.0 CUSTOM
--------------------------------------------------------------*/

#forced-playback-speed + *,
#forced-volume + *
{
    pointer-events: none;

    opacity: .5;
}

#forced-playback-speed[data-value=true] + *,
#forced-volume[data-value=true] + *
{
    pointer-events: all;

    opacity: 1;
}
