.satus-dialog--setup
{
    animation: unset;
}

.satus-dialog--setup .satus-dialog__scrim
{
    display: none;
}

.satus-dialog--setup .satus-dialog__surface
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    max-height: unset;

    transform: unset;
    animation: unset;

    opacity: 1;
    border-radius: unset;
}

.satus-dialog--setup-language .satus-button
{
    width: 100%;
    height: 48px;
}
