name: Create browser builds for release

on:
  release:
    types: [published]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install pip
        run: python -m pip install --upgrade pip

      - name: Build Firefox and Chromium variants
        run: |
          cd build/
          python3 build.py -firefox
          python3 build.py -chromium-stable
          python3 build.py -chromium-beta
          python3 build.py -chromium-edge
          python3 build.py -chromium-whale
          ls -la

      - name: Upload builds to Release
        uses: softprops/action-gh-release@v2
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          files: ${{ github.workspace }}/*.zip
          if-no-files-found: error